/*----------------------------*/
/* 06. Post Timeline Styles
/*----------------------------*/

.eael-post-timeline {
	margin-bottom: 0;
	min-height: 100%;
	overflow: hidden;
	position: relative;
}

.eael-timeline-column {
	width: 50%;
	margin-left: 0;
	float: left;
	margin-top: 0 !important;
}

.eael-timeline-post {
	position: relative;
}

.eael-timeline-post:after {
	background-color: rgba(83, 85, 86, .2);
	content: "";
	width: 2px;
	height: 245px;
	position: absolute;
	right: 0;
	top: 70px;
}

.eael-timeline-post:nth-child(2n):after {
	display: none;
}

.eael-timeline-bullet {
	background-color: #9fa9af;
	border: 5px solid #fff;
	border-radius: 50%;
	box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.1);
	content: "";
	height: 20px;
	position: absolute;
	right: -9px;
	top: 60px;
	width: 20px;
	z-index: 3;
	cursor: pointer;
}

.eael-timeline-post:nth-child(2n) .eael-timeline-bullet {
	background-color: #9fa9af;
	border: 5px solid #fff;
	border-radius: 50%;
	bottom: 36px;
	content: "";
	height: 20px;
	left: -11px;
	position: absolute;
	top: 300px;
	width: 20px;
	z-index: 3;
}

.eael-timeline-post-inner {
	background: linear-gradient(45deg, #3f3f46 0%, #05abe0 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: 8px solid #e5eaed;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
	float: right;
	margin: 30px 40px 30px auto;
	position: relative;
	height: 320px;
	width: calc(100% - 40px);
}

.eael-timeline-post:nth-child(even) .eael-timeline-post-inner {
	float: left;
	margin-left: 40px;
}

.eael-timeline-post-inner:after {
	border-color: transparent transparent transparent #e5eaed;
	border-style: solid;
	border-width: 15px;
	content: "";
	height: 0;
	position: absolute;
	right: -36px;
	top: 17px;
	width: 0;
}

.eael-timeline-post:nth-child(2n) .eael-timeline-post-inner:after {
	border-color: transparent #e5eaed transparent transparent;
	border-style: solid;
	border-width: 15px;
	content: "";
	height: 0;
	left: -36px;
	position: absolute;
	top: 257px;
	width: 0;
}

.eael-timeline-post:nth-child(2n) .eael-timeline-post-inner::after {
	border-left-color: transparent !important;
}

.eael-timeline-post p {
	margin: 1.6rem 0 0 0;
	font-size: 0.9em;
	line-height: 1.6em;
}

.eael-timeline-post-image {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	display: block;
	height: 100%;
	overflow: hidden;
	position: relative;
	opacity: .6;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}

.eael-timeline-post-title {
	bottom: 40px;
	position: absolute;
	width: 100%;
}

.eael-timeline-post-title h2 {
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 24px;
	padding: 0 25px;
	text-align: left;
	text-transform: uppercase;
}

.eael-timeline-post-excerpt {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}

.eael-timeline-post-excerpt p {
	color: #fff;
	font-size: 14px;
	padding: 25px;
}

.eael-timeline-post-inner:hover .eael-timeline-post-excerpt {
	opacity: 1;
	top: 10px;
}

.eael-timeline-post-inner:hover .eael-timeline-post-image {
	opacity: .3;
}

.eael-timeline-post time {
	opacity: 0;
	background-color: rgba(0, 0, 0, .7);
	color: #fff;
	font-size: 10px;
	border-radius: 20px;
	position: absolute;
	right: -97px;
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	top: 50px;
	z-index: 99;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}

.eael-timeline-post:nth-child(2n) time {
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 20px;
	color: #fff;
	font-size: 10px;
	height: 30px;
	left: -99px;
	line-height: 30px;
	position: absolute;
	text-align: center;
	top: 290px;
	width: 100px;
	z-index: 99;
}

.eael-timeline-post time:before {
	border-bottom: 5px solid rgba(0, 0, 0, 0.7);
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	content: "";
	height: 0;
	left: 45px;
	position: absolute;
	top: -5px;
	width: 0;
}

.eael-timeline-post:hover time {
	opacity: 1;
}

.eael-timeline-post::after {
	height: 100%;
}

.eael-post-timeline .eael-timeline-post:nth-last-child(2)::after {
	height: 245px;
}

.eael-post-timeline .eael-timeline-post:last-child::after {
	display: none;
}

.eael-load-more-button-wrap {
	display: flex;
}


/*--- Responsive Style for Post Timeline ---*/

@media only screen and (max-width: 1366px) {
	.eael-timeline-post-title h2 {
		font-size: 0.8em;
	}
	.eael-timeline-post-excerpt p {
		font-size: 13px;
	}
}

@media only screen and (max-width: 1169px) {
	.eael-timeline-post-inner {
		height: 320px;
	}
}

@media only screen and (max-width: 992px) {
	.eael-post-timeline {
		margin-left: 0;
	}
	.eael-timeline-bullet,
	.eael-timeline-post:after,
	.eael-timeline-post:before,
	.eael-timeline-post-inner:after {
		display: none;
	}
	.eael-timeline-post {
		display: inline-block;
		float: left !important;
		width: 50% !important;
		margin: 15px auto;
	}
	.eael-timeline-post-inner {
		height: 320px;
		padding-bottom: 30px;
	}
	.eael-timeline-post-title {
		bottom: 50px;
	}
	.eael-timeline-post-title h2 {
		font-size: 0.8em;
		line-height: 1.2em;
	}
	.eael-timeline-post .eael-timeline-post-inner {
		margin: 0 10px auto 0;
		width: 90%;
	}
	.eael-timeline-post:nth-child(2n) .eael-timeline-post-inner {
		margin: 0 auto 0 10px;
		width: 90%;
	}
	.eael-timeline-post-excerpt {
		opacity: 0!important;
	}
	.eael-timeline-post-image {
		opacity: .3;
	}
	.eael-timeline-post time,
	.eael-timeline-post:nth-child(2n) time {
		background-color: #fff;
		border-radius: 0;
		color: #444;
		font-size: 12px;
		text-transform: uppercase;
		left: 0;
		opacity: 1;
		padding-top: 3px;
		top: 275px;
		width: 100%;
	}
	time:before {
		display: none;
	}
}

@media only screen and (max-width: 767px) {
	.eael-timeline-post {
		display: block;
		float: none !important;
		margin: 20px auto;
		width: 100% !important;
	}
	.eael-timeline-post .eael-timeline-post-inner,
	.eael-timeline-post:nth-child(2n) .eael-timeline-post-inner {
		display: block;
		float: none;
		margin: 0 auto;
	}
}

@media only screen and (max-width: 479px) {
	.eael-timeline-post .eael-timeline-post-inner,
	.eael-timeline-post:nth-child(2n) .eael-timeline-post-inner {
		height: 250px;
		margin: 0 auto;
		width: 95%;
	}
	.eael-timeline-post time,
	.eael-timeline-post:nth-child(2n) time {
		top: 205px;
	}
}