.eael-event-calendar-wrapper {
	.fc-row table {
		margin: 0px !important;
	}

	.fc-view table thead:first-child tr:first-child td {
		border-top: 1px solid #ddd !important;
	}

	.fc-day-grid-event {
		margin-top: 2px;
		padding: 8px;
		font-size: 12px;
		border-left-width: 5px;
	}

	.fc-row table thead:first-child tr:first-child th {
		font-size: 14px;
	}

	.fc-day-number {
		font-size: 14px;
		float: center !important;
	}

	.fc-time-grid .fc-event {
		min-height: 15px;
	}

	.eaelec-modal {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: -1;

		.eael-ec-modal-bg {
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			width: 100%;
			background: #000000;
			opacity: 0;
			transition: all 0.3s ease-out;
		}

		&.eael-ec-popup-ready {
			z-index: 100;
			opacity: 1;
		}
	}

	.eaelec-modal-content {
		position: relative;
		margin: auto;
		border: 1px solid #888;
		max-width: 900px;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
		background-color: #fefefe;
		padding: 20px 0;
		width: 100%;
	}

	.eaelec-modal-header {
		padding: 0px 30px;
		color: white;
		border-left: 5px solid #009900;
		overflow: auto;
	}

	.eaelec-modal-header h2 {
		color: #242424;

		margin: 0;
		padding: 0;
	}

	.eaelec-modal-header .eaelec-event-popup-date {
		color: #5725ff;
	}

	.eaelec-modal-close {
		position: absolute;
		right: -15px;
		top: -18px;
		font-size: 24px;
		z-index: 9999;
		cursor: pointer;
		box-sizing: content-box;
		overflow: visible;
		border: 2px solid #fff;
		background: #5725ff;
		text-align: center;
		box-shadow: 2px 0px 12px 3px rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
		color: #fff!important;
		height: 35px;
		width: 35px;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
	}

	.eaelec-modal-close:hover,
	.eaelec-modal-close:focus {
		color: #fff;
		text-decoration: none;
		cursor: pointer;
	}

	.eaelec-modal-body {
		padding: 0px 10px 0 35px;
		margin: 10px 0;
		color: #555555;
	}

	.eaelec-modal-footer {
		padding: 0px 10px 0 35px;
		color: white;
		border: 0px solid #ff0000;
	}

	.eaelec-event-date-start,
	.eaelec-event-date-end {
		font-size: 12px;
	}

	@media (max-width: 575px) {
		.fc-toolbar {
			margin: 0 !important;
			padding: 0 !important;
		}
		.fc-toolbar .fc-center {
			width: 100% !important;
			margin: 0 !important;
			padding: 0 !important;
		}
		.fc-toolbar h2 {
			font-size: 16px !important;
			width: 100% !important;
			text-align: center !important;
			padding: 5px !important;
		}

		.fc-ltr .fc-axis {
			font-size: 12px !important;
		}

		.fc-row table thead:first-child tr:first-child th {
			font-weight: normal !important;
			font-size: 12px !important;
			padding: 5px !important;
		}
	}
}

// Calendar Header
.fc-toolbar.fc-header-toolbar {
	margin-bottom: 25px;

	button.fc-button.fc-state-default {
		box-shadow: none;
		height: auto;
		width: auto;
		float: none;
		font-size: 15px;
		font-weight: normal;
		color: #707070;
		margin-left: 15px;
		border-radius: 3px;
		text-transform: capitalize;
		background: #fff;
		text-shadow: none;
		&.fc-state-active, &:hover, &:visited, &:focus {
			background: #5725ff;
			color: #fff;
		}
	}

	button.fc-state-default {
		padding: 8px 30px 8px 40px;
	}
	
	button.fc-button.fc-today-button,
	button.fc-next-button.fc-button,
	button.fc-prev-button,
	button.fc-today-button
	button.fc-next-button,
	button.fc-prev-button {
		padding: 8px 30px 8px 30px;
	}

	button.fc-agendaWeek-button,
	button.fc-agendaDay-button,
	button.fc-month-button {
		position: relative;
		&:before {
			position: absolute;
			left: 0;
			font-family: fontawesome;
			right: 65px;
		}
	}

	button.fc-agendaWeek-button:before {  content: "\f03a"; left: 8px;}
	button.fc-agendaDay-button:before { content: "\f0c9"; left: 21px; }
	button.fc-month-button:before { content: "\f00a"; }
}

// Calendar body
th.fc-widget-header > span {
	padding: 14px;
	display: block;
	font-size: 20px;
	color: #424344;
}

span.fc-day-number {
    padding: 17px;
    display: block;
}

.fc-basic-view .fc-day-number,
.fc-basic-view .fc-week-number {
    padding: 12px 2px 2px 2px;
    display: block;
    border-bottom: 0px solid;
}

.eael-event-calendar-wrapper {
	.fc-view {
		.fc-body {
			thead:first-child {
				tr:first-child {
					td {
						border-bottom: 3px solid transparent;
					}
				}
			}
		}
	}
}

.eael-event-calendar-wrapper {
	.fc-view {
		table {
			thead:first-child {
				tr:first-child {
					td {
						border-top: 1px solid #dfdfe9;
					}
				}
			}
		}
	}
}

.fc-unthemed {
	.fc-content,
	.fc-divider,
	.fc-list-heading td,
	.fc-list-view,
	.fc-popover,
	.fc-row,
	tbody,
	td,
	th,
	thead {
		border-color: #dfdfe9;
	}

	
	a.fc-day-grid-event,
	.fc-event {
		color: #707070;
		font-size: 14px;
		background: #fff;
		border-top: 0px solid;
		border-bottom: 0px solid;
		border-right: 0px solid;
		border-radius: 0;
		box-shadow: 0px 3px 6px 0px rgba(50, 33, 121, 0.15);
		border-left:2px solid #10ecab;
		font-weight: normal;
		width: 98%;
		margin: 0 auto;
		.fc-day-grid-event .fc-time {
			font-weight: normal;
		}
	}
	.fc-time-grid {
		.fc-event {
			height: 35px;;

			.fc-content {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 100%;
				width: 100%;
			}
		}
	}
	.fc-event:hover {
		color: #707070;
	}

}

.eaelec-modal.eael-zoom-in {
	opacity: 0;
	transition: all 0.3s ease-out;

	.eaelec-modal-content {
		opacity: 0;
		transition: all 0.3s ease-in-out;
		transform: scale(0.5);
	}

	&.eael-ec-popup-ready {
		.eael-ec-modal-bg {
			opacity: .7;
		}
		.eaelec-modal-content {
            opacity: 1;
            transform: scale(.9);
		}
	}
	&.eael-ec-modal-removing {
		.eaelec-modal-content {
			transform: scale(0.5);
            opacity: 0;
		}
		.eael-ec-modal-bg {
			opacity: 0;
		}
	}
}