/*----------------------------*/
/* 30. Advance Tabs
/*----------------------------*/
.eael-advance-tabs {
  display: block;
}

.eael-advance-tabs .eael-tabs-nav > ul {
  position: relative;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.eael-advance-tabs .eael-tabs-nav > ul li {
  position: relative;
  padding: 1em 1.5em;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.eael-advance-tabs .eael-tabs-nav > ul li:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0px;
  right: 0px;
  margin: 0 auto;
  z-index: 1;
  width: 0px;
  height: 0px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #444;
  border-bottom: 0px;
  display: none;
}

.eael-advance-tabs.active-caret-on .eael-tabs-nav > ul li.active:after,
.eael-advance-tabs.active-caret-on .eael-tabs-nav > ul li.active-default:after {
  display: none;
}

.eael-advance-tabs .eael-tabs-nav > ul li.active:after,
.eael-advance-tabs .eael-tabs-nav > ul li.active-default:after {
  display: block;
}

.eael-tabs-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.eael-advance-tabs .eael-tabs-content > div {
  display: none;
  opacity: 0;
}

.eael-advance-tabs .eael-tabs-content > div.active,
.eael-advance-tabs .eael-tabs-content > div.active-default {
  display: block;
  width: 100%;
  padding: 1em;
  opacity: 1;
  -webkit-animation: fadeIn linear 0.3s;
          animation: fadeIn linear 0.3s;
}

/*--- Inline Icon ---*/
.eael-tab-inline-icon li a .fa {
  margin-right: 10px;
  line-height: 1;
}

.eael-tab-top-icon li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  text-align: center;
}

.eael-tab-top-icon li a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  text-align: center;
}

.eael-tab-top-icon li .fa,
.eael-tab-top-icon li .eael-tab-title {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  line-height: 1;
}

.eael-tab-top-icon li a .eael-tab-title {
  margin-top: 10px;
}

/*--- Vertical Tabs ---*/
.eael-advance-tabs.eael-tabs-vertical {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.eael-advance-tabs.eael-tabs-vertical .eael-tabs-nav {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.eael-advance-tabs.eael-tabs-vertical .eael-tabs-nav > ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.eael-advance-tabs.eael-tabs-vertical .eael-tabs-nav > ul > li {
  width: 100%;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.eael-advance-tabs.eael-tabs-vertical .eael-tabs-nav > ul li::after {
  bottom: auto !important;
  right: -10px;
  top: calc(50% - 10px);
  left: auto !important;
  border-left: 10px solid #444;
  border-right: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

@media only screen and (max-width: 767px) {
  .eael-advance-tabs .eael-tabs-nav > ul {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }

  .eael-advance-tabs .eael-tabs-nav > ul li {
    -webkit-box-flex: 1;
    -webkit-flex: 1 100%;
        -ms-flex: 1 100%;
            flex: 1 100%;
  }

  .eael-advance-tabs.eael-tabs-vertical {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }

  .eael-advance-tabs.eael-tabs-vertical div.eael-tabs-nav {
    -webkit-box-flex: 1;
    -webkit-flex: 1 100%;
        -ms-flex: 1 100%;
            flex: 1 100%;
  }

  .eael-advance-tabs.eael-tabs-vertical ul {
    -webkit-box-flex: 1;
    -webkit-flex: 1 100%;
        -ms-flex: 1 100%;
            flex: 1 100%;
  }

  .eael-advance-tabs.eael-tabs-vertical ul li {
    -webkit-box-flex: 1;
    -webkit-flex: 1 100%;
        -ms-flex: 1 100%;
            flex: 1 100%;
  }

  div.eael-advance-tabs.eael-tabs-vertical div.eael-tabs-nav > ul li::after {
    border-left-color: transparent !important;
    bottom: -20px !important;
    left: 0 !important;
    right: 0 !important;
    top: auto !important;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top-color: #444 !important;
  }
}
