.sass-cache
.DS_Store
.phpintel
./gulpfile.js
package-lock.json
pnpm-lock.yaml
composer.lock
/node_modules
.idea/*
/vendor/squizlabs/
/vendor/wp-coding-standards/
/vendor/phpcompatibility/
/vendor/dealerdirect/
/vendor/phpcsstandards/

# E2E testing
test-results/
playwright-report/
