<?xml version="1.0"?>
<phpunit
	bootstrap="tests/php/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	beStrictAboutTestsThatDoNotTestAnything="false"
>
	<testsuites>
		<testsuite name="essential-addons">
			<directory suffix="Test.php">tests/php</directory>
		</testsuite>
	</testsuites>
</phpunit>
