html {
  scroll-behavior: smooth;
}

.eael-toc {
  position: absolute;
  z-index: 9999;
  width: 300px !important;
  top: 50%;
}
.eael-toc.eael-toc-disable {
  display: none;
}
.eael-toc.eael-sticky {
  position: fixed;
  top: 50px;
  background: none;
}
.eael-toc.expanded .eael-toc-header,
.eael-toc.expanded .eael-toc-body,
.eael-toc.expanded .eael-toc-close {
  display: none;
}
.eael-toc.expanded .eael-toc-button {
  display: inline-block;
  -webkit-transform: translate(-90px, 120px) rotate(90deg);
          transform: translate(-90px, 120px) rotate(90deg);
  background: #ff7d50;
  color: #fff;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 3px;
  text-decoration: none;
  text-transform: none;
}
.eael-toc.expanded .eael-toc-button i {
  margin-right: 10px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.eael-toc .eael-toc-header {
  background: #ff7d50;
  padding: 12px 32px;
}
.eael-toc .eael-toc-header .eael-toc-title {
  font-size: 18px;
  margin: 0;
  color: #fff;
  font-weight: 400;
  letter-spacing: 0.1px;
}
.eael-toc .eael-toc-header .eael-toc-title:before {
  content: none;
}
.eael-toc .eael-toc-body {
  padding: 12px 20px;
  background: #fff6f3;
  overflow-y: auto;
  max-height: 75vh;
}
.eael-toc .eael-toc-body ul.eael-toc-list {
  margin-left: -5px;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}
.eael-toc .eael-toc-body ul.eael-toc-list > li {
  padding: 8px 0;
  border-top: .5px dashed #c6c4cf;
  list-style-position: inside !important;
  color: #c6c4cf;
}
.eael-toc .eael-toc-body ul.eael-toc-list > li:before {
  content: '\00b7';
  font-size: 50px;
  line-height: 0;
  vertical-align: middle;
  margin-right: 5px;
  margin-left: -5px;
  font-weight: 600;
  bottom: 3px;
  position: relative;
}
.eael-toc .eael-toc-body ul.eael-toc-list > li > ul {
  display: none;
  margin-left: 25px !important;
  margin-top: 5px !important;
}
.eael-toc .eael-toc-body ul.eael-toc-list > li ul {
  margin: 0;
  padding: 0;
}
.eael-toc .eael-toc-body ul.eael-toc-list > li ul li {
  margin: 5px 0;
}
.eael-toc .eael-toc-body ul.eael-toc-list > li:first-child {
  border: none;
}
.eael-toc .eael-toc-body ul.eael-toc-list > li.active ul {
  display: block;
}
.eael-toc .eael-toc-body ul.eael-toc-list li {
  font-size: 15px;
  list-style: none;
  margin: 0 20px 0 20px;
}
.eael-toc .eael-toc-body ul.eael-toc-list li.active {
  color: #ff7d50;
}
.eael-toc .eael-toc-body ul.eael-toc-list li.active > a {
  color: #ff7d50;
}
.eael-toc .eael-toc-body ul.eael-toc-list li.eael-highlight {
  color: #ff7d50;
}
.eael-toc .eael-toc-body ul.eael-toc-list li.eael-highlight > a {
  color: #ff7d50;
}
.eael-toc .eael-toc-body ul.eael-toc-list li.eael-highlight > ul {
  display: block;
}
.eael-toc .eael-toc-body ul.eael-toc-list li a {
  text-decoration: none;
  color: #707070;
}
.eael-toc .eael-toc-body ul.eael-toc-list.eael-toc-list-style_2 > li:before, .eael-toc .eael-toc-body ul.eael-toc-list.eael-toc-list-style_3 > li:before {
  content: " ";
}
.eael-toc .eael-toc-body ul.eael-toc-list.eael-toc-list-style_2 li.active > a:before {
  position: absolute;
  left: 0;
  font-size: 15px;
  z-index: 999999;
  border-bottom: 10px solid #ff7d50;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  content: " ";
  margin-top: 5px;
}
.eael-toc .eael-toc-body ul.eael-toc-list.eael-toc-list-style_3 li.active > a:after {
  position: absolute;
  font-size: 15px;
  z-index: 999999;
  content: " ";
  margin-top: -6px;
  right: 0;
  background: #ff7d50;
  height: 31px;
  width: 2px;
}
.eael-toc .eael-toc-body ul.eael-toc-list.eael-toc-collapse > li > ul {
  display: block !important;
}
.eael-toc .eael-toc-body ul.eael-toc-list.eael-toc-number li {
  counter-increment: item;
}
.eael-toc .eael-toc-body ul.eael-toc-list.eael-toc-number li:before {
  position: relative !important;
  left: -5px;
  content: counters(item,".");
  font-size: 16px;
}
.eael-toc .eael-toc-body ul.eael-toc-list.eael-toc-number > li ul {
  counter-reset: item;
}
.eael-toc .eael-toc-close {
  position: absolute;
  width: 29px;
  height: 29px;
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  right: -9px;
  top: -11px;
  line-height: 26px;
  text-align: center;
  border-radius: 20px;
  color: #ff7d50;
  font-weight: 500;
  cursor: pointer;
}
.eael-toc.eael-toc-right {
  right: 0;
  width: inherit !important;
}
.eael-toc.eael-toc-right .eael-toc-close {
  left: -11px;
}
.eael-toc.eael-toc-right .eael-toc-button {
  -webkit-transform: translate(90px, 120px) rotate(90deg);
          transform: translate(90px, 120px) rotate(90deg);
}
.eael-toc .eael-toc-button {
  display: none;
}
