@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  $mode-base: #ffffff;
  --page-background: #F5F6FC;
  --base-background: #ffffff;
  --background-1: #F9EFFB;
  --background-2: #F6EEFF;
  --background-3: #EFF8FF;
  --background-4: #E0FCF5;
  --background-5: #12B76A;
  --background-6: #FFAD4C;
  --background-7: #5262EE;
  --background-8: #FDFDFF;
  --label-color: #EAECF0;
  --label-color-fill: #7F56D9;
  --base-color-50: #750EF4;
  --base-color-75: #6F0AF2;
  --base-color-100: #FF9437;
  --text-color-25: #1D2939;
  --text-color-50: #344054;
  --text-color-100: #475467;
  --text-color-150: #937998;
  --text-color-200: #1570EF;
  --text-icon-100: #98A2B3;
  --text-icon-200: #2E90FA;
  --text-icon-300: #00C567;
  --text-icon-400: #AFB6C0;
  --text-icon-500: #667085;
  --text-icon-active: #E1C9FF;
  --border-color-base: #F2F4F7;
  --border-color-2: #F9F3F1;
  --shadow-color-12: #1B212C1F;
  --shadow-color-10: #1018281A;
  --shadow-color-8: #00012314;
  --shadow-color-6: #1018280F;

  --mode-switcher-icon: "\e905";
}

.ea-admin {
  font-family: "Rubik", sans-serif;

  &.ea-dark-mode {
    $mode-base: #000000;
    --page-background: #36405a;
    --base-background: #2c3650;
    --base-color-50: #1f283d;
    --base-color-75: #1f283d;
    --base-color-100: #1f283d;
    --text-color-25: #101828;
    --text-color-50: #232e46;
    --text-color-100: #101828;
    --text-color-150: #232e46;
    --text-color-200: #36405a;
    --text-color-300: #36405a;
    --text-color-400: #36405a;
    --text-color-500: #d0d5dd;
    --text-color-600: #d0d5dd;
    --text-color-700: #fcfcfd;
    --text-color-800: #fcfcfd;
    --text-color-900: #fcfcfd;
    --warning-50: #473502;
    --warning-100: #5d470b;
    --danger-50: #190207;
    --mode-switcher-icon: "\e903";
  }
}

body {
  background: var(--page-background);
}

#ea__dashboard--wrapper {
  font-size: 16px;
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  max-width: 100%;
}

.relative {
  position: relative;
}

.hidden {
  overflow: hidden;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.justify-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.min-h-full {
  min-height: 100vh;
}

.gap-1 {
  gap: 4px;
}

.gap-2 {
  gap: 8px;
}

.gap-4 {
  gap: 16px;
}

.gap-5 {
  gap: 20px;
}

.gap-6 {
  gap: 24px;
}

.gap-10 {
  gap: 40px;
}

.mb-1 {
  margin-bottom: 4px;
}

.mb-2 {
  margin-bottom: 8px;
}

.mb-3 {
  margin-bottom: 12px;
}

.mb-4 {
  margin-bottom: 16px;
}

.mb-5 {
  margin-bottom: 20px;
}

.mb-6 {
  margin-bottom: 24px;
}

.mb-8 {
  margin-bottom: 32px;
}

#ea__dashboard--wrapper .min-w-220 {
  min-width: 220px;
}

#ea__dashboard--wrapper .max-w-220 {
  max-width: 220px;
}

#ea__dashboard--wrapper .min-w-230 {
  min-width: 230px;
}

#ea__dashboard--wrapper .max-w-230 {
  max-width: 230px;
}

.pointer {
  cursor: pointer;
}

#ea__dashboard--wrapper .underline {
  text-decoration: underline;
}

#ea__dashboard--wrapper .primary-btn {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.6em;
  font-family: "Rubik", sans-serif;
  color: var(--text-color-50);
  display: inline-flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 8px 20px;
  background: transparent;
  border-radius: 8px;
  border: 1px solid var(--text-color-100);
  transition: all .35s ease-in-out;
  cursor: pointer;
  position: relative;

}

#ea__dashboard--wrapper .primary-btn:hover {
  color: var(--base-background);
  background: var(--base-color-75);
  border: 1px solid var(--base-color-75);

}

#ea__dashboard--wrapper .primary-btn.install-btn {
  color: var(--base-background);
  border: 1px solid var(--base-color-75);
  background: conic-gradient(from 195.22deg at 68.31% 39.29%, rgba(143, 32, 251, 0) 0deg, #8F20FB 360deg), linear-gradient(0deg, #6F0AF2, #6F0AF2);

}

#ea__dashboard--wrapper button.primary-btn.changelog-btn i {
  font-size: 9px;
}

#ea__dashboard--wrapper button.primary-btn.install-btn i {
  font-size: 12px;
}

#ea__dashboard--wrapper button.upgrade-button {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3em;
  font-family: "Rubik", sans-serif;
  color: var(--base-background);
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 8px 20px;
  background: var(--base-color-100);
  border-radius: 8px;
  border: 1px solid var(--base-color-100);
  transition: all .35s ease-in-out;
  cursor: pointer;
  position: relative;
  width: 100%;
}

#ea__dashboard--wrapper button.upgrade-button:hover {
  color: var(--base-background);
  background: var(--base-color-100);
  border: 1px solid var(--base-color-100);
}

#ea__dashboard--wrapper button.upgrade-button i {
  font-size: 16px;
}

#ea__dashboard--wrapper button {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3em;
  font-family: "Rubik", sans-serif;
  background: transparent;
  border: none;
  color: var(--text-color-50);
  cursor: pointer;
  transition: all .35s ease-in-out;
}

#ea__dashboard--wrapper button:hover {
  color: var(--base-color-50);
}

#ea__dashboard--wrapper h3.ea__content-title {
  font-size: 18px;
  line-height: 1.2em;
  font-weight: 500;
  color: var(--text-color-25);
}

#ea__dashboard--wrapper h3.ea__content-title.title {
  margin-bottom: 16px;
}

#ea__dashboard--wrapper .toggle-label {
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 400;
  color: var(--text-color-25);
}

#ea__dashboard--wrapper input.input-name {
  font-size: 14px;
  color: var(--text-color-100);
  line-height: 1.2em;
  border: none;
  border-right: 1px solid var(--label-color);
  padding-left: 16px;
  padding-right: 16px;
  width: 220px;
  background: transparent;
}

#ea__dashboard--wrapper input.input-name:focus-visible {
  outline: 0;
}

#ea__dashboard--wrapper ::placeholder {
  color: var(--text-icon-500);
}

#ea__dashboard--wrapper .select-option-wrapper {
  position: relative;
}

#ea__dashboard--wrapper .form-select {
  color: var(--text-color-100);
  font-size: 14px;
  line-height: 1.5em;
  width: 140px;
  height: 44px;
  border: none;
  padding: 0 16px;
  background: transparent;
  cursor: pointer;
  appearance: none;
}

#ea__dashboard--wrapper .form-select:focus-visible,
#ea__dashboard--wrapper .form-select:focus {
  outline: 0;
  box-shadow: none;
}

#ea__dashboard--wrapper .select-option-wrapper:after,
#ea__dashboard--wrapper .select-option-external:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
  text-align: center;
  cursor: pointer;
  border-top: 5px solid var(--text-icon-500);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  pointer-events: none;
}

#ea__dashboard--wrapper .select-wrapper {
  margin-bottom: 30px;
}

/* Toggle css */

#ea__dashboard--wrapper .toggle-wrap {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
}

#ea__dashboard--wrapper .toggle-wrap input {
  opacity: 0;
  width: 0;
  height: 0;
}

#ea__dashboard--wrapper .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--label-color);
  border-radius: 12px;
  transition: ease-in-out .35s;
}

#ea__dashboard--wrapper .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: var(--base-background);
  border-radius: 50%;
  transition: ease-in-out .35s;
  box-shadow: 0px 1px 2px 0px var(--shadow-color-6), 0px 1px 3px 0px var(--shadow-color-10);
}

#ea__dashboard--wrapper .slider.pro:before {
  content: '\e901';
  font-family: "eaicon";
  font-size: 10px;
  color: var(--text-color-100);
  display: flex;
  align-items: center;
  justify-content: center;
}

#ea__dashboard--wrapper input:checked+.slider {
  background-color: var(--label-color-fill);
}

#ea__dashboard--wrapper input:checked+.slider:before {
  transform: translateX(16px);
}

/*----- Slider -------- */



/*-------- general-nav ------------*/

.ea__sidebar-nav-list {
  padding: 20px;
  background: #F1F2FA;
  border: 1px solid #EBEEF2;
  border-radius: 8px;
  min-width: 220px;
  max-width: 220px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-shrink: 0;
  min-height: 100vh;
}

.ea__sidebar-nav {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  padding: 8px 20px;
  background: transparent;
  border-radius: 8px;
  transition: ease-in-out .25s;
}

.ea__nav-icon {
  display: inline-flex;
  font-size: 12px;
  color: var(--text-icon-100);
}

span.ea__nav-icon svg {
  width: 24px;
  height: 24px;
}

.ea__sidebar-nav .ea__nav-text {
  color: var(--text-color-50);
  font-size: 16px;
  font-weight: 450;
  transition: ease-in-out .25s;
}

.ea__sidebar-nav:hover {
  background: var(--page-background);
}

.ea__sidebar-nav.active {
  background: var(--base-color-50);
}

.ea__sidebar-nav.active .ea__nav-text {
  color: var(--base-background);
}

.ea__sidebar-nav.active span.ea__nav-icon {
  color: var(--text-icon-active);
}

.ea__sidebar-nav.active {
  color: #2B2748;
}

.ea__main-content-wrapper {
  flex: 1;
}

.ea__general-content-item {
  background: var(--base-background);
  border-radius: 8px;
  padding: 24px;
  border: 1px solid var(--border-color-base);
  margin-bottom: 16px;
  background-image: url(/assets/images/img-4.png);
  background-repeat: no-repeat;
  background-position-x: right;
}

.ea__general-content-item h3 {
  font-size: 22px;
  line-height: 1.2em;
  font-weight: 500;
  color: var(--text-color-25);
  margin-bottom: 18px;
}

.ea__general-content-item .ea__content-details {
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color-100);
  line-height: 1.2em;
}

.ea__general-content-item h2 {
  font-size: 26px;
  line-height: 1.2em;
  font-weight: 500;
  color: var(--text-color-25);
  margin-bottom: 12px;
}

.ea__section-wrapper {
  max-width: 1144px;
  margin: 0 auto;
}

.ea__section-header {
  background: var(--base-background);
  width: auto;
  position: relative;
  left: 0;
  right: 0;
  z-index: 9999;
}

.ea__header-content {
  max-width: 1144px;
  margin: 0 auto;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

span.dark-icon {
  width: 36px;
  height: 36px;
  background: var(--page-background);
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: var(--text-color-100);
}

.ea__section-wrapper.ea__main-wrapper {
  padding-top: 120px;
  padding-bottom: 100px;
}

.ea__sidebar-info {
  max-width: 232px;
  min-width: 232px;
}

.ea__sidebar-content {
  padding: 24px;
  background: var(--base-background);
  border-radius: 8px;
  border: 1px solid var(--border-color-base);
  margin-bottom: 16px;
  background-image: url(/assets/images/pro-bg.png);
  background-repeat: no-repeat;
  background-position: top;
}

/* .ea__sidebar-content:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: linear-gradient(#FFF1E0B2, #FFCDD0);
    z-index: -1;
    -webkit-clip-path: ellipse(145% 50% at left top);
    clip-path: ellipse(145% 50% at left top);
} */

.ea__content-details span.check-icon {
  width: 18px;
  height: 18px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: var(--background-1);
  font-size: 9px;
  font-weight: 600;
  color: var(--text-color-150);
  border-radius: 4px;
}

.templates-content {
  padding: 24px 0px 24px 24px;
}

.ea__general-content-item.templates {
  padding: 0;
  background-image: none;
  background-color: #FEFAFF;
  border: 1px solid var(--border-color-base);
}

.templates-img {
  display: contents;
}

.templates-img img {
  border-radius: 0 8px 8px 0;
  padding-left: 30px;
}

.ea__connect-others {
  padding: 24px;
  background: var(--base-background);
  border-radius: 8px;
}

.ea__others-icon {
  font-size: 18px;
  width: 40px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin-bottom: 16px;
}

.ea__others-icon.eaicon-1 {
  color: var(--base-color-50);
  background: var(--background-2);
}

.ea__others-icon.eaicon-2 {
  color: var(--text-icon-200);
  background: var(--background-3);
}

.ea__others-icon.eaicon-3 {
  color: var(--text-icon-300);
  background: var(--background-4);
}

.ea__connect-others h5 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2em;
  color: var(--text-color-25);
  margin-bottom: 10px;
}

.ea__connect-others p {
  font-size: 14px;
  line-height: 1.4em;
  color: var(--text-color-100);
}

.ea__sidebar-content h5 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2em;
  color: var(--text-color-25);
  padding-top: 50px;
  margin-bottom: 10px;
}

.review-wrap h6 {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2em;
  color: var(--text-color-50);
  margin-bottom: 8px;
}

.ea__sidebar-content p {
  font-size: 14px;
  line-height: 1.4em;
  color: var(--text-color-100);
  margin-bottom: 36px;
}

.review-wrap {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--border-color-2);
}

.review-wrap i {
  font-size: 16px;
  color: var(--base-color-100);
}

.review-wrap .reating-details {
  font-size: 14px;
  color: var(--text-icon-500);
  padding-left: 4px;
}

.ea__connect-others button i {
  font-size: 9px;
  font-weight: 600;
}

/*-------- elements-nav ------------*/

.ea__sidebar-nav-list.ea__elements-nav {
  border-style: solid;
  border-color: #EBEEF2;
  border-width: 1px;
  border-radius: 8px 0 0 8px;
}

.nav-sticky {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: sticky;
  top: 80px;
  left: 0;
  right: 0;
}

.ea__elements-nav-content {
  flex: 1;
}

.ea__content-header.sticky {
  position: sticky;
  left: 0;
  right: 0;
  top: 70px;
  z-index: 99;
}

.ea__content-header.sticky .ea__content-info {
  border-radius: 0;
  border-style: solid;
  border-width: 1px 1px 0 1px;
  border-color: var(--label-color);
}

.ea__content-info {
  padding: 24px;
  background: var(--base-background);
  border-radius: 0 8px 0 0;
}

.search--widget {
  border: 1px solid var(--label-color);
  border-radius: 8px;
}

.ea__widget-elements h4 {
  font-size: 18px;
  font-weight: 500;
  line-height: 1em;
  color: var(--text-color-25);
  padding-right: 50px;
}

.toggle-wrapper h5 {
  font-size: 14px;
  font-weight: 500;
  line-height: 1em;
  color: var(--text-color-25);
}

.ea__content-icon {
  background: var(--page-background);
}

.ea__icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 25px 0;
  flex-grow: 1;
  border-style: solid;
  border-color: var(--label-color);
  border-width: 1px 0px 1px 1px;
  font-size: 20px;
  color: var(--text-icon-100);
}

.ea__icon-wrapper.active {
  background: linear-gradient(180deg, var(--base-background) 15%, var(--page-background) 100%);
  border-width: 2px 0 0 0;
  border-color: var(--base-color-50);
}

.ea__icon-wrapper.active i {
  color: var(--base-color-50);
}

.ea__icon-wrapper:nth-last-child(1) {
  border-right: 1px solid var(--label-color);
}

.ea__icon-wrapper i {
  font-size: 20px;
  padding: 4px;
  color: var(--text-icon-100);
  position: relative;
  cursor: pointer;
  transition: all .30s ease-in-out;
}

.ea__icon-wrapper i:hover span.ea__tooltip {
  opacity: 1;
}

span.ea__tooltip:after {
  content: '';
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translate(-50%);
  border-top: 8px solid var(--base-background);
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

span.ea__tooltip {
  position: absolute;
  left: 50%;
  top: -40px;
  transform: translate(-50%);
  min-width: 175px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2em;
  color: var(--text-color-25);
  font-family: "Rubik", sans-serif;
  text-align: center;
  padding: 8px 0;
  box-shadow: 0px 8px 16px -2px var(--shadow-color-12);
  background: var(--base-background);
  border-radius: 4px;
  opacity: 0;
}

.ea__content-elements-wrapper {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: #F1F2FA;
}

.ea__contents {
  padding: 16px;
  background: var(--base-background);
  border: 1px solid var(--border-color-base);
  border-radius: 8px;
}

.ea__content-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

.ea__content-items {
  background: var(--base-background);
  padding: 16px;
  border: 1px solid var(--border-color-base);
  border-radius: 8px;
  transition: all .25s ease-in-out;
}

.ea__content-items:hover {
  box-shadow: 0px 7px 18px 0px var(--shadow-color-8);
}

.ea__content-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  margin-bottom: 8px;
}

.ea__content-footer {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  align-items: center;
}

.content-btn {
  font-size: 11px;
  line-height: .9em;
  font-weight: 500;
  color: var(--base-background);
  text-transform: uppercase;
  padding: 4px;
  border-radius: 4px;
}

.content-btn.update {
  background: var(--background-5);
}

.content-btn.new {
  background: var(--background-6);
}

.content-btn.popular {
  background: var(--background-7);
}

.content-icons {
  display: flex;
  gap: 8px;
  align-items: center;
}

.content-icons i {
  font-size: 10px;
  color: var(--text-icon-400);
}

.ea__extension-main-wrap .ea__section-wrapper.ea__main-wrapper {
  padding-bottom: 16px;
}

.ea__tools-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.ea__connect-others label {
  font-size: 16px;
  line-height: 1.4em;
  font-weight: 500;
  color: var(--text-color-25);
  min-width: 153px;
}

.select-option-external {
  position: relative;
  border: 1px solid var(--text-color-100);
  border-radius: 8px;
}

.select-option-external .form-select {
  width: 100%;
}

span.select-details {
  font-size: 14px;
  line-height: 1.2em;
  font-style: italic;
  color: var(--text-icon-100);
  margin-top: 12px;
  display: inline-block;
}

.ea__integration-content-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.ea__integration-header {
  padding: 20px 24px;
  background: #FBFCFF;
  border-radius: 8px 8px 0 0;
  border: 1px solid var(--border-color-base);
}

.ea__integration-header h5 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2em;
  color: var(--text-color-25);
}

.ea__integration-footer {
  padding: 24px;
  background: var(--base-background);
  border-radius: 0 0 8px 8px;
  border-color: var(--border-color-base);
  border-style: solid;
  border-width: 0 1px 1px 1px;
}

.ea__integration-footer p {
  font-size: 14px;
  line-height: 1.5em;
  color: var(--text-color-100);
  padding-bottom: 16px;
  border-bottom: 1px solid var(--border-color-base);
}

.integration-settings {
  padding-top: 16px;
}

.ea__slider-connect {
  width: 100%;
  overflow: hidden;
  position: relative;
  background: var(--base-background);
  border-radius: 8px;
  padding: 24px 24px 40px;
}

.ea__premium-item {
  border: 1px solid var(--background-2);
  border-radius: 8px;
}

.ea__premium-item-footer {
  padding: 16px;
}

.ea__premium-item-footer h5 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2em;
  color: var(--text-color-25);
  margin-bottom: 10px;
}

.ea__premium-item-footer p {
  font-size: 14px;
  line-height: 1.4em;
  color: var(--text-color-100);
}

.ea__pro-features {
  border: 1px solid var(--border-color-base);
  border-radius: 8px;
  background: linear-gradient(90deg, #FEFAFF 61.34%, #DFA9FF 100%);
}

.ea__features-content {
  padding: 24px;
  max-width: 550px;
}

.ea__features-content h2 {
  font-size: 26px;
  line-height: 1.2em;
  font-weight: 500;
  color: var(--text-color-25);
  margin-bottom: 12px;
}

.ea__features-content p {
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 400;
  color: var(--text-color-100);
}

.ea__premium-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.ea__pro-elements-content {
  padding: 48px;
  background: #FFFEFC;
  border-radius: 8px;
  background-image: url(/assets/images/pro-elements-bg.png);
  background-repeat: no-repeat;
  background-position: top;
}

.ea__pro-elements-content h3 {
  font-size: 32px;
  line-height: 1.37em;
  font-weight: 400;
  color: var(--text-color-25);
  padding-bottom: 60px;
}

.ea__pro-elements-content h3 span.Advance-color {
  font-weight: 600;
  color: var(--base-color-100);
}

.ea__pro-elements-content h3 b {
  font-weight: 600;
}

.review-wrap-ex h6 {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2em;
  color: var(--text-color-50);
  margin-bottom: 8px;
}

.review-wrap-ex .ea-link-2 {
  font-size: 16px;
  color: var(--text-color-50);
}

.review-wrap-ex .icons i {
  font-size: 16px;
  color: var(--base-color-100);
}

.review-wrap-ex .reating-details {
  font-size: 14px;
  color: var(--text-icon-500);
  padding-left: 4px;
}


/*--------- Modal ---------*/

section.ea__modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #1D232733;
  z-index: 99999;
  font-family: "Rubik", sans-serif;
}

.ea__modal-content-wrapper {
  max-width: 663px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 8px;
  border: 1px solid var(--label-color);
}

.ea__modal-header {
  padding: 24px 40px;
  border-bottom: 1px solid var(--label-color);
}

.ea__modal-header h5 {
  font-size: 16px;
  line-height: 1.1em;
  font-weight: 400;
  color: var(--text-color-100);
}

.ea__modal-body {
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.ea__modal-body h4 {
  font-size: 22px;
  line-height: 1.2em;
  font-weight: 450;
  color: var(--text-color-25);
}


.ea__modal-body p {
  font-size: 14px;
  line-height: 1.5em;
  color: var(--text-color-100);
  margin-bottom: 16px;
}

.ea__modal-body label {
  font-size: 14px;
  line-height: 1.3em;
  display: block;
  margin-bottom: 6px;
}

.ea__modal-body .ea__api-key-according label {
  min-width: 153px;
  margin-bottom: 0;
}

#ea__dashboard--wrapper .ea__modal-body input.input-name {
  padding: 10px 14px;
  background: var(--background-8);
  border-radius: 8px;
  border: 1px solid var(--label-color);
  width: 100%;
}

.ea__modal-body .ea__api-link {
  font-size: 14px;
  line-height: 1.2em;
  color: var(--text-color-200);
  text-decoration: underline;
  margin-top: 6px;
}

#ea__dashboard--wrapper .ea__modal-body .form-select {
  color: var(--text-color-100);
  font-size: 14px;
  line-height: 1.5em;
  width: 100%;
  height: 44px;
  border: 1px solid #EAECF0;
  border-radius: 8px;
  padding: 0 16px;
  background: transparent;
  cursor: pointer;
  appearance: none;
  position: relative;
}

.ea__api-key-according {
  background: #F7FAFF;
  border-radius: 8px;
  padding-left: 16px;
  padding-right: 16px;
}

.ea__according-title {
  padding-top: 16px;
}

.ea__according-title i {
  font-size: 14px;
  color: #000;
}

.ea__according-content {
  padding-top: 16px;
  padding-bottom: 16px;
  border-top: 1px solid #EAECF0;
}

.ea__modal-footer {
  padding: 16px 40px;
  border-top: 1px solid var(--label-color);
}

#ea__dashboard--wrapper button.ea__modal-btn {
  font-size: 14px;
  font-weight: 450;
  line-height: 1.6em;
  font-family: "Rubik", sans-serif;
  padding: 8px 20px;
  border-radius: 8px;
  transition: all .35s ease-in-out;
  cursor: pointer;
  position: relative;
  color: var(--base-background);
  background: var(--base-color-75);
  border: 1px solid var(--base-color-75);
}

.ea__modal-close-btn {
  position: absolute;
  top: 0;
  right: -55px;
  width: 40px;
  height: 40px;
  background: var(--border-color-base);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color-100);
  cursor: pointer;
}

/*-------- Responsive-item ------------*/

@media only screen and (max-width: 1399px) {

  .mb-6 {
    margin-bottom: 18px;
  }

  .gap-4 {
    gap: 12px;
  }

  #ea__dashboard--wrapper button {
    font-size: 12px;
  }

  #ea__dashboard--wrapper button.upgrade-button {
    font-size: 12px;
    gap: 6px;
    padding: 8px 14px;
  }

  #ea__dashboard--wrapper .primary-btn {
    font-size: 13px;
    padding: 7px 16px;
  }

  #ea__dashboard--wrapper .toggle-wrap {
    width: 30px;
    height: 16px;
  }

  #ea__dashboard--wrapper input:checked+.slider:before {
    transform: translateX(14px);
  }

  #ea__dashboard--wrapper .slider:before {
    height: 12px;
    width: 12px;
    left: 2px;
    bottom: 2px;
  }

  .ea__section-wrapper.ea__main-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }

  .content-btn {
    font-size: 9px;
  }

  .ea__header-content {
    padding: 12px 16px;
  }

  .ea__header-content img {
    width: 105px;
  }

  span.dark-icon {
    width: 32px;
    height: 32px;
    font-size: 18px;
  }

  .nav-sticky {
    top: 70px;
  }

  .ea__sidebar-nav-list {
    padding: 12px 16px;
    min-width: 160px;
    max-width: 160px;
  }

  .ea__sidebar-nav {
    gap: 6px;
    padding: 6px 12px;
  }

  .ea__sidebar-nav .ea__nav-text {
    font-size: 13px;
  }

  .ea__section-wrapper.ea__main-wrapper {
    padding-top: 70px;
    padding-bottom: 50px;
  }

  .ea__content-header.sticky {
    top: 56px;
  }

  .ea__sidebar-info {
    max-width: 180px;
    min-width: 180px;
  }

  .ea__general-content-item {
    padding: 16px;
    margin-bottom: 12px;
  }

  .ea__general-content-item h3 {
    font-size: 18px;
    margin-bottom: 12px;
  }

  .ea__content-details span.check-icon {
    width: 14px;
    height: 14px;
    font-size: 8px;
  }

  .ea__general-content-item .ea__content-details {
    font-size: 14px;
  }

  .templates-content {
    padding: 18px 0px 18px 18px;
  }

  .ea__general-content-item h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .review-wrap {
    padding-bottom: 14px;
    margin-bottom: 14px;
  }

  .ea__sidebar-content {
    padding: 16px;
    background-position: unset;
    background-position-y: -45px;
  }

  .ea__connect-others {
    padding: 16px;
  }

  .ea__connect-others h5 {
    font-size: 14px;
    margin-bottom: 7px;
  }

  .ea__others-icon {
    font-size: 14px;
    width: 32px;
    height: 32px;
    margin-bottom: 12px;
  }

  .ea__sidebar-content p {
    font-size: 13px;
    margin-bottom: 22px;
  }

  .review-wrap h6 {
    font-size: 12px;
    margin-bottom: 6px;
  }

  .review-wrap i {
    font-size: 12px;
  }

  .review-wrap .reating-details {
    font-size: 12px;
  }

  .ea__sidebar-content h5 {
    font-size: 14px;
    padding-top: 25px;
    margin-bottom: 8px;
  }

  .ea__connect-others p {
    font-size: 13px;
    margin-bottom: 14px;
  }

  .ea__general-content-item.templates {
    flex-wrap: wrap;
  }

  .templates-img img {
    border-radius: 8px;
    padding-left: 0;
  }

  .ea__content-info {
    padding: 18px;
  }

  .ea__widget-elements h4 {
    font-size: 14px;
    padding-right: 10px;
  }

  input.input-name {
    font-size: 13px;
    padding-left: 10px;
    padding-right: 10px;
    width: 135px;
  }

  .form-select--address {
    font-size: 12px;
    width: 110px;
    height: 38px;
    padding: 0px 10px;
  }

  .toggle-wrapper h5 {
    font-size: 12px;
  }

  .ea__icon-wrapper {
    padding: 16px 0;
    font-size: 16px;
  }

  .ea__icon-wrapper i {
    font-size: 15px;
    padding: 2px;
  }

  #ea__dashboard--wrapper h3.ea__content-title {
    font-size: 15px;
  }

  #ea__dashboard--wrapper h3.ea__content-title.title {
    margin-bottom: 12px;
  }

  .ea__content-items {
    padding: 10px;
  }

  .ea__content-head h5 {
    font-size: 12px;
  }

  .ea__features-content {
    padding: 16px;
  }

  .ea__slider-connect {
    padding: 16px 16px 30px;
  }
}

@media only screen and (max-width: 1024px) {

  .search--widget {
    display: none;
  }

  .ea__content-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .ea__pro-elements-content h3 {
    font-size: 26px;
    padding-bottom: 38px;
  }

  .review-wrap-ex .ea-link-2 {
    font-size: 13px;
  }

  .review-wrap-ex h6 {
    font-size: 13px;
    margin-bottom: 5px;
  }

  .ea__features-content h2 {
    font-size: 22px;
    margin-bottom: 8px;
  }

  .ea__features-content p {
    font-size: 13px;
  }

  .ea__pro-elements-content {
    padding: 28px;
  }

  .review-wrap-ex .icons i {
    font-size: 12px;
  }

  .review-wrap-ex .reating-details {
    font-size: 11px;
  }

  .ea__features-content {
    max-width: 375px;
  }

  .ea__premium-item-footer h5 {
    font-size: 14px;
    margin-bottom: 8px;
  }

  .ea__premium-item-footer p {
    font-size: 13px;
  }

  .ea__connect-others p {
    margin-bottom: 10px;
  }

  /* .ea__sidebar-nav-list {
      max-width: 100%;
      flex-direction: row;
  }

  .ea__sidebar-nav-list.ea__elements-nav {
      max-width: 100%;
      flex-direction: row;
  } */
}

@media only screen and (max-width: 767px) {
  section.ea__section-wrapper.ea__main-wrapper {
    flex-direction: column;
  }

  .ea__sidebar-nav-list {
    max-width: 100%;
    min-height: auto;
    gap: 0;
  }

  .nav-sticky {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .ea__main-content-wrapper {
    flex-wrap: wrap;
  }

  .ea__connect-others-wrapper {
    display: grid;
  }

  .ea__sidebar-info {
    max-width: 100%;
    min-width: 100%;
  }

  .ea__sidebar-content {
    padding: 16px;
    background-position: unset;
    background-position-y: -130px;
    background-size: cover;
  }

  .ea__pro-elements-content h3 {
    font-size: 20px;
    padding-bottom: 28px;
  }
}

@media only screen and (max-width: 525px) {
  .ea__content-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .ea__pro-elements-content h3 {
    font-size: 16px;
    padding-bottom: 24px;
  }
}


/*-------- elements-nav ------------*/