
/*------------------------------*/
/* 32. Tooltip
/*------------------------------*/
.eael-tooltip {
	position: relative;
	display: inline-block;
	min-width: 150px;
	text-align: center;
	padding: 12px 24px;
	font-size: .93rem;
	color: #333;
	line-height: 1;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.eael-tooltip .eael-tooltip-text {
	display: block;
	width: 100%;
	visibility: hidden;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 4px;
	padding: 10px;
	position: absolute;
	z-index: 1;
	font-size: .93rem;
	line-height: 1.3;
}

.eael-tooltip .eael-tooltip-text::after {
	content: "";
	position: absolute;
	border-width: 5px;
	border-style: solid;
}

.eael-tooltip:hover .eael-tooltip-text {
	visibility: visible;
}

/*--- Left ---*/
.eael-tooltip .eael-tooltip-text.eael-tooltip-left {
	top: 50%;
	right: 100%;
	transform: translateY(-50%);
	margin-right: 10px;
}

.eael-tooltip:hover .eael-tooltip-text.eael-tooltip-left {
	animation: tooltipLeftIn 300ms ease-in-out;
}

.eael-tooltip .eael-tooltip-text.eael-tooltip-left::after {
	top: calc(50% - 5px);
	left: 100%;
	border-color: transparent transparent transparent black;
}

/*--- Right ---*/
.eael-tooltip .eael-tooltip-text.eael-tooltip-right {
	top: 50%;
	left: 100%;
	transform: translateY(-50%);
	transition: all 0.3s ease-in-out;
	margin-left: 10px;
}

.eael-tooltip:hover .eael-tooltip-text.eael-tooltip-right {
	animation: tooltipRightIn 300ms linear;
}

.eael-tooltip .eael-tooltip-text.eael-tooltip-right::after {
	top: calc(50% - 5px);
	right: 100%;
	border-color: transparent black transparent transparent;
}

/*--- Top ---*/
.eael-tooltip .eael-tooltip-text.eael-tooltip-top {
	bottom: calc(100%);
	left: 0;
	right: 0;
	margin: 0 auto 10px auto;
}

.eael-tooltip .eael-tooltip-text.eael-tooltip-top::after {
	margin-top: 0px;
	top: 100%;
	left: calc( 50% - 5px);
	border-color: black transparent transparent transparent;
}

.eael-tooltip:hover .eael-tooltip-text.eael-tooltip-top {
	animation: tooltipTopIn 300ms linear;
}

/*--- Bottom ---*/
.eael-tooltip .eael-tooltip-text.eael-tooltip-bottom {
	top: 100%;
	left: 0;
	right: 0;
	margin: 10px auto 0px auto;
}

.eael-tooltip .eael-tooltip-text.eael-tooltip-bottom::after {
	margin-top: 0px;
	bottom: 100%;
	left: calc( 50% - 5px);
	border-color: transparent transparent black transparent;
}

.eael-tooltip:hover .eael-tooltip-text.eael-tooltip-bottom {
	animation: tooltipBottomIn 300ms linear;
}

/*--- Alignments ---*/
.eael-tooltip-align-left {
	display: flex;
	width: 100%;
	justify-content: flex-start;
}

.eael-tooltip-align-right {
	display: flex;
	width: 100%;
	justify-content: flex-end;
}

.eael-tooltip-align-center {
	display: flex;
	width: 100%;
	justify-content: center;
}

.eael-tooltip-align-justify .eael-tooltip {
	display: flex;
	justify-content: center;
	align-items: center;
}

/*--- Tooltip Keyframes ---*/
@keyframes tooltipRightIn {
	0% {
		opacity: 0;
		left: 105%;
	}
	100% {
		opacity: 1;
		left: 100%;
	}
}

@keyframes tooltipLeftIn {
	0% {
		opacity: 0;
		right: 105%;
	}
	100% {
		opacity: 1;
		right: 100%;
	}
}

@keyframes tooltipTopIn {
	0% {
		opacity: 0;
		bottom: 110%;
	}
	100% {
		opacity: 1;
		bottom: 100%;
	}
}

@keyframes tooltipBottomIn {
	0% {
		opacity: 0;
		top: 110%;
	}
	100% {
		opacity: 1;
		top: 100%;
	}
}