// Color system

$white: #fff !default;

$border-radius: .25rem !default;

$transition-base: all .2s ease-in-out !default;

$enable-rounded: true !default;
$enable-transitions: true !default;
$enable-prefers-reduced-motion-media-query: true !default;