.eael-breadcrumbs {
   display: flex;
   &__prefix {
      display: flex;
   }
   .woocommerce-breadcrumb {
      display: flex;
   }
}

.woocommerce {
   .eael-breadcrumbs {
      .woocommerce-breadcrumb {
         margin-bottom: 0;
      }
   }
}
