.eael-breadcrumbs {
   display: flex;
   &__prefix {
      svg {
         width: 20px;
         height: 20px;
      }
   }
}

.eael-breadcrumb-separator {
   svg {
      height: 15px;
      width: 15px;
   }
}
