.eael-business-reviews-wrapper {
    .eael-google-review-reviewer-photo {
        text-align: center;
        width: 50px;
        margin: auto;
    }

    .eael-google-review-reviewer-name,
    .eael-google-review-reviewer-name a {
        color: #292844;
        font-size: 16px;
        text-align: center;
        font-weight: 500;
    }
    
    .eael-google-review-time {
        color: #8A8EAA;
        font-size: 12px;
        text-align: center;
        font-weight: 400;
    }

    .eael-google-review-text {
        color: #000000;
        font-size: 14px;
        text-align: center;
        font-weight: 400;
        margin-top: 10px;
    }

    .eael-google-review-rating {
        text-align: center;
        margin-top: 20px;
    }

    .swiper-container-wrap-dots-outside .swiper-pagination{
        position: static;
    }
}
// // Slider Style
.elementor-widget-eael-business-reviews {
  /**
* Layout: Content Top Icon Title inline
*/
  .content-top-icon-title-inline .eael-business-reviews-text,
  .content-top-icon-title-inline
  .eael-business-reviews-align-left
  .eael-business-reviews-text {
      text-align: left;
  }
  .content-top-icon-title-inline
  .eael-business-reviews-align-center
  .eael-business-reviews-text {
      text-align: center;
  }
  .content-top-icon-title-inline
  .eael-business-reviews-align-right
  .eael-business-reviews-text {
      text-align: right;
  }

  /**
* Layout: Content Bottom Icon Title inline
*/
  .content-bottom-icon-title-inline
  .eael-business-reviews-align-left
  .eael-business-reviews-text {
      text-align: left;
  }
  .content-bottom-icon-title-inline
  .eael-business-reviews-align-center
  .eael-business-reviews-text {
      text-align: center;
  }
  .content-bottom-icon-title-inline
  .eael-business-reviews-align-right
  .eael-business-reviews-text {
      text-align: right;
  }

  /**
*	Slider Button For all layout
*/
  .eael-google-reviews-content.swiper-container {
      .swiper-button-next,
      .swiper-button-prev {
          background-image: none;
          outline: none;
      }
  }
  .eael-google-reviews-content.swiper-container-cube .swiper-slide-active {
      background: #ffffff;
  }
  // slider arrow make display flex
  .swiper-container-wrap .swiper-button-next,
  .swiper-container-wrap .swiper-button-prev {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  // gallery pagination style
  .eael-business-reviews-gallary-pagination {
      width: 350px !important;
      height: 100px !important;
      box-sizing: border-box;
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
      .swiper-slide {
          width: 100px !important;
          opacity: 0.4;
          display: flex;
          justify-content: center;
          align-items: center;
          .eael-pagination-thumb {
              display: flex;
              justify-content: center;
              align-items: center;
              .eael-thumbnail {
                  width: 60px;
                  height: 60px;
                  -webkit-transition: all 0.3s ease;
                  -moz-transition: all 0.3s ease;
                  transition: all 0.3s ease;
              }
          }
      }
      .swiper-slide-active {
          opacity: 1;
          .eael-pagination-thumb {
              .eael-thumbnail {
                  transform: scale(1.5);
              }
          }
      }
      // pagination visibility
      @media all and (min-width: 1024px) {
          &.eael_gallery_pagination_hide_on_desktop {
              display: none !important;
          }
      }
      @media all and (min-width: 768px) and (max-width: 1024px) {
          &.eael_gallery_pagination_hide_on_tablet {
              display: none !important;
          }
      }
      @media all and (max-width: 767px) {
          &.eael_gallery_pagination_hide_on_mobile {
              display: none !important;
          }
      }
  }
  .eael-arrow-box {

      .swiper-button-prev {
          background-image: none !important;
          left: -20px;
          right: auto;
          cursor: pointer;
      }
      .swiper-button-next:focus,
      .swiper-button-prev:focus{
          outline: none;
      }

      .swiper-button-next {
          background-image: none !important;
          right: -20px;
          left: auto;
          cursor: pointer;
      }

  }
}
