.eael-business-reviews-wrapper {
    .eael-google-review-reviewer-photo {
        text-align: center;
        width: 50px;
        margin: auto;
    }

    .eael-google-review-reviewer-name,
    .eael-google-review-reviewer-name a {
        color: #292844;
        font-size: 16px;
        text-align: center;
        font-weight: 500;
    }
    
    .eael-google-review-time {
        color: #8A8EAA;
        font-size: 12px;
        text-align: center;
        font-weight: 400;
    }

    .eael-google-review-text {
        color: #000000;
        font-size: 14px;
        text-align: center;
        font-weight: 400;
        margin-top: 10px;
    }

    .eael-google-review-rating {
        text-align: center;
        margin-top: 20px;
    }

    // Swiper Dots
    .swiper-container-wrap-dots-outside .swiper-pagination{
        position: static;
    }

    // Swiper Arrows
    .swiper-button-prev,
    .swiper-button-next {
        background-image: none !important;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-button-prev {
        left: -20px;
        right: auto;
    }

    .swiper-button-next {
        right: -20px;
        left: auto;
    }

    .swiper-button-prev:focus,
    .swiper-button-next:focus{
        outline: none;
    }
}
