.eael-fancy-text-container {
	p {
		margin: 0;
	}

	&[data-fancy-text-cursor="yes"] .eael-fancy-text-strings {
		&::after {
			content: "|";
			animation: blink_cursor .7s infinite;
		}
	}

	.typed-cursor {
		display: none;
	}
}

.eael-fancy-text-strings {
	display: none;
}
.eael-fancy-text-prefix,
.eael-fancy-text-suffix {
	display: inline-block;
}

.morphext > .animated {
	display: inline-block;
}

@keyframes blink_cursor {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.eael-fancy-text-container.style-2 {
	font-size: 24px;
}

.eael-fancy-text-container.style-2 .eael-fancy-text-strings {
	background: #062aca;
	color: #fff;
	padding: 10px 25px;
}

// RTL

.rtl {
	.eael-fancy-text-container {
		direction: ltr;
	}
}
