
.eael-circle-wrapper {
    $nav-circle-width: 500px;
    $nav-circle-border-color: #f5f3ff;
    $nav-circle-border-width: 6px;
    $nav-circle-border-radius: 50%;
    $nav-content-padding: 75px;
    $nav-items: 6;
    $nav-item-width: 85px;
    $nav-item-border-radius: 50%;

    display: flex;
    justify-content: center;

    .ea-circle-info {
        display: inline-flex;
    }
    .eael-circle-inner {
        width: $nav-circle-width;
        height: $nav-circle-width;
        border: $nav-circle-border-width solid $nav-circle-border-color;
        border-radius: $nav-circle-border-radius;
    }

    //&.eael-interactive-circle-preset-1 {
    //    .ea-circle-info {
    //        $nav-item-border-color: #fff;
    //        $nav-item-border-width: 4px;
    //        $nav-item-box-shadow: 0px 5px 40px rgba(131, 100, 196, 0.2);
    //        $nav-item-padding: 20px;
    //        $nav-item-icon-width: 30px;
    //        $nav-item-initial-background: #fff;
    //        $nav-item-hover-background: #7a5bff;
    //        $nav-item-initial-color: #7a5bff;
    //        $nav-item-hover-color: #fff;
    //        .eael-circle-inner {
    //            transform: rotate(calc(-90deg - (#{$nav-items} * 10deg)));
    //            position: relative;
    //            .eael-circle-item {
    //                .eael-circle-btn {
    //                    width: $nav-item-width;
    //                    height: $nav-item-width;
    //                    border-radius: $nav-item-border-radius;
    //                    display: block;
    //                    overflow: hidden;
    //                    position: absolute;
    //                    top: 50%;
    //                    left: 50%;
    //                    background: $nav-item-initial-background;
    //                    border: $nav-item-border-width solid $nav-item-border-color;
    //                    margin: calc((#{$nav-item-width} / 2) * -1);
    //                    box-shadow: $nav-item-box-shadow;
    //                    .eael-circle-icon-shapes {
    //                        display: none;
    //                    }
    //                    .eael-circle-btn-icon {
    //                        text-align: center;
    //                        padding: $nav-item-padding;
    //                        border-radius: $nav-item-border-radius;
    //                        width: 100%;
    //                        height: 100%;
    //                        .eael-circle-icon-inner {
    //                            display: flex;
    //                            align-items: center;
    //                            justify-content: center;
    //                            flex-direction: column;
    //                            width: 100%;
    //                            height: 100%;
    //
    //                            img,
    //                            svg {
    //                                width: $nav-item-icon-width;
    //                                fill: $nav-item-initial-color;
    //                            }
    //                        }
    //                    }
    //                    &.active {
    //                        .eael-circle-btn-icon {
    //                            background: $nav-item-hover-background;
    //                            img,
    //                            svg {
    //                                fill: $nav-item-hover-color;
    //                            }
    //                        }
    //                    }
    //                    @for $i from 1 through $nav-items {
    //                        &#eael-circle-item-#{$i} {
    //                            z-index: 99;
    //                            transform: rotate(calc((360deg / #{$nav-items}) * #{$i}))
    //                            translate(calc(#{$nav-circle-width} / 2))
    //                            rotate(calc((360deg / #{$nav-items}) * #{$i} * -1))
    //                            rotate(calc(90deg + (#{$nav-items} * 10deg)));
    //                        }
    //                    }
    //                }
    //                .eael-circle-btn-content {
    //                    display: none;
    //                    overflow: hidden;
    //                    position: absolute;
    //                    top: 0;
    //                    bottom: 0;
    //                    left: 0;
    //                    right: 0;
    //                    transform: rotate(calc(90deg + (#{$nav-items} * 10deg)));
    //                    .eael-circle-content {
    //                        display: flex;
    //                        flex-direction: column;
    //                        align-items: center;
    //                        justify-content: center;
    //                        padding: $nav-content-padding;
    //                        text-align: center;
    //                        width: 100%;
    //                        height: 100%;
    //                        border-radius: $nav-circle-border-radius;
    //                    }
    //                    &.active {
    //                        display: block;
    //                    }
    //                }
    //            }
    //        }
    //
    //        &[data-items="1"] {
    //            .ea-circle-info-item {
    //                #eael-circle-item-1 {
    //                    top: 0;
    //                    left: 50%;
    //                    transform: translate(-50%, -50%);
    //                }
    //            }
    //        }
    //        &[data-items="2"] {
    //            .ea-circle-info-item {
    //                #eael-circle-item-1 {
    //                    top: 0;
    //                    left: 50%;
    //                    transform: translate(-50%, -50%);
    //                }
    //                #eael-circle-item-2 {
    //                    bottom: 0;
    //                    left: 50%;
    //                    transform: translate(-50%, 50%);
    //                }
    //            }
    //        }
    //        &[data-items="3"] {
    //            .ea-circle-info-item {
    //                #eael-circle-item-1 {
    //                    top: 0;
    //                    left: 50%;
    //                    transform: translate(-50%, -50%);
    //                }
    //                #eael-circle-item-2 {
    //                    top: 75%;
    //                    right: 7%;
    //                    transform: translate(50%, -50%);
    //                }
    //                #eael-circle-item-3 {
    //                    top: 75%;
    //                    left: 7%;
    //                    transform: translate(-50%, -50%);
    //                }
    //            }
    //        }
    //        &[data-items="4"] {
    //            .ea-circle-info-item {
    //                #eael-circle-item-1 {
    //                    top: 14.65%;
    //                    left: 14.65%;
    //                    transform: translate(-50%, -50%);
    //                }
    //                #eael-circle-item-2 {
    //                    top: 14.65%;
    //                    right: 14.65%;
    //                    transform: translate(50%, -50%);
    //                }
    //                #eael-circle-item-3 {
    //                    bottom: 14.65%;
    //                    left: 14.65%;
    //                    transform: translate(-50%, 50%);
    //                }
    //                #eael-circle-item-4 {
    //                    bottom: 14.65%;
    //                    right: 14.65%;
    //                    transform: translate(50%, 50%);
    //                }
    //            }
    //        }
    //        &[data-items="5"] {
    //            .ea-circle-info-item {
    //                #eael-circle-item-1 {
    //                    top: 0%;
    //                    left: 50%;
    //                    transform: translate(-50%, -50%);
    //                }
    //                #eael-circle-item-2 {
    //                    top: 39%;
    //                    right: 1%;
    //                    transform: translate(50%, -50%);
    //                }
    //                #eael-circle-item-3 {
    //                    bottom: 10%;
    //                    left: 20%;
    //                    transform: translate(-50%, 50%);
    //                }
    //                #eael-circle-item-4 {
    //                    bottom: 10%;
    //                    right: 20%;
    //                    transform: translate(50%, 50%);
    //                }
    //                #eael-circle-item-5 {
    //                    top: 39%;
    //                    left: 1%;
    //                    transform: translate(-50%, -50%);
    //                }
    //            }
    //        }
    //        &[data-items="6"] {
    //            .ea-circle-info-item {
    //                #eael-circle-item-1 {
    //                    top: 0;
    //                    left: 50%;
    //                    transform: translate(-50%, -50%);
    //                }
    //                #eael-circle-item-2 {
    //                    top: 25%;
    //                    right: 7%;
    //                    transform: translate(50%, -50%);
    //                }
    //                #eael-circle-item-3 {
    //                    top: 75%;
    //                    right: 7%;
    //                    transform: translate(50%, -50%);
    //                }
    //                #eael-circle-item-4 {
    //                    bottom: 0;
    //                    left: 50%;
    //                    transform: translate(-50%, 50%);
    //                }
    //                #eael-circle-item-5 {
    //                    top: 75%;
    //                    left: 7%;
    //                    transform: translate(-50%, -50%);
    //                }
    //                #eael-circle-item-6 {
    //                    top: 25%;
    //                    left: 7%;
    //                    transform: translate(-50%, -50%);
    //                }
    //            }
    //        }
    //        &[data-items="7"] {
    //            .ea-circle-info-item {
    //                #eael-circle-item-1 {
    //                    top: 0%;
    //                    left: 50%;
    //                    transform: translate(-50%, -50%);
    //                }
    //                #eael-circle-item-2 {
    //                    top: 20%;
    //                    right: 8%;
    //                    transform: translate(50%, -50%);
    //                }
    //                #eael-circle-item-3 {
    //                    top: 61%;
    //                    right: 1%;
    //                    transform: translate(50%, -50%);
    //                }
    //                #eael-circle-item-4 {
    //                    bottom: 5%;
    //                    right: 28%;
    //                    transform: translate(50%, 50%);
    //                }
    //                #eael-circle-item-5 {
    //                    bottom: 5%;
    //                    left: 28%;
    //                    transform: translate(-50%, 50%);
    //                }
    //                #eael-circle-item-6 {
    //                    top: 61%;
    //                    left: 1%;
    //                    transform: translate(-50%, -50%);
    //                }
    //                #eael-circle-item-7 {
    //                    top: 20%;
    //                    left: 8%;
    //                    transform: translate(-50%, -50%);
    //                }
    //            }
    //        }
    //        &[data-items="8"] {
    //            .ea-circle-info-item {
    //                #eael-circle-item-1 {
    //                    top: 0%;
    //                    left: 50%;
    //                    transform: translate(-50%, -50%);
    //                }
    //                #eael-circle-item-2 {
    //                    top: 14.65%;
    //                    right: 14.65%;
    //                    transform: translate(50%, -50%);
    //                }
    //                #eael-circle-item-3 {
    //                    top: 50%;
    //                    right: 0%;
    //                    transform: translate(50%, -50%);
    //                }
    //                #eael-circle-item-4 {
    //                    bottom: 14.65%;
    //                    right: 14.65%;
    //                    transform: translate(50%, 50%);
    //                }
    //                #eael-circle-item-5 {
    //                    bottom: 0%;
    //                    left: 50%;
    //                    transform: translate(-50%, 50%);
    //                }
    //                #eael-circle-item-6 {
    //                    bottom: 14.65%;
    //                    left: 14.65%;
    //                    transform: translate(-50%, 50%);
    //                }
    //                #eael-circle-item-7 {
    //                    top: 50%;
    //                    left: 0%;
    //                    transform: translate(-50%, -50%);
    //                }
    //                #eael-circle-item-8 {
    //                    top: 14.65%;
    //                    left: 14.65%;
    //                    transform: translate(-50%, -50%);
    //                }
    //            }
    //        }
    //    }
    //}


    &.eael-interactive-circle-preset-2 {
        overflow: hidden;
        padding-top: $nav-item-width;

        .eael-circle-info {
            $nav-item-border-width: 10px;
            $nav-item-icon-width: 35px;
            $nav-item-initial-background: #fff;
            $nav-item-hover-background: #f4fff9;
            $nav-item-icon-initial-color: #7a5bff;
            $nav-item-text-initial-color: #0d0c0e;
            $nav-line-shape-width: 5px;
            $nav-item-text-size: 16px;
            $nav-item-text-weight: 500;
            $nav-item-text-gap: 10px;
            $nav-item-gap: 24px;
            $nav-content-background: #fff;
            $nav-content-text-size: 20px;
            $nav-content-text-weight: 500;
            $nav-content-text-color: #202b46;
            $nav-content-margin: 10px;
            $nav-content-padding: 0px 60px;
            padding: ($nav-item-width / 2) + $nav-item-gap;
            position: relative;
            margin-bottom: - (($nav-circle-width / 2) + ($nav-item-width / 2) + $nav-item-gap);
            .eael-circle-inner {
                .eael-circle-item {
                    .eael-circle-btn {
                        position: absolute;
                        z-index: 99;
                        height: $nav-item-width;
                        width: $nav-item-width;
                        border-radius: $nav-item-border-radius;
                        .eael-circle-icon-shapes {
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            z-index: -1;
                            transform-origin: center center;
                        }
                        .eael-circle-btn-icon {
                            padding: $nav-item-border-width;
                            height: 100%;
                            width: 100%;
                            border-radius: $nav-item-border-radius;
                            .eael-circle-btn-icon-inner {
                                background: $nav-item-initial-background;
                                width: 100%;
                                height: 100%;
                                border-radius: $nav-item-border-radius;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                text-align: center;
                                img,
                                svg {
                                    width: $nav-item-icon-width;
                                }
                                h3 {
                                    font-size: $nav-item-text-size;
                                    font-weight: $nav-item-text-weight;
                                    line-height: 1.1;
                                    margin-bottom: 0;
                                    margin-top: $nav-item-text-gap;
                                    color: $nav-item-text-initial-color;
                                }
                            }
                        }
                        &.active {
                            .eael-circle-btn-icon {
                                .eael-circle-btn-icon-inner {
                                    background: $nav-item-hover-background;
                                }
                            }
                        }
                    }
                    .eael-circle-btn-content {
                        position: absolute;
                        $content-position: ($nav-item-width / 2) + $nav-item-gap;
                        top: $content-position;
                        bottom: $content-position;
                        left: $content-position;
                        right: $content-position;
                        display: none;
                        padding: $nav-content-margin;
                        .eael-circle-content {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            text-align: center;
                            height: 100%;
                            padding: $nav-content-padding;
                            border-radius: $nav-circle-border-radius;
                            h2 {
                                font-size: $nav-content-text-size;
                                text-transform: uppercase;
                                font-weight: $nav-content-text-weight;
                                line-height: 2;
                                color: $nav-content-text-color;
                                margin-bottom: 0;
                            }

                        }
                        &.active {
                            display: block;
                        }
                    }
                }
                .eael-circle-item {
                    #eael-circle-item-1 {
                        top: 36%;
                        left: 2.5%;
                        transform: translate(-50%, -50%);
                        .eael-circle-btn-icon {
                            background: radial-gradient(
                                            81.89% 82.54% at 48.96% 49.88%,
                                            #0956c6 3.76%,
                                            #07a9f0 55.38%,
                                            #93dcfc 100%
                            );
                            svg {
                                fill: #07a9f0;
                            }
                        }
                    }
                    #eael-circle-item-2 {
                        top: 20.3%;
                        left: 10.5%;
                        transform: translate(-50%, -50%);
                        .eael-circle-btn-icon {
                            background: radial-gradient(
                                            64.96% 65.32% at 52.18% 47.01%,
                                            #6f00ff 3.76%,
                                            #533fff 55.38%,
                                            #b9aaff 100%
                            );
                            svg {
                                fill: #715eff;
                            }
                        }
                    }
                    #eael-circle-item-3 {
                        top: 8.1%;
                        left: 23.5%;
                        transform: translate(-50%, -50%);
                        .eael-circle-btn-icon {
                            background: radial-gradient(
                                            101.16% 101.7% at 47.77% 50.74%,
                                            #ff9100 3.76%,
                                            #ffb655 56.99%,
                                            #fff04a 100%
                            );
                            svg {
                                fill: #ffb655;
                            }
                        }
                    }
                    #eael-circle-item-4 {
                        top: 1.5%;
                        left: 40.6%;
                        transform: translate(-50%, -50%);
                        .eael-circle-btn-icon {
                            background: radial-gradient(
                                            65.76% 66.29% at 48.95% 49.57%,
                                            #b40042 3.76%,
                                            #c50048 48.92%,
                                            #ff5e93 100%
                            );
                            svg {
                                fill: #c50048;
                            }
                        }
                    }
                    #eael-circle-item-5 {
                        top: 1.5%;
                        right: 40.6%;
                        transform: translate(50%, -50%);
                        .eael-circle-btn-icon {
                            background: radial-gradient(
                                            73.69% 72.33% at 51.12% 47.67%,
                                            #2b3894 3.76%,
                                            #364099 14.18%,
                                            #5356a8 32.43%,
                                            #8078bf 55.38%,
                                            #d2a8d1 100%
                            );
                            svg {
                                fill: #364099;
                            }
                        }
                    }
                    #eael-circle-item-6 {
                        top: 8.1%;
                        right: 23.5%;
                        transform: translate(50%, -50%);
                        .eael-circle-btn-icon {
                            background: radial-gradient(
                                            94.25% 92.56% at 48.86% 49.71%,
                                            #199a8e 3.76%,
                                            #7af4ab 55.38%
                            );
                            svg {
                                fill: #7af4ab;
                            }
                        }
                    }
                    #eael-circle-item-7 {
                        top: 20.3%;
                        right: 10.5%;
                        transform: translate(50%, -50%);
                        .eael-circle-btn-icon {
                            background: radial-gradient(
                                            73.69% 72.33% at 51.12% 47.67%,
                                            #2b3894 3.76%,
                                            #364099 14.18%,
                                            #5356a8 32.43%,
                                            #8078bf 55.38%,
                                            #d2a8d1 100%
                            );
                            svg {
                                fill: #364099;
                            }
                        }
                    }
                    #eael-circle-item-8 {
                        top: 36%;
                        right: 2.5%;
                        transform: translate(50%, -50%);
                        background: radial-gradient(
                                        94.25% 92.56% at 48.86% 49.71%,
                                        #199a8e 3.76%,
                                        #7af4ab 55.38%
                        );
                        svg {
                            fill: #199a8e;
                        }
                    }
                }
            }
        }
    }


    &.eael-interactive-circle-preset-3 {
        .eael-circle-info {
            $nav-item-border-width: 10px;
            $nav-item-icon-width: 35px;
            $nav-item-initial-background: #fff;
            $nav-item-hover-background: #f4fff9;
            $nav-item-icon-initial-color: #7a5bff;
            $nav-item-text-initial-color: #0d0c0e;
            $nav-line-shape-width: 5px;
            $nav-item-text-size: 16px;
            $nav-item-text-weight: 500;
            $nav-item-text-gap: 10px;
            $nav-item-gap: 30px;
            $dot-width: 20px;
            $nav-content-background: #fff;
            $nav-content-text-size: 30px;
            $nav-content-text-weight: 500;
            $nav-content-text-color: #202b46;
            $nav-content-margin: 10px;
            $nav-content-padding: 10px;
            padding: ($nav-item-width / 2) + $nav-item-gap;
            position: relative;
            .eael-circle-inner {
                .eael-circle-item {
                    .eael-circle-btn {
                        position: absolute;
                        z-index: 99;
                        height: 100px;
                        width: 100px;
                        border-radius: $nav-item-border-radius;
                        .eael-circle-icon-shapes {
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            z-index: -1;
                            transform-origin: center center;
                            .eael-shape-1 {
                                position: absolute;
                                left: 50%;
                                top: 50%;
                                background: $nav-circle-border-color;
                                height: $nav-line-shape-width;
                                width: ($nav-item-width / 2) + $nav-item-gap;
                                transform: translateY(-50%);
                            }
                            .eael-shape-2 {
                                $content-position: ($nav-item-width / 2) + $nav-item-gap;
                                position: absolute;
                                left: calc(
                                        50% + #{$content-position} + (#{$nav-circle-border-width} / 2)
                                );
                                top: 50%;
                                border-radius: $nav-item-border-radius;
                                background: $nav-circle-border-color;
                                height: $dot-width;
                                width: $dot-width;
                                transform: translate(-50%, -50%);
                            }
                        }
                        .eael-circle-btn-icon {
                            padding: $nav-item-border-width;
                            height: 100%;
                            width: 100%;
                            border-radius: $nav-item-border-radius;
                            .eael-circle-icon-inner {
                                background: $nav-item-initial-background;
                                width: 100%;
                                height: 100%;
                                border-radius: $nav-item-border-radius;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                text-align: center;
                                img,
                                svg {
                                    width: $nav-item-icon-width;
                                }
                                h3 {
                                    font-size: $nav-item-text-size;
                                    font-weight: $nav-item-text-weight;
                                    line-height: 1.1;
                                    margin-bottom: 0;
                                    margin-top: $nav-item-text-gap;
                                    color: $nav-item-text-initial-color;
                                }
                            }
                        }
                        &.active {
                            .eael-circle-btn-icon {
                                .eael-circle-icon-inner {
                                    background: $nav-item-hover-background;
                                }
                            }
                        }
                    }
                    .eael-circle-btn-content {
                        position: absolute;
                        $content-position: ($nav-item-width / 2) + $nav-item-gap;
                        top: $content-position;
                        bottom: $content-position;
                        left: $content-position;
                        right: $content-position;
                        display: none;
                        padding: $nav-content-margin;
                        .eael-circle-content {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            text-align: center;
                            height: 100%;
                            padding: $nav-content-padding;
                            border-radius: $nav-circle-border-radius;
                            background: $nav-content-background;
                            h2 {
                                font-size: $nav-content-text-size;
                                text-transform: uppercase;
                                font-weight: $nav-content-text-weight;
                                line-height: 2;
                                color: $nav-content-text-color;
                            }
                        }
                        &.active {
                            display: block;
                        }
                    }
                }
                .eael-circle-item {

                    &:nth-child(8n+1) .eael-circle-btn-icon {
                        background-image: radial-gradient(81.89% 82.54% at 48.96% 49.88%, #0956C6 3.76%, #07A9F0 55.38%, #93DCFC 100%);
                    }
                    &:nth-child(8n+2) .eael-circle-btn-icon {
                        background-image: radial-gradient(64.96% 65.32% at 52.18% 47.01%, #6F00FF 3.76%, #533FFF 55.38%, #B9AAFF 100%);
                    }
                    &:nth-child(8n+3) .eael-circle-btn-icon {
                        background-image: radial-gradient(101.16% 101.7% at 47.77% 50.74%, #FF9100 3.76%, #FFB655 56.99%, #FFF04A 100%);
                    }
                    &:nth-child(8n+4) .eael-circle-btn-icon {
                        background-image: radial-gradient(65.76% 66.29% at 48.95% 49.57%, #B40042 3.76%, #C50048 48.92%, #FF5E93 100%);
                    }
                    &:nth-child(8n+5) .eael-circle-btn-icon {
                        background-image: radial-gradient(73.69% 72.33% at 51.12% 47.67%, #2B3894 3.76%, #364099 14.18%, #5356A8 32.43%, #8078BF 55.38%, #D2A8D1 100%);
                    }
                    &:nth-child(8n+6) .eael-circle-btn-icon {
                        background-image: radial-gradient(94.25% 92.56% at 48.86% 49.71%, #199A8E 3.76%, #7AF4AB 55.38%);
                    }
                    &:nth-child(8n+7) .eael-circle-btn-icon {
                        background-image: radial-gradient(73.69% 72.33% at 51.12% 47.67%, #2B3894 3.76%, #364099 14.18%, #5356A8 32.43%, #8078BF 55.38%, #D2A8D1 100%);
                    }
                    &:nth-child(8n+8) .eael-circle-btn-icon {
                        background-image: radial-gradient(94.25% 92.56% at 48.86% 49.71%, #199A8E 3.76%, #7AF4AB 55.38%);
                    }

                    #eael-circle-item-1 {
                        top: 14.6%;
                        left: 14.6%;
                        transform: translate(-50%, -50%);
                        .eael-circle-btn-icon {
                            //background-image: radial-gradient(
                            //                81.89% 82.54% at 48.96% 49.88%,
                            //                #0956c6 3.76%,
                            //                #07a9f0 55.38%,
                            //                #93dcfc 100%
                            //);
                            svg {
                                fill: #07a9f0;
                            }
                        }
                        .eael-circle-icon-shapes {
                            transform: rotate(45deg);
                        }
                    }
                    #eael-circle-item-2 {
                        top: 14.6%;
                        right: 14.6%;
                        transform: translate(50%, -50%);
                        .eael-circle-btn-icon {
                            //background-image: radial-gradient(
                            //                64.96% 65.32% at 52.18% 47.01%,
                            //                #6f00ff 3.76%,
                            //                #533fff 55.38%,
                            //                #b9aaff 100%
                            //);
                            svg {
                                fill: #715eff;
                            }
                        }
                        .eael-circle-icon-shapes {
                            transform: rotate(135deg);
                        }
                    }
                    #eael-circle-item-3 {
                        bottom: 14.6%;
                        left: 14.6%;
                        transform: translate(-50%, 50%);
                        .eael-circle-btn-icon {
                            //background-image: radial-gradient(
                            //                101.16% 101.7% at 47.77% 50.74%,
                            //                #ff9100 3.76%,
                            //                #ffb655 56.99%,
                            //                #fff04a 100%
                            //);
                            svg {
                                fill: #ffb655;
                            }
                        }
                        .eael-circle-icon-shapes {
                            transform: rotate(-45deg);
                        }
                    }
                    #eael-circle-item-4 {
                        bottom: 14.6%;
                        right: 14.6%;
                        transform: translate(50%, 50%);
                        .eael-circle-btn-icon {
                            //background-image: radial-gradient(
                            //                65.76% 66.29% at 48.95% 49.57%,
                            //                #b40042 3.76%,
                            //                #c50048 48.92%,
                            //                #ff5e93 100%
                            //);
                            svg {
                                fill: #c50048;
                            }
                        }
                        .eael-circle-icon-shapes {
                            transform: rotate(-135deg);
                        }
                    }
                    #eael-circle-item-5 {
                        top: 50%;
                        left: 0%;
                        transform: translate(-50%, -50%);
                        .eael-circle-btn-icon {
                            //background-image: radial-gradient(
                            //                73.69% 72.33% at 51.12% 47.67%,
                            //                #2b3894 3.76%,
                            //                #364099 14.18%,
                            //                #5356a8 32.43%,
                            //                #8078bf 55.38%,
                            //                #d2a8d1 100%
                            //);
                            svg {
                                fill: #364099;
                            }
                        }
                    }
                    #eael-circle-item-6 {
                        top: 50%;
                        right: 0%;
                        transform: translate(50%, -50%);
                        .eael-circle-btn-icon {
                            //background-image: radial-gradient(
                            //                94.25% 92.56% at 48.86% 49.71%,
                            //                #199a8e 3.76%,
                            //                #7af4ab 55.38%
                            //);
                            svg {
                                fill: #7af4ab;
                            }
                        }
                        .eael-circle-icon-shapes {
                            transform: rotate(180deg);
                        }
                    }
                    #eael-circle-item-7 {
                        top: 0%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        .eael-circle-btn-icon {
                            //background-image: radial-gradient(
                            //                73.69% 72.33% at 51.12% 47.67%,
                            //                #2b3894 3.76%,
                            //                #364099 14.18%,
                            //                #5356a8 32.43%,
                            //                #8078bf 55.38%,
                            //                #d2a8d1 100%
                            //);
                            svg {
                                fill: #364099;
                            }
                        }
                        .eael-circle-icon-shapes {
                            transform: rotate(90deg);
                        }
                    }
                    #eael-circle-item-8 {
                        bottom: 0%;
                        left: 50%;
                        transform: translate(-50%, 50%);
                        //background-image: radial-gradient(
                        //                94.25% 92.56% at 48.86% 49.71%,
                        //                #199a8e 3.76%,
                        //                #7af4ab 55.38%
                        //);
                        svg {
                            fill: #199a8e;
                        }
                        .eael-circle-icon-shapes {
                            transform: rotate(-90deg);
                        }
                    }
                }
            }
        }
    }
    &.eael-interactive-circle-preset-4 {
        .eael-circle-info {
            position: relative;
            $nav-item-border-width: 10px;
            $nav-item-icon-width: 35px;
            $nav-item-initial-background: #fff;
            $nav-item-hover-background: #f4fff9;
            $nav-content-background: #fafaff;
            $nav-content-title-size: 30px;
            $nav-content-title-weight: 500;
            $nav-content-title-color: #202b46;
            $nav-content-title-case: uppercase;
            $nav-content-text-size: 16px;
            $nav-content-text-color: #737373;
            $nav-content-margin: 15px;
            $nav-content-padding: 30px;
            $nav-item-gap: 15px;
            padding: ($nav-item-width / 2) + $nav-item-gap + ($nav-item-width / 5 );
            .eael-circle-item {
                .eael-circle-btn {
                    position: absolute;
                    z-index: 99;
                    height: $nav-item-width;
                    width: $nav-item-width;
                    border-radius: $nav-item-border-radius;
                    .eael-circle-btn-icon {
                        padding: $nav-item-border-width;
                        height: 100%;
                        width: 100%;
                        border-radius: $nav-item-border-radius;
                        .eael-circle-icon-inner {
                            background: $nav-item-initial-background;
                            width: 100%;
                            height: 100%;
                            border-radius: $nav-item-border-radius;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            text-align: center;
                            img,
                            svg {
                                width: $nav-item-icon-width;
                            }
                        }
                    }
                    .eael-circle-icon-shapes {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        z-index: -1;
                        transform-origin: center center;
                        border-top-left-radius: $nav-item-border-radius;
                        border-top-right-radius: $nav-item-border-radius;
                        border-bottom-left-radius: $nav-item-border-radius;
                    }
                    &.active {
                        .eael-circle-icon-inner {
                            background: $nav-item-hover-background;
                        }
                    }
                }
                .eael-circle-btn-content {
                    position: absolute;
                    $content-position: ($nav-item-width / 2) + $nav-item-gap + $nav-circle-border-width + ($nav-item-width / 5 );
                    top: $content-position;
                    bottom: $content-position;
                    left: $content-position;
                    right: $content-position;
                    display: none;
                    padding: $nav-content-margin;
                    .eael-circle-content {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        height: 100%;
                        padding: $nav-content-padding;
                        border-radius: $nav-circle-border-radius;
                        background: $nav-content-background;
                        h2 {
                            font-size: $nav-content-title-size;
                            text-transform: $nav-content-title-case;
                            font-weight: $nav-content-title-weight;
                            line-height: 1.3;
                            color: $nav-content-title-color;
                        }
                        p {
                            font-size: $nav-content-text-size;
                            color: $nav-content-text-color;
                            margin-top: 0;
                        }
                    }
                    &.active {
                        display: block;
                    }
                }
            }
            .eael-circle-item {
                #eael-circle-item-1 {
                    bottom: 14.6%;
                    left: 14.6%;
                    transform: translate(-50%, 50%);
                    .eael-circle-icon-shapes {
                        transform: rotate(-90deg);
                        background: linear-gradient(
                                        144.3deg,
                                        #476df8 15.07%,
                                        #6a8aff 97.18%
                        );
                    }
                    .eael-circle-btn-icon {
                        svg {
                            fill: #07a9f0;
                        }
                    }
                }
                #eael-circle-item-2 {
                    bottom: 0%;
                    left: 50%;
                    transform: translate(-50%, 50%);
                    .eael-circle-icon-shapes {
                        transform: rotate(-135deg);
                        background: radial-gradient(
                                        64.96% 65.32% at 52.18% 47.01%,
                                        #6f00ff 3.76%,
                                        #533fff 55.38%,
                                        #b9aaff 100%
                        );
                    }
                    .eael-circle-btn-icon {
                        svg {
                            fill: #715eff;
                        }
                    }
                }
                #eael-circle-item-3 {
                    bottom: 14.6%;
                    right: 14.6%;
                    transform: translate(50%, 50%);
                    .eael-circle-icon-shapes {
                        transform: rotate(-180deg);
                        background: radial-gradient(
                                        101.16% 101.7% at 47.77% 50.74%,
                                        #ff9100 3.76%,
                                        #ffb655 56.99%,
                                        #fff04a 100%
                        );
                    }
                    .eael-circle-btn-icon {
                        svg {
                            fill: #ffae42;
                        }
                    }
                }
                #eael-circle-item-4 {
                    top: 50%;
                    right: 0%;
                    transform: translate(50%, -50%);
                    .eael-circle-icon-shapes {
                        transform: rotate(135deg);
                        background: radial-gradient(
                                        65.76% 66.29% at 48.95% 49.57%,
                                        #b40042 3.76%,
                                        #c50048 48.92%,
                                        #ff5e93 100%
                        );
                    }
                    .eael-circle-btn-icon {
                        svg {
                            fill: #b40042;
                        }
                    }
                }
                #eael-circle-item-5 {
                    top: 14.6%;
                    right: 14.6%;
                    transform: translate(50%, -50%);
                    .eael-circle-icon-shapes {
                        transform: rotate(90deg);
                        background: radial-gradient(
                                        73.69% 72.33% at 51.12% 47.67%,
                                        #2b3894 3.76%,
                                        #364099 14.18%,
                                        #5356a8 32.43%,
                                        #8078bf 55.38%,
                                        #d2a8d1 100%
                        );
                    }
                    .eael-circle-btn-icon {
                        svg {
                            fill: #2b3894;
                        }
                    }
                }
                #eael-circle-item-6 {
                    top: 0%;
                    right: 50%;
                    transform: translate(50%, -50%);
                    .eael-circle-icon-shapes {
                        transform: rotate(45deg);
                        background: radial-gradient(
                                        94.25% 92.56% at 48.86% 49.71%,
                                        #199a8e 3.76%,
                                        #7af4ab 55.38%
                        );
                    }
                    .eael-circle-btn-icon {
                        svg {
                            fill: #199a8e;
                        }
                    }
                }
                #eael-circle-item-7 {
                    top: 14.6%;
                    left: 14.6%;
                    transform: translate(-50%, -50%);
                    .eael-circle-icon-shapes {
                        background: radial-gradient(
                                        73.69% 72.33% at 51.12% 47.67%,
                                        #2b3894 3.76%,
                                        #364099 14.18%,
                                        #5356a8 32.43%,
                                        #8078bf 55.38%,
                                        #d2a8d1 100%
                        );
                    }
                    .eael-circle-btn-icon {
                        svg {
                            fill: #2b3894;
                        }
                    }
                }
                #eael-circle-item-8 {
                    bottom: 50%;
                    left: 0%;
                    transform: translate(-50%, 50%);
                    .eael-circle-icon-shapes {
                        transform: rotate(-45deg);
                        background: radial-gradient(
                                        94.25% 92.56% at 48.86% 49.71%,
                                        #199a8e 3.76%,
                                        #7af4ab 55.38%
                        );
                    }
                    .eael-circle-btn-icon {
                        svg {
                            fill: #199a8e;
                        }
                    }
                }
            }
        }
    }
}
