.eael-ext-scroll-to-top-wrap.scroll-to-top-hide {
    display: none;
}

.eael-ext-scroll-to-top-button {
    position: fixed;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;  
}