.eael-ext-scroll-to-top-button {
    height: 50px;
    width: 50px;
    position: fixed;
    right: 15px;
    bottom: 5px;
    display: none;
    cursor: pointer;
    z-index: 100;
}

.eael-ext-scroll-to-top-button::before {
    background: rgb(0, 0, 0);
    padding: 6px;
    font-size: 30px;
    border-radius: 5px;
    color: #fff;
    outline: 0;
    opacity: .5;
}