.elementor-control-eael_svg_icon .elementor-control-svg-uploader{
  display: none !important;
}
.eael-svg-draw-container{
  &.none{
    path{
      stroke-dasharray: none;
    }
  }
  svg{
    height: 200px;
    width: 200px;
    overflow: visible;
    path{
       stroke: #c36;
       stroke-width: 3;
       fill: transparent;
       stroke-dasharray: 0,9999px;
      fill-opacity: 0;
    }
  }

  &.fill-svg{
    svg{
      path{
        animation-name: FillIn;
        animation-fill-mode: forwards;
      }
    }
  }

  @keyframes FillIn {
    0% { fill-opacity: 0; }
    40% { fill-opacity: 1; }
    100% { fill-opacity: 1; }
  }
}