.eael-svg-draw-container{
  &.none{
    path{
      stroke-dasharray: none;
    }
  }
  svg{
    height: 200px;
    width: 200px;
    overflow: visible;
    path{
       stroke: #c36;
       stroke-width: 3;
       fill: transparent;
      stroke-dasharray: 0,9999px;
    }
  }
}