.eael-single-product-rating .woocommerce-product-rating {
   display: flex;
   margin-bottom: 0;
   .star-rating {
      margin: 0;
   }
}

.eael-product-rating--align-left .woocommerce-product-rating {
   justify-content: flex-start;
}

.eael-product-rating--align-center .woocommerce-product-rating {
   justify-content: center;
}

.eael-product-rating--align-right .woocommerce-product-rating {
   justify-content: flex-end;
}
.eael-product-rating-wrap {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: center;
   margin-top: 1px;
   .eael-product-rating {
      svg {
         height: 15px;
         width: 15px;
      }
      &.filled {
         svg {
            path {
               fill: #ff5733;
            }
         }
      }
   }
}
