.woocommerce {
   div.product {
      .eael-single-product-add-to-cart {
         form.cart {
            display: flex;
            margin-bottom: 0;
            .button {
               display: flex;
               padding: 12px;
               gap: 10px;
               align-items: center;
               flex-grow: 0;
            }
         }
      }
   }
}

.eael-add-to-cart--layout-column {
   &.eael-add-to-cart--align-flex-start {
      .cart {
         align-items: flex-start;
      }
   }
   &.eael-add-to-cart--align-center {
      .cart {
         align-items: center;
      }
   }
   &.eael-add-to-cart--align-end {
      .cart {
         align-items: flex-end;
      }
   }
}

.eael-add-to-cart--align-flex-start
   form.cart:not(.grouped_form):not(.variations_form),
.eael-add-to-cart--align-flex-start
   form.cart.variations_form
   .woocommerce-variation-add-to-cart {
   flex-wrap: nowrap;
   justify-content: flex-start;
}

.eael-add-to-cart--align-center
   form.cart:not(.grouped_form):not(.variations_form),
.eael-add-to-cart--align-center
   form.cart.variations_form
   .woocommerce-variation-add-to-cart {
   flex-wrap: nowrap;
   justify-content: center;
}

.eael-add-to-cart--align-end form.cart:not(.grouped_form):not(.variations_form),
.eael-add-to-cart--align-end
   form.cart.variations_form
   .woocommerce-variation-add-to-cart {
   flex-wrap: nowrap;
   justify-content: flex-end;
}
