@mixin next_prev {
   cursor: pointer;
   text-align: center;
   font-size: 14px;
   height: 100%;
   position: absolute;
   z-index: 2;
   padding: 3px;
   background-color: #738baa75;
   display: flex;
   align-items: center;
   svg {
      width: 15px;
      path {
         fill: #ffffffab;
      }
   }
}
.eael-pi {
   button.mfp-arrow {
      width: 5%;
   }
}
.eael-pi-thumb-left {
   .product_image_slider {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-start;
      align-items: flex-start;
      .product_image_slider__thumbs {
         flex-direction: column;
         .product_image_slider__prev {
            position: relative;
            height: auto;
            justify-content: center;
         }
         .product_image_slider__next {
            position: relative;
            height: auto;
            justify-content: center;
         }
      }
   }
}

.eael-pi-thumb-right {
   .product_image_slider {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: flex-start;
      .product_image_slider__thumbs {
         flex-direction: column;
         .product_image_slider__prev {
            position: relative;
            height: auto;
            justify-content: center;
         }
         .product_image_slider__next {
            position: relative;
            height: auto;
            justify-content: center;
         }
      }
   }
}

.eael-single-product-images {
   .product_image_slider {
      width: 100%;
      &__thumbs {
         width: 100%;
         padding: 0;
         position: relative;
         display: flex;
         &__image {
            width: 100%;
            height: auto;
         }
         .swiper-slide {
            width: 100px;
            height: 100px;
            text-align: center;
            overflow: hidden;
            opacity: 0.5;
            &-thumb-active {
               opacity: 1;
            }
         }
         .swiper-container:not(.swiper-container-initialized) > .swiper-wrapper,
         .swiper:not(.swiper-initialized) > .swiper-wrapper {
            overflow: visible;
         }
      }
      &__prev {
         @include next_prev;
         left: 0;
      }
      &__next {
         @include next_prev;
         right: 0;
      }
      &__container {
         width: 100%;
         height: auto;
         margin: 0 0 10px 0;
         .product_image_slider__trigger {
            position: absolute;
            right: 0;
            background-color: #ddd;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            padding: 5px 8px;
            z-index: 9;
            svg {
               width: 15px;
            }
         }
         .swiper-slide {
            width: auto;
            .image_slider__image {
               width: 100%;
               height: 100%;
            }
            img {
               display: block;
               margin: 0 auto;
            }
         }
         .swiper-container:not(.swiper-container-initialized) > .swiper-wrapper,
         .swiper:not(.swiper-initialized) > .swiper-wrapper {
            overflow: visible;
         }
      }
   }
}
