//Editor style
.custom-add-to-cart-wrapper {
   display: flex;
   align-items: center;
   gap: 8px;
   input[type="number"],
   .quantity-input {
      width: 60px;
      height: 61px;
      padding: 16px 8px;
      color: #73727a;
      font-size: 24px;
      text-align: center;
      border: 1px solid #a5a4b0;
      border-radius: 8px;
      background-color: #fff;
   }

   .quantity-input:focus {
      border-color: #0071a1;
      outline: none;
      box-shadow: 0 0 5px rgba(0, 113, 161, 0.5);
   }

   .custom-select-option {
      font-size: 16px;
      color: #4d4d4d;
      padding: 10px 20px;
      border: 1px solid #a5a4b0;
      border-radius: 8px;
      line-height: 26px;
      margin-bottom: 10px;
   }

   .custom-add-to-cart {
      display: inline-flex;
      align-items: center;
      gap: 8px;
      padding: 16px 24px;
      background-color: #434347;
      color: #e1e0e7;
      font-size: 24px;
      line-height: 26px;
      font-weight: 500;
      border: 1px solid #a5a4b0;
      border-radius: 8px;
      cursor: pointer;
      transition: background-color 0.3s ease, transform 0.2s ease;
   }

   .custom-add-to-cart:active {
      transform: translateY(0);
   }

   .cart-icon {
      margin-right: 8px;
      display: inline-block;
   }

   .button-text {
      display: inline-block;
   }
}

.woocommerce {
   div.product {
      .eael-single-product-add-to-cart {
         .variations_form,
         .grouped_form {
            flex-direction: column;
         }
         form.cart {
            display: flex;
            margin-bottom: 0;
            input[type="number"],
            .quantity {
               .qty {
                  width: 60px;
                  height: 61px;
                  padding: 16px 8px;
                  color: #73727a;
                  font-size: 24px;
                  text-align: center;
                  border: 1px solid #a5a4b0;
                  border-radius: 8px;
                  background-color: #fff;
               }
            }
            .button {
               display: flex;
               gap: 8px;
               padding: 16px 24px;
               background-color: #434347;
               color: #e1e0e7;
               font-size: 24px;
               line-height: 26px;
               font-weight: 500;
               border: 1px solid #a5a4b0;
               border-radius: 8px;
               align-items: center;
               flex-grow: 0;
               width: fit-content;
            }
         }
      }
   }
}

.eael-add-to-cart--layout-column {
   &.eael-add-to-cart--align-flex-start {
      .cart {
         align-items: flex-start;
      }
   }
   &.eael-add-to-cart--align-center {
      .cart {
         align-items: center;
      }
   }
   &.eael-add-to-cart--align-end {
      .cart {
         align-items: flex-end;
      }
   }
}

.eael-add-to-cart--align-flex-start
   form.cart:not(.grouped_form):not(.variations_form),
.eael-add-to-cart--align-flex-start
   form.cart.variations_form
   .woocommerce-variation-add-to-cart {
   flex-wrap: nowrap;
   justify-content: flex-start;
}

.eael-add-to-cart--align-center
   form.cart:not(.grouped_form):not(.variations_form),
.eael-add-to-cart--align-center
   form.cart.variations_form
   .woocommerce-variation-add-to-cart {
   flex-wrap: nowrap;
   justify-content: center;
}

.eael-add-to-cart--align-end form.cart:not(.grouped_form):not(.variations_form),
.eael-add-to-cart--align-end
   form.cart.variations_form
   .woocommerce-variation-add-to-cart {
   flex-wrap: nowrap;
   justify-content: flex-end;
}
