.eael-cs-products-container {
    &.style-1 {
        &::before, &::after {
            content: "";
            display: block;
            clear: both;
        }

        .eael-cs-single-product {
            float: left;
            width: 25%;

            &:nth-child(4n +1) {
                clear: left;
            }
        }
    }
}