.eael-cs-products-container {
    &.style-1 {
        &::before, &::after {
            content: "";
            display: block;
            clear: both;
        }

        .eael-cs-single-product {
            float: left;
            position: relative;
            overflow: hidden;

            .eael-cs-product-info {
                background: rgba(10, 22, 61, 0.9);
                position: absolute;
                bottom: 0;
                left: 0;
                transform: translateY(100%);
                width: 100%;
                z-index: 2;
                transition: .3s;
            }

            &:hover .eael-cs-product-info {
                transform: translateY(0);
            }
        }
    }

    &.eael-cross-sales-column-1 {
        .eael-cs-single-product {
            float: none;
        }
    }

    &.eael-cross-sales-column-2 {
        .eael-cs-single-product {
            width: 50%;

            &:nth-child(2n + 1) {
                clear: left;
            }
        }
    }

    &.eael-cross-sales-column-3 {
        .eael-cs-single-product {
            width: 33.3333%;

            &:nth-child(3n + 1) {
                clear: left;
            }
        }
    }

    &.eael-cross-sales-column-4 {
        .eael-cs-single-product {
            width: 25%;

            &:nth-child(4n + 1) {
                clear: left;
            }
        }
    }

    &.eael-cross-sales-column-5 {
        .eael-cs-single-product {
            width: 20%;

            &:nth-child(5n + 1) {
                clear: left;
            }
        }
    }

    &.eael-cross-sales-column-6 {
        .eael-cs-single-product {
            width: 16.6666%;

            &:nth-child(6n + 1) {
                clear: left;
            }
        }
    }
}