$theme-preset1: #758F4D;
$spacing1: 5px;
$spacing2: 10px;
$spacing3: 15px;
$spacing4: 20px;
$spacing5: 25px;
$spacing6: 30px;

$spacer-sm: $spacing3;
$spacer-md: $spacing4;
$spacer-lg: $spacing5;

.eael-product-list-wrapper {
    .eael-direction-rtl {
        direction: rtl;
    }

    .eael-m-0 {
        margin: 0;
    }
    
    &.preset-1 {
        .eael-product-list-container {
            padding: 60px;
        }
        
        .eael-product-list-item {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            // Image Wrap
            .eael-product-list-image-wrap {
                text-align: center;
                width: 30%;
                position: relative;

                img {
                    max-width: 100%;
                    width: 100%;
                    max-height: 350px;
                    object-fit: contain;
                }

                .eael-product-list-buttons-on-hover {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    opacity: 0;
                    visibility: hidden;
                    transform: translateY(0);
                    transition: all 0.4s;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    
                    li {
                        padding: 0 4px;

                        a {
                            background: #fff;
                            color: #343434;
                            border-radius: 4px;
                            box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.10);
                            transition: all 0.4s;
                            position: relative;
                            width: 35px;
                            height: 35px;
                            margin: 3px;
                            padding: 0;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            &:hover {
                                color: $theme-preset1;
                            }
                        }

                        .add_to_cart_button {
                            font-size: 0px;
                            border: none;
    
                            &:before {
                                content: "\f07a";
                                display: block;
                                font-family: "Font Awesome 5 Free";
                                font-size: 16px;
                                font-weight: 900;
                                transform: translate(-50%, -50%);
                                top: 50%;
                                left: 50%;
                                position: absolute;
                            }
    
                            &.product_type_variable {
                                &:before {
                                    content: "\f00c";
                                }
                            }
                        }
                        
                        .add_to_cart_button.added {
                            display: none;
                        }

                        .added_to_cart {
                            font-size: 0;
    
                            &:after {
                                content: '\f217';
                                font-weight: 900;
                                font-family: 'Font Awesome 5 Free';
                                font-size: 16px;
                                text-rendering: auto;
                                -webkit-font-smoothing: antialiased;
                                vertical-align: middle;
                                margin: 0;
                                padding: 0;
                            }
                        }
                    }
                }
                
                &:hover .eael-product-list-buttons-on-hover {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(-50px);
                }
            }

            // Content Wrap
            .eael-product-list-content-wrap {
                width: 70%;
                padding-left: 70px;
            }
        }
    }

    // Content Header
    .eael-product-list-content-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: $spacing3;
    }

    .eael-product-list-rating .star-rating {
        margin: 0;
        display: block;
        float: none;
        height: 1em;
        width: 5.6em;
        line-height: 1em;

        &:before {
            content: '\f005\f005\f005\f005\f005';
            font-family: "Font Awesome 5 Free";
            font-weight: 400;
            opacity: 1;
        }

        span {
            display: inline-block;

            &:before {
                content: '\f005 \f005 \f005 \f005 \f005';
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
            }
        }
    }

    // Content Body
    .eael-product-list-content-body {
        .eael-product-list-title {
            margin: 0 0 $spacer-md;
        }

        .eael-product-list-title,
        .eael-product-list-title a {
            font-size: 28px;
            font-style: normal;
            font-weight: 500;
            line-height: 1.2;
            text-transform: capitalize;
            text-decoration: none;
            transition: all 0.4s;
        }

        .eael-product-list-excerpt {
            font-size: 16px;
            font-weight: 400;
            margin: 0 0 $spacer-md;
        }

        .eael-product-list-price {
            display: flex;
            align-items: center;
            margin: 0 0 $spacer-md;
            gap: $spacing3;

            > .amount {
                font-size: 20px;
                font-weight: 400;
                line-height: 1.2;
            }

            del {
                order: 1;
                font-size: 20px;
                font-weight: 400;
                line-height: 1.2;
                text-decoration: strikethrough;
            }

            ins {
                font-size: 28px;
                font-weight: 600;
                line-height: 1.2;
                text-decoration: none;
            }
        }
    }

    // Content Footer
    .eael-product-list-content-footer {
        .eael-product-list-buttons {
            display: flex;
            align-items: center;

            a {
                display: inline-block;
            }

            .eael-product-list-add-to-cart-button a {
                color: #FFF;
                font-size: 14px;
                font-weight: 600;
                line-height: 1.2;
                text-decoration: none;
                padding: 12px 16px;
                background: $theme-preset1;
                border-radius: 8px;
                margin: 0 15px 0 0;
                transition: all 0.4s;

                &:hover {
                    background: #000;
                }
            }

            .eael-product-list-quick-view-button a {
                color: #515151;
                font-size: 16px;
                font-weight: 500;
                line-height: 1.2;
                text-decoration-line: underline;
                transition: all 0.4s;

                &:hover {
                    color: $theme-preset1;
                }
            }
        }
    }
}