.woocommerce div.product .product_title {
	margin: 0;
}

.eael-woo-product-title {
	display: flex;
	align-items: center;
	gap: 10px;

	.product_title {
		margin: 0;
	}

	a {
		text-decoration: none;
		color: inherit;
	}

	.eael-product-title-prefix {
		display: inline-flex;
		align-items: center;
		line-height: 1;
		&.eael-product-title-prefix-icon {
			svg {
				width: 16px;
				height: 16px;
			}
		}
	}

	.eael-product-title-suffix {
		display: inline-flex;
		align-items: center;
		line-height: 1;
		&.eael-product-title-suffix-icon {
			svg {
				width: 16px;
				height: 16px;
			}
		}
	}
}
