$text-color-1: #202B46;
$text-color-2: #747C92;
$text-color-3: #737373;
$qty-button: #97A0B6;
$icon-color: #BEC6D7;
$background: #f9fbff;
$btn-bg: #6557FF;
$transparent: transparent;
$white: #fff;

.eael-woo-cart .eael-woo-cart-wrapper {
    background: $background;
    padding: 100px 0;

    form.eael-woo-cart-form {
        .eael-woo-cart-table {
            border-collapse: separate;
            border-spacing: 0 13px;
            margin: 0;

            th,
            td {
                border: none;
                color: $text-color-1;

                a {
                    color: $text-color-1;
                }
            }

            thead {
                tr {
                    th {
                        border: none;
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 30px;

                        &.product-thumbnail {
                            text-align: left;
                        }

                        &.product-name {
                            text-align: left;
                        }
                    }
                }
            }

            tbody {
                tr {
                    position: relative;
                    z-index: 2;

                    &::after {
                        position: absolute;
                        content: "";
                        background: $white;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        z-index: -1;
                        box-shadow: 0 8px 18px 0 rgba(0, 1, 35, 0.05);
                        border-radius: 5px;
                    }

                    td {
                        border: none;
                        background: transparent;
                        text-align: center;
                        vertical-align: middle;
                        font-size: 20px;

                        &.product-remove {
                            color: $icon-color;

                            a {
                                color: $icon-color;
                            }
                        }

                        &.product-thumbnail {
                            font-size: 0;
                            text-align: left;

                            a {
                                display: inline-block;

                                img {
                                    display: block;
                                }
                            }

                            img {
                                width: 62px;
                                height: auto;
                                border-radius: 50%;
                                display: inline-block;
                            }
                        }

                        &.product-name {
                            text-align: left;
                        }

                        &.product-price {
                            color: $text-color-2;
                        }

                        &.product-quantity {
                            .quantity {
                                display: flex;
                                align-items: center;
                                justify-content: center;

                                input::-webkit-outer-spin-button,
                                input::-webkit-inner-spin-button {
                                    -webkit-appearance: none;
                                }

                                input[type=number] {
                                    -moz-appearance: textfield;
                                    width: 50px;
                                    background: #F9FBFF;
                                    border: none;
                                    border-radius: 3px;
                                    padding: 10px;
                                    line-height: 30px;
                                    text-align: center;
                                    font-size: 20px;
                                    color: $text-color-1;
                                }

                                .eael-cart-qty-minus,
                                .eael-cart-qty-plus {
                                    line-height: 30px;
                                    padding: 10px 15px;
                                    color: $qty-button;
                                    font-size: 20px;
                                    cursor: pointer;
                                }
                            }
                        }

                        &.product-subtotal {
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }

    .eael-cart-coupon-and-collaterals {
        overflow: hidden;

        button,
        .button {
            background: $btn-bg;
            box-shadow: 0 8px 18px rgba(0, 0, 0, 0.05);
            border-radius: 5px;
            color: $white;
            border: none;
            font-size: 18px;
            line-height: 30px;
            font-weight: 500;
            padding: 10px 40px;
        }

        .eael-cart-coupon-wrapper {
            width: 50%;
            float: left;
            min-height: 1px;

            .coupon {
                border: 1px solid #D7DFEF;
                border-radius: 5px;
                max-width: 400px;
                padding: 7px;
                display: flex;

                input {
                    background: $transparent;
                    border: none;
                    font-size: 18px;
                    line-height: 30px;
                }

                button {
                    box-shadow: 0 8px 18px rgba(56, 51, 117, 0.1);
                }
            }
        }

        .cart-collaterals {
            width: 50%;
            float: left;

            .eael-cart-update-btn {
                display: flex;
                justify-content: flex-end;

                button {
                    max-width: 365px;
                    width: 100%;
                    margin-bottom: 13px;

                    &[disabled] {
                        opacity: .5;
                        cursor: not-allowed;
                    }
                }
            }

            .cart_totals {
                max-width: 365px;
                width: 100%;

                table {
                    border-collapse: separate;
                    border-spacing: 0 13px;
                    margin: -13px 0;

                    td,
                    th {
                        background: $transparent;
                        border: none;
                        font-size: 18px;
                        color: $text-color-3;
                    }

                    tr {
                        position: relative;
                        z-index: 2;

                        &::after {
                            position: absolute;
                            content: "";
                            background: $white;
                            top: 0;
                            left: 0;
                            height: 100%;
                            width: 100%;
                            z-index: -1;
                            box-shadow: 0 8px 18px 0 rgba(0, 1, 35, 0.05);
                            border-radius: 5px;
                        }

                        th {
                            color: $text-color-3;
                            font-weight: 500;
                            text-align: left;
                        }

                        td {
                            border-spacing: 0;
                            text-align: right;

                            a {
                                color: $text-color-1;
                            }

                            .button {
                                width: 100%;
                            }
                        }

                        &.cart-subtotal,
                        &.order-total {
                            td {
                                font-size: 20px;
                                font-weight: 500;
                                color: $text-color-1;

                                strong {
                                    font-weight: 500;
                                }
                            }
                        }
                    }

                    + .wc-proceed-to-checkout {
                        margin-top: 13px;
                    }
                }

                .wc-proceed-to-checkout {
                    padding: 0;

                    a.button {
                        font-size: 20px;
                        padding: 18px 0;
                        margin: 0;
                    }
                }
            }
        }
    }
}