.left-right-prev {
   &.swiper-button-prev {
      top: 20px;
      left: 35%;
      transform: rotate(87deg);
   }
   &.swiper-button-next {
      top: auto;
      bottom: 0;
      right: 35%;
      transform: rotate(87deg);
   }
   &::after {
      font-size: 18px !important;
   }
}

.eael-pi {
   button.mfp-arrow {
      width: 5%;
   }
}

.eael-pi-thumb-left {
   .product_image_slider {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 10px;
      .product_image_slider__thumbs {
         flex-direction: column;
         .single-thumb-img {
            .swiper-slide {
               height: 90px !important;
            }
         }
         .product_image_slider__prev {
            position: relative;
            height: auto;
            justify-content: center;
         }
         .product_image_slider__next {
            position: relative;
            height: auto;
            justify-content: center;
         }
      }
   }
}

.eael-pi-thumb-right {
   .product_image_slider {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: flex-start;
      gap: 10px;
      .product_image_slider__thumbs {
         flex-direction: column;
         .single-thumb-img {
            .swiper-slide {
               height: 90px !important;
            }
         }
         .product_image_slider__prev {
            position: relative;
            height: auto;
            justify-content: center;
         }
         .product_image_slider__next {
            position: relative;
            height: auto;
            justify-content: center;
         }
      }
   }
}

.eael-single-product-images {
   .product_image_slider {
      width: 100%;
      &__thumbs {
         // width: 100%;
         padding: 0;
         position: relative;
         display: flex;
         // flex: 1;
         .swiper-button-prev,
         .swiper-button-next {
            &::after {
               font-size: 18px !important;
            }
         }
         &__image {
            width: 100%;
            height: auto;
         }
         .swiper-slide {
            width: 100px;
            height: 90px;
            overflow: hidden;
            opacity: 0.5;
            &-thumb-active {
               opacity: 1;
            }
         }
         .swiper-container:not(.swiper-container-initialized) > .swiper-wrapper,
         .swiper:not(.swiper-initialized) > .swiper-wrapper {
            overflow: visible;
         }
      }
      &__container {
         // width: 80%;
         height: auto;
         margin: 0 0 10px 0;
         flex: 1;
         .product_image_slider__trigger {
            position: absolute;
            right: 0;
            background-color: #ddd;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            padding: 5px 8px;
            z-index: 9;
            svg {
               width: 15px;
            }
         }
         .swiper-slide {
            width: auto;
            .image_slider__image {
               width: 100%;
               height: 100%;
            }
            img {
               display: block;
               margin: 0 auto;
            }
         }
         .swiper-container:not(.swiper-container-initialized) > .swiper-wrapper,
         .swiper:not(.swiper-initialized) > .swiper-wrapper {
            overflow: visible;
         }
         .swiper {
            &-button-next::after,
            &-button-prev::after {
               display: flex;
               align-items: center;
               justify-content: center;
               font-weight: 800;
               opacity: 0.75;
               border-radius: 50%;
               font-size: 20px;
            }
         }
      }
   }
}

.container_width_full {
   width: 100%;
}

.container_width {
   width: 80%;
}
