.eael-formstack .fsForm .fsCell {
  padding: 0 !important;
}
.eael-formstack input {
  font-size: inherit;
  line-height: initial;
}
.eael-formstack .vertical {
  display: inherit;
  border-left: none;
  height: auto;
}
