/*-----------------------------*/
/* 15. Post Grid Style
/*-----------------------------*/
.eael-post-grid {
  margin: 0 -10px;
}

.eael-grid-post {
  float: left;
  padding: 10px;
}

.eael-post-carousel .eael-grid-post {
  float: none;
  padding: 0;
}

.eael-grid-post-holder {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.eael-grid-post-holder-inner {
  height: 100%;
}

.eael-entry-media {
  position: relative;
}

.eael-entry-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  -webkit-transition: opacity 0.2s ease-in-out, -webkit-transform 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  transition: opacity 0.2s ease-in-out, -webkit-transform 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  transition: opacity 0.2s ease-in-out, transform 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  transition: opacity 0.2s ease-in-out, transform 0.25s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.25s cubic-bezier(0.19, 1, 0.22, 1);
}

.eael-entry-overlay > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.eael-entry-title {
  margin: 10px 0 5px;
  font-size: 1.2em;
}

.eael-entry-thumbnail img {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
}

.eael-entry-thumbnail > img {
  height: 100%;
}

.eael-entry-footer .eael-author-avatar {
  width: 50px;
}

.eael-entry-footer .eael-author-avatar .avatar {
  border-radius: 50%;
}

.eael-post-grid .eael-entry-footer .eael-entry-meta {
  padding-left: 8px;
  text-align: left;
}

.eael-grid-post .eael-entry-meta {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}

.eael-grid-post .eael-entry-footer .eael-entry-meta {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.eael-entry-meta > div {
  font-size: 12px;
  line-height: 1.2;
  padding-bottom: 5px;
}

.eael-grid-post-excerpt p {
  margin: 0;
  font-size: 14px;
}

.eael-entry-meta .eael-entry-footer .eael-posted-by {
  display: block;
}

.eael-grid-post .eael-entry-wrapper,
.eael-grid-post .eael-entry-footer {
  padding: 15px;
}

.eael-post-grid .eael-entry-header .eael-entry-meta span.eael-posted-on {
  padding-left: 5px;
}

.eael-post-grid .eael-entry-header .eael-entry-meta span.eael-posted-on::before {
  content: '\f111';
  font-family: FontAwesome;
  color: inherit;
  opacity: .4;
  font-size: .8em;
  padding-right: 7px;
}

/*--- Post Grid Thumbnail Hover Effects ---*/
.eael-entry-media {
  position: relative;
}

.eael-entry-overlay {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.eael-entry-overlay > i {
  color: #fff;
}

/*--- fade in ---*/
.eael-entry-overlay.fade-in {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.eael-entry-media:hover .eael-entry-overlay.fade-in {
  visibility: visible;
  opacity: 1;
}

.eael-entry-media:hover .eael-entry-overlay.fade-in > i {
  -webkit-transform: translate(0);
          transform: translate(0);
  opacity: 1;
}

/*--- zoom in --- */
.eael-entry-overlay.zoom-in {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.eael-entry-media:hover .eael-entry-overlay.zoom-in {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

/*--- slide up ---*/
.eael-entry-overlay.slide-up {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.eael-entry-media:hover .eael-entry-overlay.slide-up {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  visibility: visible;
  opacity: 1;
}

.eael-entry-media {
  overflow: hidden;
}

/*--- Post Grid & Carousel Hover Styles ---*/
.eael-entry-media.grid-hover-style-fade-in .eael-entry-overlay {
  opacity: 0;
}

.eael-entry-media.grid-hover-style-fade-in:hover .eael-entry-overlay {
  opacity: 1;
}

.eael-entry-media.grid-hover-style-none .eael-entry-overlay {
  display: none;
}

.eael-entry-media.grid-hover-style-zoom-in .eael-entry-overlay {
  -webkit-transform: scale(0.4);
          transform: scale(0.4);
  opacity: 0;
}

.eael-entry-media.grid-hover-style-zoom-in:hover .eael-entry-overlay {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.eael-entry-media.grid-hover-style-animate-down .eael-entry-overlay {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.eael-entry-media.grid-hover-style-animate-down .eael-entry-overlay > i {
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

.eael-entry-media.grid-hover-style-animate-down:hover .eael-entry-overlay {
  -webkit-transform: translate(0);
          transform: translate(0);
}

.eael-entry-media.grid-hover-style-animate-down:hover .eael-entry-overlay > i {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.eael-entry-media.grid-hover-style-animate-up .eael-entry-overlay {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  visibility: hidden;
  opacity: 0;
}

.eael-entry-media.grid-hover-style-animate-up .eael-entry-overlay > i {
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

.eael-entry-media.grid-hover-style-animate-up:hover .eael-entry-overlay {
  -webkit-transform: translate(0);
          transform: translate(0);
  visibility: visible;
  opacity: 1;
}

.eael-entry-media.grid-hover-style-animate-up:hover .eael-entry-overlay > i {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

/*--- Post Grid Column Styles ---*/
.eael-col-1 .eael-post-grid-column {
  float: none;
  width: 100%;
}

.eael-col-2 .eael-post-grid-column {
  float: left;
  width: 50%;
}

.eael-col-3 .eael-post-grid-column {
  float: left;
  width: 33.3333%;
}

.eael-col-4 .eael-post-grid-column {
  float: left;
  width: 25%;
}

.eael-col-5 .eael-post-grid-column {
  float: left;
  width: 20%;
}

.eael-col-6 .eael-post-grid-column {
  float: left;
  width: 16.6666%;
}

@media only screen and (max-width: 979px) {
  .eael-col-1 .eael-post-grid-column,
  .eael-col-2 .eael-post-grid-column,
  .eael-col-3 .eael-post-grid-column,
  .eael-col-4 .eael-post-grid-column,
  .eael-col-5 .eael-post-grid-column,
  .eael-col-6 .eael-post-grid-column {
    width: 33.3333%;
  }
}
@media only screen and (max-width: 767px) {
  .eael-col-1 .eael-post-grid-column,
  .eael-col-2 .eael-post-grid-column,
  .eael-col-3 .eael-post-grid-column,
  .eael-col-4 .eael-post-grid-column,
  .eael-col-5 .eael-post-grid-column,
  .eael-col-6 .eael-post-grid-column {
    width: 50%;
  }
}
@media only screen and (max-width: 480px) {
  .eael-col-1 .eael-post-grid-column,
  .eael-col-2 .eael-post-grid-column,
  .eael-col-3 .eael-post-grid-column,
  .eael-col-4 .eael-post-grid-column,
  .eael-col-5 .eael-post-grid-column,
  .eael-col-6 .eael-post-grid-column {
    float: none;
    width: 100%;
  }
}
.eael-author-avatar > a {
  display: block;
}

.eael-entry-footer {
  overflow: hidden;
  display: -webkit-box;
  display: flex;
}

.eael-entry-footer > div {
  display: inline-block;
  float: left;
}
