/**
 *=============================================================
 * Eael Admin Settings Page Styles 
 *============================================================= 
 */

/* General Style */
.eael-settings-tabs {
	padding-top: 15px;
}
.eael-settings-tabs ul {
	width: 100%;
	height: auto;
	margin: 25px 0px 20px 0px;
}
.eael-settings-tabs ul li {
	display: inline-block;
}
.eael-settings-tabs ul li a {
	padding: 15px 20px;
	background: #f9f9f9;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
	border: 1px solid rgba( 0,0,0,0.1 );
	border-bottom: none;
}
.eael-settings-tab {
	background: #fff;
	padding: 15px 25px;
	margin-top: -8px;
	border: 1px solid rgba( 0,0,0,0.1 );
	border-top: none;
	position: relative;
}
.eael-settings-tabs ul li.ui-tabs-active a {
	background: #f2f2f2;
	outline: none;
	box-shadow: none;
}
.section-title {
	display: block;
	padding: 15px 10px 15px 20px;
	font-size: 20px;
	background: #f2f2f2;
	border-radius: 20px;
}
p.title {
	font-size: 14px;
	font-weight: 500;
	color: #333;
	text-transform: uppercase;
	margin-bottom: 0px;
	line-height: 20px;
}
p.desc {
	font-size: 12px;
	color: #4d4d4d;
	margin-bottom: 15px !important;
	padding-bottom: 15px;
	border-bottom: 1px solid rgba( 0,0,0,0.1 );
}
.eael-form-control {
	width: 100%;
}
textarea.eael-form-control {
	padding: 15px;
	font-size: 14px;
	font-weight: 600;
	color: #5d5d5d;
} 
.row {
	width: 100%;
	height: auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content: flex-start;
	padding: 15px 0px;
}
.col-full {
	width: 100%;
	height: auto;
}
.col-half {
	width: 49%;
	height: auto;
}
.col-one-third {
	width: 32%;
	height: auto;
}
/* Checkbox Style */
.eael-checkbox {
  font-size: 24px;
}
.eael-checkbox input[type=checkbox] {
  visibility: hidden;
  display: none;
}
.eael-checkbox label {
  width: 2em;
  height: 1em;
  position: relative;
  cursor: pointer;
  display: block;
}
.eael-checkbox label:before {
  content: '';
  position: absolute;
  width: 2em;
  height: 1em;
  left: 0.1em;
  transition: background 0.1s 0.1s ease;
  background: #F25F5C;
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px rgba(171, 66, 63, 0.5);
}
.eael-checkbox label:after {
  content: '';
  position: absolute;
  width: .8em;
  height: .8em;
  border-radius: 100%;
  left: .2em;
  top: .1em;
  transition: all 0.2s ease;
  box-shadow: 0 0 0 5px #fcfff4 inset;
  background: #F25F5C;
  z-index: 2;
  animation: switch-off .3s ease-out;
}
.eael-checkbox input[type=checkbox]:checked + label:before {
  background: #70C1B3;
  box-shadow: inset 0px 1px 1px rgba(84, 152, 140, 0.5);
}
.eael-checkbox input[type=checkbox]:checked + label:after {
  left: 1.2em;
  background: #70C1B3;
  animation: switch-on .3s ease-out;
}

@keyframes switch-on {
  50% {
    transform: scaleX(1.3);
  }
}

@keyframes switch-off {
  50% {
    transform: scaleX(1.3);
  }
}
/* Footer Style */
.eael-settings-footer {
	padding: 20px 25px 15px 25px;
	background: #fff;
	margin-top: 10px;
	border: 1px solid rgba( 0,0,0,0.1 );
}
.eael-settings-footer .submit {
	padding: 0px;
}
.eael-settings-footer p.submit {
	margin-top: 0px;
}
.eael-settings-footer .button {
	padding: 0 25px 1px;
	height: 40px;
}

