/* review notice */

.wpdeveloper-review-notice {
	padding: 10px;
	background-color: #fff;
	border-radius: 3px;
	margin: 15px;
	border-left: 4px solid transparent;
	display: flex;
	align-items: center;
}

.wpdeveloper-review-notice:after {
	content: '';
	display: table;
	clear: both;
}

.wpdeveloper-notice-thumbnail {
	width: 90px;
	float: left;
	padding: 5px;
	text-align: center;
	border-right: 4px solid transparent;
}

.wpdeveloper-notice-thumbnail img {
	width: 72px;
	opacity: .85;
	transition: all .3s;
}

.wpdeveloper-notice-thumbnail img:hover {
	opacity: 1;
}

.eael-review-text {
	overflow: hidden;
}

.eael-review-text h3 {
	font-size: 24px;
	margin: 0 0 5px;
	font-weight: 400;
	line-height: 1.3;
}

.eael-review-text p {
	font-size: 13px;
	margin: 0 0 5px;
}

.wpdeveloper-notice-link {
	margin: 8px 0 0 0;
	padding: 0;
}

.wpdeveloper-notice-link li {
	display: inline-block;
	margin-right: 15px;
}

.wpdeveloper-notice-link li a {
	display: inline-block;
	color: #10738B;
	text-decoration: none;
	padding-left: 26px;
	position: relative;
}

.wpdeveloper-notice-link li a span {
	position: absolute;
	left: 0;
	top: -2px;
}

.wpdeveloper-notice-message {
	padding: 10px 0;
}
.wpdeveloper-upsale-notice .wpdeveloper-notice-message {
	display: flex;
	align-items: center;
	padding: 10px 0;
}
.wpdeveloper-upsale-notice .wpdeveloper-notice-message + .notice-dismiss {
	top: 18px;
}
.wpdeveloper-upsale-notice #plugin-install-core {
	margin-left: 10px;
}
.notice.notice-has-thumbnail {
	padding-left: 0px;
}

.wpdeveloper-upsale-notice {
	display: flex;
}
.wpdeveloper-upsale-notice .wpdeveloper-notice-thumbnail {
	padding: 0;
	width: 80px;
}