/*--------------------------*/
/* 19. Call To Action
/*-------------------------*/
.eael-call-to-action {
  width: 100%;
  height: auto;
  display: block;
  padding: 30px;
  font-size: 16px;
  color: #4d4d4d;
  font-weight: 400;
  line-height: 27px;
  margin: 0 auto;
}

.eael-call-to-action p {
  margin-bottom: 10px;
}

.eael-call-to-action .title {
  font-size: 36px;
  font-weight: 600;
  line-height: 36px;
  margin-bottom: 10px;
  text-transform: capitalize;
  font-style: normal;
}

.eael-call-to-action.cta-center {
  text-align: center;
}

.eael-call-to-action.cta-right {
  text-align: right;
}

.eael-call-to-action.cta-left {
  text-align: left;
}

.eael-call-to-action.bg-lite {
  background: #f4f4f4;
}

.eael-call-to-action.bg-img {
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 0;
  color: rgba(255, 255, 255, 0.7);
}

.eael-call-to-action.bg-img .icon {
  color: #fff;
}

.eael-call-to-action.bg-img:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
  background: rgba(0, 0, 0, 0.8);
}

.eael-call-to-action.bg-img.bg-fixed {
  background-attachment: fixed;
  background-position: center center;
}

.eael-call-to-action.bg-img .title {
  color: rgba(255, 255, 255, 0.9);
}

/*--- Cta Flex ---*/
.eael-call-to-action.cta-flex,
.eael-call-to-action.cta-icon-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/*--- Cta Icon Flex ---*/
.eael-call-to-action.cta-icon-flex .icon {
  flex-grow: 1;
  font-size: 80px;
  text-align: left;
  line-height: 130px;
}

.eael-call-to-action.cta-icon-flex .action {
  flex-grow: 1;
  text-align: right;
  padding-top: 22px;
  flex-basis: 22%;
}

.eael-call-to-action.cta-icon-flex .content {
  flex-grow: 1;
  padding: 0px 30px;
}

/*--- Cta Flex ---*/
.eael-call-to-action.cta-flex .content {
  padding: 0px 15px;
  flex-grow: 1;
}

.eael-call-to-action.cta-flex .action {
  flex-grow: 1;
  text-align: right;
  padding-top: 25px;
  flex-basis: 23%;
}

/*--- Cta Button ---*/
.eael-call-to-action .cta-button {
  position: relative;
  display: inline-block;
  padding: 12px 30px;
  background: #f9f9f9;
  font-size: 16px;
  text-decoration: none;
  color: #4d4d4d;
  transition: .5s;
  -ms-box-shadow: 0px 0px 3px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 3px -1px rgba(0, 0, 0, 0.2);
  margin-right: 10px;
  margin-top: 10px;
  z-index: 0;
  overflow: hidden;
}

.eael-call-to-action .cta-button:last-child {
  margin-right: 0px;
}

.eael-call-to-action .cta-button:focus {
  outline: none;
}

/*--- Hover ---*/
.eael-call-to-action .cta-button:hover {
  color: #fff;
  background: #3F51B5;
  -ms-box-shadow: 0px 1px 12px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 12px 1px rgba(0, 0, 0, 0.1);
}

/*--- Cta Button effect 1  ---*/
.eael-call-to-action .cta-button.effect-1:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #3F51B5;
  top: 0px;
  left: 0px;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  z-index: -1;
  transition: .5s;
  color: #fff;
}

.eael-call-to-action .cta-button.effect-1:hover::after {
  transform: translateY(0);
}

/*--- Cta Button effect 2 ---*/
.eael-call-to-action .cta-button.effect-2:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #3F51B5;
  top: 0px;
  left: 0px;
  z-index: -1;
  transition: .5s;
  color: #fff;
  transform: translateX(-100%);
}

.eael-call-to-action .cta-button.effect-2:hover::after {
  transform: translateX(0);
}

/*--- Media Queries ---*/
@media only screen and (max-width: 768px) {
  .eael-call-to-action.cta-flex,
  .eael-call-to-action.cta-icon-flex {
    flex-wrap: wrap;
  }

  .eael-call-to-action .title {
    font-size: 28px;
    line-height: 36px;
    margin-top: 0px;
  }

  .eael-call-to-action.cta-icon-flex .icon {
    flex-grow: 1;
    font-size: 48px;
    line-height: 90px;
    text-align: center;
  }

  .eael-call-to-action.cta-flex .content,
  .eael-call-to-action.cta-icon-flex .content {
    flex-grow: 1;
    text-align: center;
    padding: 0px;
  }

  .eael-call-to-action.cta-flex .action,
  .eael-call-to-action.cta-icon-flex .action {
    text-align: center;
    padding-top: 0px;
  }

  .eael-call-to-action .cta-button {
    padding: 12px 25px;
  }
}
@media only screen and (max-width: 360px) {
  .eael-call-to-action {
    font-size: 14px;
    line-height: 26px;
  }

  .eael-call-to-action .cta-button {
    padding: 4px 20px;
    font-size: 12px;
  }

  .eael-call-to-action .title {
    font-size: 20px;
    line-height: 30px;
  }
}
