/*--------------------------*/
/* 09. Product Styles
/*--------------------------*/
.eael-product-grid .woocommerce ul.products,
.eael-post-grid .woocommerce ul.products {
  display: grid;
  grid-gap: 25px;
  margin: 0 !important;
  padding: 0 !important;
}
.eael-product-grid .woocommerce ul.products:before, .eael-product-grid .woocommerce ul.products:after,
.eael-post-grid .woocommerce ul.products:before,
.eael-post-grid .woocommerce ul.products:after {
  display: none;
}
.eael-product-grid .woocommerce ul.products .product,
.eael-post-grid .woocommerce ul.products .product {
  width: 100%;
  margin: 0;
  padding: 0;
}
.eael-product-grid .woocommerce ul.products.products[class*=columns-] li.product,
.eael-post-grid .woocommerce ul.products.products[class*=columns-] li.product {
  width: 100%;
}
.eael-product-grid.eael-product-simple .woocommerce ul.products li.product, .eael-product-grid.eael-product-reveal .woocommerce ul.products li.product,
.eael-post-grid.eael-product-simple .woocommerce ul.products li.product,
.eael-post-grid.eael-product-reveal .woocommerce ul.products li.product {
  position: relative;
  float: left;
  overflow: hidden;
  text-align: center;
  padding: 0;
  border-radius: 0;
  background-color: #fff;
  box-shadow: none;
}
.eael-product-grid.eael-product-simple .woocommerce ul.products li.product a, .eael-product-grid.eael-product-reveal .woocommerce ul.products li.product a,
.eael-post-grid.eael-product-simple .woocommerce ul.products li.product a,
.eael-post-grid.eael-product-reveal .woocommerce ul.products li.product a {
  text-decoration: none;
}
.eael-product-grid.eael-product-simple .woocommerce ul.products li.product a:hover, .eael-product-grid.eael-product-reveal .woocommerce ul.products li.product a:hover,
.eael-post-grid.eael-product-simple .woocommerce ul.products li.product a:hover,
.eael-post-grid.eael-product-reveal .woocommerce ul.products li.product a:hover {
  outline: none;
  box-shadow: none;
}
.eael-product-grid.eael-product-simple .woocommerce ul.products li.product img, .eael-product-grid.eael-product-reveal .woocommerce ul.products li.product img,
.eael-post-grid.eael-product-simple .woocommerce ul.products li.product img,
.eael-post-grid.eael-product-reveal .woocommerce ul.products li.product img {
  width: 100%;
  height: auto;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.eael-product-grid.eael-product-simple .woocommerce ul.products li.product .woocommerce-loop-product__title, .eael-product-grid.eael-product-reveal .woocommerce ul.products li.product .woocommerce-loop-product__title,
.eael-post-grid.eael-product-simple .woocommerce ul.products li.product .woocommerce-loop-product__title,
.eael-post-grid.eael-product-reveal .woocommerce ul.products li.product .woocommerce-loop-product__title {
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  color: #333;
  margin: 25px 0 12px;
  padding: 0;
}
.eael-product-grid.eael-product-simple .woocommerce ul.products li.product .onsale, .eael-product-grid.eael-product-reveal .woocommerce ul.products li.product .onsale,
.eael-post-grid.eael-product-simple .woocommerce ul.products li.product .onsale,
.eael-post-grid.eael-product-reveal .woocommerce ul.products li.product .onsale {
  display: block;
  line-height: 170px;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
  color: #fff;
  background-color: #ff2a13;
  border-radius: 0;
  border: none;
  box-shadow: none;
  position: absolute;
  height: 100px;
  width: 200px;
  z-index: 1;
  left: -100px;
  top: -50px;
  right: auto;
  margin: 0;
  padding: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.eael-product-grid.eael-product-simple .woocommerce ul.products li.product .price, .eael-product-grid.eael-product-reveal .woocommerce ul.products li.product .price,
.eael-post-grid.eael-product-simple .woocommerce ul.products li.product .price,
.eael-post-grid.eael-product-reveal .woocommerce ul.products li.product .price {
  font-size: 14px;
  margin-bottom: 0;
}
.eael-product-grid.eael-product-simple .woocommerce ul.products li.product .price del, .eael-product-grid.eael-product-reveal .woocommerce ul.products li.product .price del,
.eael-post-grid.eael-product-simple .woocommerce ul.products li.product .price del,
.eael-post-grid.eael-product-reveal .woocommerce ul.products li.product .price del {
  opacity: 0.5;
  display: inline-block;
}
.eael-product-grid.eael-product-simple .woocommerce ul.products li.product .price ins, .eael-product-grid.eael-product-reveal .woocommerce ul.products li.product .price ins,
.eael-post-grid.eael-product-simple .woocommerce ul.products li.product .price ins,
.eael-post-grid.eael-product-reveal .woocommerce ul.products li.product .price ins {
  font-weight: 400;
  background-color: transparent;
  color: #ff2a13;
}
.eael-product-grid.eael-product-simple .woocommerce ul.products li.product .star-rating, .eael-product-grid.eael-product-reveal .woocommerce ul.products li.product .star-rating,
.eael-post-grid.eael-product-simple .woocommerce ul.products li.product .star-rating,
.eael-post-grid.eael-product-reveal .woocommerce ul.products li.product .star-rating {
  display: block;
  float: none;
  font-size: 14px;
  margin: 10px auto;
}
.eael-product-grid.eael-product-simple .woocommerce ul.products li.product .button.add_to_cart_button, .eael-product-grid.eael-product-reveal .woocommerce ul.products li.product .button.add_to_cart_button,
.eael-post-grid.eael-product-simple .woocommerce ul.products li.product .button.add_to_cart_button,
.eael-post-grid.eael-product-reveal .woocommerce ul.products li.product .button.add_to_cart_button {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #333;
  padding: 0;
  margin: 15px;
  border-radius: 0;
}
.eael-product-grid.eael-product-simple .woocommerce ul.products li.product .button.add_to_cart_button:focus, .eael-product-grid.eael-product-reveal .woocommerce ul.products li.product .button.add_to_cart_button:focus,
.eael-post-grid.eael-product-simple .woocommerce ul.products li.product .button.add_to_cart_button:focus,
.eael-post-grid.eael-product-reveal .woocommerce ul.products li.product .button.add_to_cart_button:focus {
  outline: none;
}
.eael-product-grid.eael-product-simple .woocommerce ul.products li.product a.added_to_cart, .eael-product-grid.eael-product-reveal .woocommerce ul.products li.product a.added_to_cart,
.eael-post-grid.eael-product-simple .woocommerce ul.products li.product a.added_to_cart,
.eael-post-grid.eael-product-reveal .woocommerce ul.products li.product a.added_to_cart {
  display: block;
  margin: 0 0 15px 0;
  padding: 0;
  font-size: 14px;
  line-height: 1;
  text-transform: capitalize;
  color: #333;
  background-color: transparent;
}
.eael-product-grid.eael-product-simple .woocommerce ul.products li.product,
.eael-post-grid.eael-product-simple .woocommerce ul.products li.product {
  border: 1px solid #eee;
}
.eael-product-grid.eael-product-reveal .woocommerce ul.products li.product,
.eael-post-grid.eael-product-reveal .woocommerce ul.products li.product {
  border: 1px solid transparent;
}
.eael-product-grid.eael-product-reveal .woocommerce ul.products li.product .button.add_to_cart_button,
.eael-product-grid.eael-product-reveal .woocommerce ul.products li.product a.added_to_cart,
.eael-post-grid.eael-product-reveal .woocommerce ul.products li.product .button.add_to_cart_button,
.eael-post-grid.eael-product-reveal .woocommerce ul.products li.product a.added_to_cart {
  visibility: hidden;
  -webkit-transition: none;
  transition: none;
}
.eael-product-grid.eael-product-reveal .woocommerce ul.products li.product:hover,
.eael-post-grid.eael-product-reveal .woocommerce ul.products li.product:hover {
  border: 1px solid #eee;
}
.eael-product-grid.eael-product-reveal .woocommerce ul.products li.product:hover .button.add_to_cart_button,
.eael-product-grid.eael-product-reveal .woocommerce ul.products li.product:hover a.added_to_cart,
.eael-post-grid.eael-product-reveal .woocommerce ul.products li.product:hover .button.add_to_cart_button,
.eael-post-grid.eael-product-reveal .woocommerce ul.products li.product:hover a.added_to_cart {
  visibility: visible;
}
.eael-product-grid.eael-product-overlay .woocommerce ul.products li.product,
.eael-post-grid.eael-product-overlay .woocommerce ul.products li.product {
  position: relative;
  float: left;
  overflow: hidden;
  text-align: center;
  padding: 0 0 15px 0;
  border-radius: 0;
  background-color: #fff;
  box-shadow: none;
}
.eael-product-grid.eael-product-overlay .woocommerce ul.products li.product a,
.eael-post-grid.eael-product-overlay .woocommerce ul.products li.product a {
  text-decoration: none;
}
.eael-product-grid.eael-product-overlay .woocommerce ul.products li.product a:hover,
.eael-post-grid.eael-product-overlay .woocommerce ul.products li.product a:hover {
  outline: none;
  box-shadow: none;
}
.eael-product-grid.eael-product-overlay .woocommerce ul.products li.product img,
.eael-post-grid.eael-product-overlay .woocommerce ul.products li.product img {
  width: 100%;
  height: auto;
  margin: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.eael-product-grid.eael-product-overlay .woocommerce ul.products li.product .overlay,
.eael-post-grid.eael-product-overlay .woocommerce ul.products li.product .overlay {
  position: relative;
  overflow: hidden;
  line-height: 0;
}
.eael-product-grid.eael-product-overlay .woocommerce ul.products li.product .overlay .button-wrap,
.eael-post-grid.eael-product-overlay .woocommerce ul.products li.product .overlay .button-wrap {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.eael-product-grid.eael-product-overlay .woocommerce ul.products li.product .overlay .product-link,
.eael-product-grid.eael-product-overlay .woocommerce ul.products li.product .overlay .add_to_cart_button,
.eael-product-grid.eael-product-overlay .woocommerce ul.products li.product .overlay .added_to_cart,
.eael-post-grid.eael-product-overlay .woocommerce ul.products li.product .overlay .product-link,
.eael-post-grid.eael-product-overlay .woocommerce ul.products li.product .overlay .add_to_cart_button,
.eael-post-grid.eael-product-overlay .woocommerce ul.products li.product .overlay .added_to_cart {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  text-align: center;
  color: #fff;
  background-color: #333;
  width: 38px;
  height: 38px;
  border-style: none;
  border-radius: 50%;
  vertical-align: middle;
  padding: 0;
  margin: 0 5px;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  opacity: 0;
  -webkit-transition: opacity 300ms, -webkit-transform 200ms;
  transition: opacity 300ms, -webkit-transform 200ms;
  transition: transform 200ms, opacity 300ms;
  transition: transform 200ms, opacity 300ms, -webkit-transform 200ms;
}
.eael-product-grid.eael-product-overlay .woocommerce ul.products li.product .overlay .product-link:focus,
.eael-product-grid.eael-product-overlay .woocommerce ul.products li.product .overlay .add_to_cart_button:focus,
.eael-product-grid.eael-product-overlay .woocommerce ul.products li.product .overlay .added_to_cart:focus,
.eael-post-grid.eael-product-overlay .woocommerce ul.products li.product .overlay .product-link:focus,
.eael-post-grid.eael-product-overlay .woocommerce ul.products li.product .overlay .add_to_cart_button:focus,
.eael-post-grid.eael-product-overlay .woocommerce ul.products li.product .overlay .added_to_cart:focus {
  outline: none;
}
.eael-product-grid.eael-product-overlay .woocommerce ul.products li.product .overlay .add_to_cart_button,
.eael-post-grid.eael-product-overlay .woocommerce ul.products li.product .overlay .add_to_cart_button {
  font-size: 0;
}
.eael-product-grid.eael-product-overlay .woocommerce ul.products li.product .overlay .add_to_cart_button:before,
.eael-post-grid.eael-product-overlay .woocommerce ul.products li.product .overlay .add_to_cart_button:before {
  display: none;
}
.eael-product-grid.eael-product-overlay .woocommerce ul.products li.product .overlay .add_to_cart_button:after,
.eael-post-grid.eael-product-overlay .woocommerce ul.products li.product .overlay .add_to_cart_button:after {
  content: "\f217";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 14px;
  line-height: 38px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}
.eael-product-grid.eael-product-overlay .woocommerce ul.products li.product .overlay .add_to_cart_button.loading:before,
.eael-post-grid.eael-product-overlay .woocommerce ul.products li.product .overlay .add_to_cart_button.loading:before {
  display: none;
}
.eael-product-grid.eael-product-overlay .woocommerce ul.products li.product .overlay .add_to_cart_button.loading:after,
.eael-post-grid.eael-product-overlay .woocommerce ul.products li.product .overlay .add_to_cart_button.loading:after {
  content: "\f110";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 14px;
  line-height: 38px;
  color: #fff;
  height: auto;
  width: auto;
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}
.eael-product-grid.eael-product-overlay .woocommerce ul.products li.product .overlay .added_to_cart,
.eael-post-grid.eael-product-overlay .woocommerce ul.products li.product .overlay .added_to_cart {
  font-size: 0;
}
.eael-product-grid.eael-product-overlay .woocommerce ul.products li.product .overlay .added_to_cart:after,
.eael-post-grid.eael-product-overlay .woocommerce ul.products li.product .overlay .added_to_cart:after {
  content: "\f06e";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 14px;
  line-height: 38px;
  color: #fff;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}
.eael-product-grid.eael-product-overlay .woocommerce ul.products li.product .woocommerce-loop-product__title,
.eael-post-grid.eael-product-overlay .woocommerce ul.products li.product .woocommerce-loop-product__title {
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  color: #333;
  margin: 25px 0 12px;
  padding: 0;
}
.eael-product-grid.eael-product-overlay .woocommerce ul.products li.product .onsale,
.eael-post-grid.eael-product-overlay .woocommerce ul.products li.product .onsale {
  display: block;
  line-height: 170px;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
  color: #fff;
  background-color: #ff2a13;
  border-radius: 0;
  border: none;
  box-shadow: none;
  position: absolute;
  height: 100px;
  width: 200px;
  z-index: 1;
  left: -100px;
  top: -50px;
  right: auto;
  margin: 0;
  padding: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.eael-product-grid.eael-product-overlay .woocommerce ul.products li.product .price,
.eael-post-grid.eael-product-overlay .woocommerce ul.products li.product .price {
  font-size: 14px;
  margin-bottom: 0;
}
.eael-product-grid.eael-product-overlay .woocommerce ul.products li.product .price del,
.eael-post-grid.eael-product-overlay .woocommerce ul.products li.product .price del {
  opacity: 0.5;
  display: inline-block;
}
.eael-product-grid.eael-product-overlay .woocommerce ul.products li.product .price ins,
.eael-post-grid.eael-product-overlay .woocommerce ul.products li.product .price ins {
  font-weight: 400;
  background-color: transparent;
  color: #ff2a13;
}
.eael-product-grid.eael-product-overlay .woocommerce ul.products li.product .star-rating,
.eael-post-grid.eael-product-overlay .woocommerce ul.products li.product .star-rating {
  display: block;
  float: none;
  font-size: 14px;
  margin: 10px auto;
}
.eael-product-grid.eael-product-overlay .woocommerce ul.products li.product:hover .overlay a,
.eael-product-grid.eael-product-overlay .woocommerce ul.products li.product:hover .overlay .add_to_cart_button,
.eael-post-grid.eael-product-overlay .woocommerce ul.products li.product:hover .overlay a,
.eael-post-grid.eael-product-overlay .woocommerce ul.products li.product:hover .overlay .add_to_cart_button {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media only screen and (min-width: 1025px) {
  .eael-product-grid-column-1 .eael-product-grid .woocommerce ul.products {
    grid-template-columns: 100%;
  }

  .eael-product-grid-column-2 .eael-product-grid .woocommerce ul.products {
    grid-template-columns: repeat(2, 1fr);
  }

  .eael-product-grid-column-3 .eael-product-grid .woocommerce ul.products {
    grid-template-columns: repeat(3, 1fr);
  }

  .eael-product-grid-column-4 .eael-product-grid .woocommerce ul.products {
    grid-template-columns: repeat(4, 1fr);
  }

  .eael-product-grid-column-5 .eael-product-grid .woocommerce ul.products {
    grid-template-columns: repeat(5, 1fr);
  }

  .eael-product-grid-column-6 .eael-product-grid .woocommerce ul.products {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media only screen and (max-width: 1024px) and (min-width: 766px) {
  .eael-product-grid-column-tablet-1 .eael-product-grid .woocommerce ul.products {
    grid-template-columns: 100%;
  }

  .eael-product-grid-column-tablet-2 .eael-product-grid .woocommerce ul.products {
    grid-template-columns: repeat(2, 1fr);
  }

  .eael-product-grid-column-tablet-3 .eael-product-grid .woocommerce ul.products {
    grid-template-columns: repeat(3, 1fr);
  }

  .eael-product-grid-column-tablet-4 .eael-product-grid .woocommerce ul.products {
    grid-template-columns: repeat(4, 1fr);
  }

  .eael-product-grid-column-tablet-5 .eael-product-grid .woocommerce ul.products {
    grid-template-columns: repeat(5, 1fr);
  }

  .eael-product-grid-column-tablet-6 .eael-product-grid .woocommerce ul.products {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media only screen and (max-width: 767px) {
  .eael-product-grid-column-mobile-1 .eael-product-grid .woocommerce ul.products {
    grid-template-columns: 100%;
  }

  .eael-product-grid-column-mobile-2 .eael-product-grid .woocommerce ul.products {
    grid-template-columns: repeat(2, 1fr);
  }

  .eael-product-grid-column-mobile-3 .eael-product-grid .woocommerce ul.products {
    grid-template-columns: repeat(3, 1fr);
  }

  .eael-product-grid-column-mobile-4 .eael-product-grid .woocommerce ul.products {
    grid-template-columns: repeat(4, 1fr);
  }

  .eael-product-grid-column-mobile-5 .eael-product-grid .woocommerce ul.products {
    grid-template-columns: repeat(5, 1fr);
  }

  .eael-product-grid-column-mobile-6 .eael-product-grid .woocommerce ul.products {
    grid-template-columns: repeat(6, 1fr);
  }
}
