/*----------------------*/
/* 12. weForm Styles
/*----------------------*/
.eael-weform-container input,
.eael-weform-container textarea {
	height: auto;
	padding: 10px;
}

.eael-contact-form-btn-align-center .eael-weform-container ul.wpuf-form .wpuf-submit input[type="submit"] {
	margin-left: auto !important;
	margin-right: auto !important;
	display: block;
	float: none;
}

.eael-contact-form-btn-align-left .eael-weform-container ul.wpuf-form .wpuf-submit input[type="submit"] {
	float: left;
	width: auto;
}

.eael-contact-form-btn-align-right .eael-weform-container ul.wpuf-form .wpuf-submit input[type="submit"] {
	float: right;
	width: auto;
}

.eael-weform-container ul.wpuf-form li .wpuf-fields input[type="text"],
.eael-weform-container ul.wpuf-form li .wpuf-fields input[type="password"],
.eael-weform-container ul.wpuf-form li .wpuf-fields input[type="email"],
.eael-weform-container ul.wpuf-form li .wpuf-fields input[type="url"],
.eael-weform-container ul.wpuf-form li .wpuf-fields input[type="number"],
.eael-weform-container ul.wpuf-form li .wpuf-fields textarea {
	max-width: 100%;
}