.eael-adv-accordion {
  width: auto;
  height: auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.eael-adv-accordion .eael-accordion-list .eael-accordion-header {
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.02);
  background-color: #f1f1f1;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.eael-adv-accordion .eael-accordion-list .eael-accordion-header > .eael-accordion-tab-title {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0;
}

.eael-adv-accordion .eael-accordion-list .eael-accordion-header > i, .eael-adv-accordion .eael-accordion-list .eael-accordion-header span {
  margin-right: 10px;
}

.eael-adv-accordion .eael-accordion-list .eael-accordion-header .eaa-svg {
  font-size: 32px;
}

.eael-adv-accordion .eael-accordion-list .eael-accordion-header .eaa-svg svg {
  width: 1em;
  height: 1em;
}

.eael-adv-accordion .eael-accordion-list .eael-accordion-header:hover {
  background-color: #414141;
}

.eael-adv-accordion .eael-accordion-list .eael-accordion-header.active {
  background-color: #444444;
}

.eael-adv-accordion .eael-accordion-list .eael-accordion-header .fa-toggle {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  z-index: 10;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.eael-accordion-header .eael-advanced-accordion-icon-closed {
  display: block;
}

.eael-accordion-header .eael-advanced-accordion-icon-opened {
  display: none;
}

.eael-accordion-header.active .eael-advanced-accordion-icon-closed {
  display: none;
}

.eael-accordion-header.active .eael-advanced-accordion-icon-opened {
  display: block;
}

.eael-adv-accordion .eael-accordion-list .eael-accordion-header.active .fa-toggle {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  z-index: 10;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.eael-adv-accordion .eael-accordion-list .eael-accordion-header:focus {
  outline: unset;
}

.fa-accordion-icon {
  display: inline-block;
  margin-right: 10px;
}

.eael-adv-accordion .eael-accordion-list .eael-accordion-content {
  display: none;
  border: 1px solid #eee;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1rem;
  line-height: 1.7;
}

.eael-adv-accordion .eael-accordion-list .eael-accordion-content p {
  margin: 0;
}

.eael-adv-accordion .eael-accordion-list .eael-accordion-content.active {
  display: block;
}

@-webkit-keyframes rotate-90 {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
  }
}

@keyframes rotate-90 {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  100% {
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  100% {
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}

.rtl .eael-adv-accordion .eael-accordion-list .eael-accordion-header.active .fa-toggle {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
