.eael-ticker-wrap {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.eael-ticker-wrap .ticker-badge {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding: 8px 12px;
}

.eael-ticker-wrap .eael-ticker {
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.eael-ticker-wrap .eael-ticker .ticker-content {
  padding: 8px 12px;
  line-height: 1.8;
}

.eael-ticker-wrap .eael-ticker .ticker-content p {
  margin: 0;
}

.eael-ticker-wrap .swiper-button-prev {
  left: auto !important;
  right: 25px;
}

.eael-ticker-wrap div.swiper-slide,
.eael-ticker-wrap div.swiper-slide.swiper-slide-prev,
.eael-ticker-wrap div.swiper-slide.swiper-slide-next {
  opacity: 0 !important;
}

.eael-ticker-wrap div.swiper-slide.swiper-slide-active {
  opacity: 1 !important;
}

.eael-ticker-wrap .eael-content-ticker.swiper-container .swiper-slide {
  text-align: left;
}

@media only screen and (max-width: 767px) {
  .eael-ticker-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .content-ticker-pagination {
    display: none;
  }
}

.eael-ticker-wrap .swiper-button-next, .eael-ticker-wrap .swiper-button-prev {
  background-image: none;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.eael-ticker-wrap .swiper-button-next:before, .eael-ticker-wrap .swiper-button-next:after, .eael-ticker-wrap .swiper-button-prev:before, .eael-ticker-wrap .swiper-button-prev:after {
  display: none;
}

.rtl .eael-ticker-wrap .eael-content-ticker.swiper-container .swiper-slide {
  text-align: right;
}

.rtl .eael-ticker-wrap .swiper-button-prev {
  left: 0 !important;
  right: auto !important;
}

.rtl .eael-ticker-wrap .swiper-button-next {
  right: auto;
  left: 12px;
}
