.eael-event-calendar-wrapper {
  font-family: Segoe UI;
}
.eael-event-calendar-wrapper .eael-event-calendar-cls {
  min-height: 800px;
  min-width: 100%;
}
.eael-event-calendar-wrapper .fc-event {
  padding: 5px 10px;
}
.eael-event-calendar-wrapper a {
  color: #181818;
}
.eael-event-calendar-wrapper .fc-timeGridWeek-view .fc-event,
.eael-event-calendar-wrapper fc-timeGridDay-view .fc-event {
  padding: 5px;
}
.eael-event-calendar-wrapper .fc .fc-timegrid .fc-daygrid-day-events {
  position: relative;
}
.eael-event-calendar-wrapper .fc .fc-daygrid-day-events {
  position: absolute;
  width: 100%;
}
.eael-event-calendar-wrapper .fc table {
  margin: auto;
  overflow: auto;
}
.eael-event-calendar-wrapper .fc-view table thead:first-child tr:first-child td {
  border-top: 1px solid #ddd !important;
  border-bottom: none !important;
}
.eael-event-calendar-wrapper .fc-daygrid-event-dot {
  display: none !important;
}
.eael-event-calendar-wrapper .fc-day-grid-event {
  margin-top: 2px;
  padding: 8px;
  font-size: 12px;
  border-left-width: 5px;
}
.eael-event-calendar-wrapper .fc-day.fc-today {
  background: transparent;
}
.eael-event-calendar-wrapper .fc-day-top.fc-today .fc-day-number {
  font-weight: bold;
}
.eael-event-calendar-wrapper .fc-row table thead:first-child tr:first-child th {
  font-size: 14px;
}
.eael-event-calendar-wrapper .fc-day-number {
  font-size: 14px;
  float: center !important;
}
.eael-event-calendar-wrapper .fc-col-header-cell-cushion {
  padding: 10px;
}
.eael-event-calendar-wrapper .fc-daygrid-block-event .fc-event-time,
.eael-event-calendar-wrapper .fc-daygrid-dot-event .fc-event-title {
  font-weight: 400;
}
.eael-event-calendar-wrapper .eaelec-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: -1;
}
.eael-event-calendar-wrapper .eaelec-modal .eael-ec-modal-bg {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #000000;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.eael-event-calendar-wrapper .eaelec-modal.eael-ec-popup-ready {
  z-index: 99999;
  opacity: 1;
}
.eael-event-calendar-wrapper .eaelec-modal-content {
  position: relative;
  margin: auto;
  border: 1px solid #888;
  max-width: 900px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #fefefe;
  padding: 20px 0;
  width: 100%;
  border-radius: 10px;
}
.eael-event-calendar-wrapper .eaelec-modal-header {
  padding: 0px 30px;
  color: white;
  border-color: #009900;
  overflow: auto;
  margin-top: 8px;
}
.eael-event-calendar-wrapper .eaelec-modal-header h2 {
  color: #242424;
  margin: 0;
  padding: 0;
}
.eael-event-calendar-wrapper .eaelec-modal-header .eaelec-event-popup-date {
  color: #555;
  padding-top: 2px;
  display: inline-block;
  text-transform: capitalize;
}
.eael-event-calendar-wrapper .eaelec-modal-header .eaelec-event-popup-date i {
  color: #5725ff;
}
.eael-event-calendar-wrapper .eaelec-modal-close {
  position: absolute;
  right: -15px;
  top: -18px;
  font-size: 24px;
  z-index: 9999;
  cursor: pointer;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  overflow: visible;
  border: 2px solid #fff;
  background: #fff;
  text-align: center;
  -webkit-box-shadow: 2px 0px 12px 3px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 2px 0px 12px 3px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #000 !important;
  height: 40px;
  width: 40px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}
.eael-event-calendar-wrapper .eaelec-modal-close > span {
  font-size: 20px;
}
.eael-event-calendar-wrapper .eaelec-modal-close:hover,
.eael-event-calendar-wrapper .eaelec-modal-close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.eael-event-calendar-wrapper .eaelec-modal-body {
  padding: 0 10px 0 35px;
  margin: 10px 0;
  color: #555555;
  height: 300px;
  overflow-y: auto;
  word-break: break-word;
}
.eael-event-calendar-wrapper .eaelec-modal-body::-webkit-scrollbar {
  width: 6px;
}
.eael-event-calendar-wrapper .eaelec-modal-body::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 10px;
}
.eael-event-calendar-wrapper .eaelec-modal-footer {
  padding: 0px 10px 0 35px;
  color: white;
  border: 0px solid #ff0000;
}
.eael-event-calendar-wrapper .eaelec-event-date-start,
.eael-event-calendar-wrapper .eaelec-event-date-end {
  font-size: 15px;
}
@media (max-width: 575px) {
  .eael-event-calendar-wrapper .fc-toolbar {
    margin: 10px !important;
  }
  .eael-event-calendar-wrapper .fc-toolbar .fc-center {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  .eael-event-calendar-wrapper .fc-toolbar h2 {
    font-size: 16px !important;
    width: 100% !important;
    text-align: center !important;
    padding: 5px !important;
  }
  .eael-event-calendar-wrapper .fc-ltr .fc-axis {
    font-size: 12px !important;
  }
  .eael-event-calendar-wrapper .fc-row table thead:first-child tr:first-child th {
    font-weight: normal !important;
    font-size: 12px !important;
    padding: 5px !important;
  }
}
.eael-event-calendar-wrapper .fc-toolbar.fc-header-toolbar .fc-center h2 {
  font-size: 22px;
}
.eael-event-calendar-wrapper .fc-toolbar.fc-header-toolbar .fc-left .fc-button .fc-icon {
  font-size: 13px;
}
.elementor-page .entry-content .eael-event-calendar-wrapper a {
  text-decoration: none;
}
.fc-toolbar.fc-header-toolbar .fc-button-group button:not(:first-child) {
  margin-left: 5px;
}
.fc-toolbar.fc-header-toolbar button.fc-timeGridWeek-button,
.fc-toolbar.fc-header-toolbar button.fc-timeGridDay-button,
.fc-toolbar.fc-header-toolbar button.fc-listWeek-button,
.fc-toolbar.fc-header-toolbar button.fc-listMonth-button,
.fc-toolbar.fc-header-toolbar button.fc-dayGridMonth-button {
  position: relative;
}
.fc-toolbar.fc-header-toolbar button.fc-timeGridWeek-button:before,
.fc-toolbar.fc-header-toolbar button.fc-timeGridDay-button:before,
.fc-toolbar.fc-header-toolbar button.fc-listWeek-button:before,
.fc-toolbar.fc-header-toolbar button.fc-listMonth-button:before,
.fc-toolbar.fc-header-toolbar button.fc-dayGridMonth-button:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 13px;
  display: inline-block;
  padding-right: 5px;
  padding-left: 0;
  -webkit-font-smoothing: antialiased;
}
.fc-toolbar.fc-header-toolbar button.fc-timeGridWeek-button:before {
  content: "\f03a";
  left: 8px;
}
.fc-toolbar.fc-header-toolbar button.fc-timeGridDay-button:before {
  content: "\f0c9";
  left: 21px;
}
.fc-toolbar.fc-header-toolbar button.fc-dayGridMonth-button:before {
  content: "\f00a";
}
.fc-toolbar.fc-header-toolbar button.fc-listWeek-button:before,
.fc-toolbar.fc-header-toolbar button.fc-listMonth-button:before {
  content: "\f00b";
}
.fc-toolbar.fc-header-toolbar button.fc-button.fc-button-primary {
  -webkit-box-shadow: none;
          box-shadow: none;
  height: auto;
  width: auto;
  float: none;
  font-size: 13px;
  font-weight: 400;
  color: #5e5e5e;
  border-radius: 3px;
  text-transform: capitalize;
  background: #f7f7fb;
  text-shadow: none;
  line-height: 19px;
  padding: 8px 12px;
  border: none;
}
.fc-toolbar.fc-header-toolbar button.fc-button.fc-button-primary.fc-state-active, .fc-toolbar.fc-header-toolbar button.fc-button.fc-button-primary:hover, .fc-toolbar.fc-header-toolbar button.fc-button.fc-button-primary:visited {
  background: #5725ff;
  color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.fc-toolbar.fc-header-toolbar button.fc-button.fc-button-primary.fc-button-active {
  background: #5725ff;
  color: #fff;
}
th.fc-widget-header > span {
  padding: 14px;
  display: block;
  font-size: 16px;
  color: #424344;
}
span.fc-day-number {
  padding: 17px;
  display: block;
}
.fc-basic-view .fc-day-number,
.fc-basic-view .fc-week-number {
  padding: 12px 2px 2px 2px;
  display: block;
  border-bottom: 0px solid;
}
.eael-event-calendar-wrapper .fc-view .fc-body thead:first-child tr:first-child td {
  border-bottom: 3px solid transparent;
}
.eael-event-calendar-wrapper .fc-view table thead:first-child tr:first-child td {
  border-top: 1px solid #dfdfe9;
}
.fc-unthemed .fc-timeGridDay-view .fc-event,
.fc-unthemed .fc-timeGridWeek-view .fc-event {
  border-left: 1px solid;
  border-color: #4d4d4d !important;
}
.fc-unthemed .fc-timeGridDay-view .fc-event .fc-time,
.fc-unthemed .fc-timeGridWeek-view .fc-event .fc-time {
  padding-left: 3px;
}
.fc-unthemed .fc-timeGridDay-view .fc-bg table tbody tr > td,
.fc-unthemed .fc-timeGridWeek-view .fc-bg table tbody tr > td {
  padding-left: 1px;
}
.fc-unthemed .fc-timeGridDay-view .fc-time-grid .fc-event .fc-content,
.fc-unthemed .fc-timeGridWeek-view .fc-time-grid .fc-event .fc-content {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.fc-unthemed .fc-timeGridWeek-view .fc-time-grid .fc-event .fc-content {
  display: inherit;
}
.fc-unthemed .fc-listWeek-view .fc-list-table tr.fc-list-item,
.fc-unthemed .fc-listMonth-view .fc-list-table tr.fc-list-item {
  cursor: pointer;
}
.fc-unthemed .fc-listWeek-view .fc-list-table tr td,
.fc-unthemed .fc-listMonth-view .fc-list-table tr td {
  padding-bottom: 10px;
  padding-top: 10px;
}
.fc-unthemed .fc-listWeek-view .fc-list-table tr.fc-list-item .fc-list-item-title a,
.fc-unthemed .fc-listMonth-view .fc-list-table tr.fc-list-item .fc-list-item-title a {
  text-decoration: none;
}
.fc-unthemed .fc-dayGridMonth-view .fc-day-grid-event .fc-time {
  font-weight: 400;
}
.fc-unthemed .fc-content,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-list-heading td,
.fc-unthemed .fc-list-view,
.fc-unthemed .fc-popover,
.fc-unthemed .fc-row,
.fc-unthemed tbody,
.fc-unthemed td,
.fc-unthemed th,
.fc-unthemed thead {
  border-color: #dfdfe9;
}
.fc-unthemed a.fc-day-grid-event,
.fc-unthemed .fc-event {
  color: #707070;
  font-size: 14px;
  background: #fff;
  border-radius: 5px;
  font-weight: 400;
  margin: 1px;
  border: none;
}
.fc-unthemed a.fc-day-grid-event .fc-day-grid-event .fc-time,
.fc-unthemed .fc-event .fc-day-grid-event .fc-time {
  font-weight: normal;
}
.fc-unthemed .fc-time-grid .fc-event {
  min-height: 20px;
}
.fc-unthemed .fc-time-grid .fc-event .fc-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
}
.fc-unthemed .fc-time-grid .fc-event .fc-content .fc-title {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}
.fc-unthemed .fc-event:hover {
  color: #707070;
}
.eaelec-modal.eael-zoom-in {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  display: none;
}
.eaelec-modal.eael-zoom-in .eaelec-modal-content {
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
          transform: scale(0.5);
}
.eaelec-modal.eael-zoom-in.eael-ec-popup-ready .eael-ec-modal-bg {
  opacity: 0.7;
}
.eaelec-modal.eael-zoom-in.eael-ec-popup-ready .eaelec-modal-content {
  opacity: 1;
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}
.eaelec-modal.eael-zoom-in.eael-ec-modal-removing .eaelec-modal-content {
  -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
          transform: scale(0.5);
  opacity: 0;
}
.eaelec-modal.eael-zoom-in.eael-ec-modal-removing .eael-ec-modal-bg {
  opacity: 0;
}
.eaelec-modal.eael-ec-popup-ready {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .eael-event-calendar-wrapper .fc-toolbar.fc-header-toolbar {
    margin-bottom: 12px;
  }
  .eael-event-calendar-wrapper .fc-toolbar.fc-header-toolbar .fc-center h2 {
    font-size: 22px;
  }
  .eael-event-calendar-wrapper .fc-right .fc-button-group .fc-button.fc-button-primary:before {
    font-size: 15px;
  }
  .eael-event-calendar-wrapper .fc-timeGridWeek-view a .fc-content {
    display: inherit !important;
  }
  .eael-event-calendar-wrapper .fc-day-header.fc-widget-header span {
    font-size: 15px;
  }
  .eael-event-calendar-wrapper .fc-toolbar.fc-header-toolbar .fc-button-group button:not(:first-child) {
    margin-left: 5px;
  }
  .eael-event-calendar-wrapper .eaelec-modal-body {
    height: 200px;
  }
}
@media only screen and (max-width: 767px) {
  .eael-event-calendar-wrapper .fc-dayGridMonth-view .fc-day-grid-event {
    padding: 8px 0px 8px 0px !important;
  }
  .eael-event-calendar-wrapper .fc-dayGridMonth-view .fc-day-grid-event .fc-content {
    font-size: 12px;
  }
  .fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 10px;
  }
  .fc-toolbar-chunk {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 5px;
    text-align: center;
    width: 100%;
  }
  .fc-toolbar-chunk .fc-button-group .fc-button.fc-button-primary {
    font-size: 11px;
  }
  .fc-toolbar-chunk .fc-button-group .fc-button.fc-button-primary:before {
    font-size: 11px;
    padding-left: 0;
  }
  .fc-center {
    text-align: center;
  }
  .fc-toolbar.fc-header-toolbar {
    display: grid;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-row-gap: 5px;
  }
  .fc-toolbar.fc-header-toolbar .fc-button-group button.fc-button.fc-button-primary {
    margin-left: 5px;
    font-size: 12px;
  }
  th.fc-widget-header > span {
    padding: 0;
    font-size: 14px;
  }
  .fc-basic-view .fc-day-number,
  .fc-basic-view .fc-week-number {
    padding: 0;
    margin: 0;
    font-size: 10px;
  }
  .fc-basic-view .fc-body .fc-row {
    min-height: 2em;
  }
  .eael-event-calendar-wrapper .eaelec-modal-body {
    height: 100px;
  }
}
