.eael-gravity-form-align-default,
.eael-gravity-form-align-left,
.eael-gravity-form-btn-align-left {
  text-align: left;
}

.eael-gravity-form-align-right,
.eael-gravity-form-btn-align-right {
  text-align: right;
}

.eael-gravity-form-align-center,
.eael-gravity-form-btn-align-center {
  text-align: center;
}

.gform_wrapper form li,
.gform_wrapper li {
  list-style: none;
}

.eael-gravity-form .gform_wrapper ul.gform_fields li.gfield {
  padding: 0;
  padding-right: 16px;
}

.eael-gravity-form .gform_wrapper textarea {
  padding: 0;
  font-weight: normal !important;
  font-family: inherit;
}

.eael-gravity-form .gform_wrapper .gform_footer input.button,
.eael-gravity-form .gform_wrapper .gform_footer input[type=submit],
.eael-gravity-form .gform_wrapper .gform_page_footer input.button,
.eael-gravity-form .gform_wrapper .gform_page_footer input[type=submit] {
  margin: 0;
}

.eael-gravity-form.title-description-hide .gform_heading {
  display: none;
}

.eael-gravity-form.labels-hide .gform_wrapper .top_label .gfield_label,
.eael-gravity-form.labels-hide .gform_wrapper .field_sublabel_below .ginput_complex.ginput_container label {
  display: none;
}

.eael-gravity-form-button-full-width .gform_wrapper .gform_footer input[type=submit] {
  width: 100%;
}

.eael-gravity-form .gform_wrapper .gf_scroll_text .gsection_description {
  margin: 0;
}
