.eael-img-accordion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50vh;
}
.eael-img-accordion.accordion-direction-vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.eael-img-accordion a {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: -webkit-box-flex 0.4s;
  transition: -webkit-box-flex 0.4s;
  -o-transition: flex 0.4s;
  transition: flex 0.4s;
  transition: flex 0.4s, -webkit-box-flex 0.4s, -ms-flex 0.4s;
  overflow: hidden;
}
.eael-grow-accordion {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}
.eael-img-accordion .overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 10px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
.eael-img-accordion-horizontal-align-left .overlay {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
}
.eael-img-accordion-horizontal-align-center .overlay {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.eael-img-accordion-horizontal-align-right .overlay {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right;
}
.eael-img-accordion-vertical-align-top .overlay {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.eael-img-accordion-vertical-align-center .overlay {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.eael-img-accordion-vertical-align-bottom .overlay {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.eael-img-accordion .overlay .overlay-inner {
  z-index: 1;
}
.eael-img-accordion a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.eael-img-accordion .overlay-inner * {
  visibility: hidden;
  opacity: 0;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.eael-img-accordion .overlay h2 {
  color: #fff;
  -webkit-transform: translate3d(0, -60px, 0);
          transform: translate3d(0, -60px, 0);
}
.eael-img-accordion .overlay p {
  color: #fff;
  margin-bottom: 0;
  -webkit-transform: translate3d(0, 60px, 0);
          transform: translate3d(0, 60px, 0);
}
.eael-img-accordion a.overlay-active .overlay-inner *,
.eael-img-accordion .overlay-inner-show * {
  opacity: 1;
  visibility: visible;
  -webkit-transform: none !important;
      -ms-transform: none !important;
          transform: none !important;
  -webkit-transition: all 0.3s 0.3s;
  -o-transition: all 0.3s 0.3s;
  transition: all 0.3s 0.3s;
}
@media screen and (max-width: 800px) {
  .eael-img-accordion {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .eael-img-accordion a:hover {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }

  .eael-img-accordion a:hover .overlay {
    background-color: transparent;
  }
}
.rtl .eael-img-accordion {
  direction: ltr;
}
