.eael_liquid_glass-effect1 {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.eael_liquid_glass-effect2 {
  -webkit-backdrop-filter: blur(10px) brightness(1);
  backdrop-filter: blur(10px) brightness(1);
}

.elementor-edit-area-active .eael_liquid_glass_shadow-effect1.elementor-widget.elementor-element-editable {
  box-shadow: -1px 9px 28px 2px rgba(0, 0, 0, 0.78);
  -webkit-box-shadow: -1px 9px 28px 2px rgba(0, 0, 0, 0.78);
  -moz-box-shadow: -1px 9px 28px 2px rgba(0, 0, 0, 0.78);
}

.eael_liquid_glass_shadow-effect1 {
  box-shadow: -1px 9px 28px 2px rgba(0, 0, 0, 0.78);
  -webkit-box-shadow: -1px 9px 28px 2px rgba(0, 0, 0, 0.78);
  -moz-box-shadow: -1px 9px 28px 2px rgba(0, 0, 0, 0.78);
}

.elementor-edit-area-active .eael_liquid_glass_shadow-effect2.elementor-widget.elementor-element-editable {
  box-shadow: 0px 0px 8px 1px rgba(165, 165, 165, 0.78);
  -webkit-box-shadow: 0px 0px 8px 1px rgba(165, 165, 165, 0.78);
  -moz-box-shadow: 0px 0px 8px 1px rgba(165, 165, 165, 0.78);
}

.eael_liquid_glass_shadow-effect2 {
  box-shadow: 0px 0px 8px 1px rgba(165, 165, 165, 0.78);
  -webkit-box-shadow: 0px 0px 8px 1px rgba(165, 165, 165, 0.78);
  -moz-box-shadow: 0px 0px 8px 1px rgba(165, 165, 165, 0.78);
}

.elementor-edit-area-active .eael_liquid_glass_shadow-effect3.elementor-widget.elementor-element-editable {
  box-shadow: 1px 1px 60px 0 #bebebe;
  -webkit-box-shadow: 1px 1px 60px 0 #bebebe;
  -moz-box-shadow: 1px 1px 60px 0 #bebebe;
}

.eael_liquid_glass_shadow-effect3 {
  box-shadow: 1px 1px 60px 0 #bebebe;
  -webkit-box-shadow: 1px 1px 60px 0 #bebebe;
  -moz-box-shadow: 1px 1px 60px 0 #bebebe;
}

.elementor-edit-area-active .eael_liquid_glass_shadow-effect4.elementor-widget.elementor-element-editable {
  border: 2px solid rgb(206, 206, 206);
  -webkit-box-shadow: inset 10px 10px 20px rgba(153, 192, 255, 0.1), inset 2px 2px 5px rgba(195, 218, 255, 0.2), inset -10px -10px 20px rgba(229, 253, 190, 0.1), inset -2px -2px 30px rgba(247, 255, 226, 0.2);
          box-shadow: inset 10px 10px 20px rgba(153, 192, 255, 0.1), inset 2px 2px 5px rgba(195, 218, 255, 0.2), inset -10px -10px 20px rgba(229, 253, 190, 0.1), inset -2px -2px 30px rgba(247, 255, 226, 0.2);
}

.eael_liquid_glass_shadow-effect4 {
  border: 2px solid rgb(206, 206, 206);
  -webkit-box-shadow: inset 10px 10px 20px rgba(153, 192, 255, 0.1), inset 2px 2px 5px rgba(195, 218, 255, 0.2), inset -10px -10px 20px rgba(229, 253, 190, 0.1), inset -2px -2px 30px rgba(247, 255, 226, 0.2);
          box-shadow: inset 10px 10px 20px rgba(153, 192, 255, 0.1), inset 2px 2px 5px rgba(195, 218, 255, 0.2), inset -10px -10px 20px rgba(229, 253, 190, 0.1), inset -2px -2px 30px rgba(247, 255, 226, 0.2);
}
