.eael_liquid_glass-effect1 {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.eael_liquid_glass-effect2 {
  -webkit-backdrop-filter: blur(10px) brightness(1.1) saturate(1.5);
  backdrop-filter: blur(10px) brightness(1.1) saturate(1.5);
}

.eael_liquid_glass-effect3 {
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
}

.eael_liquid_glass-effect4 {
  overflow: hidden;
  border: solid 1px color-mix(in srgb, var(--accent) 30%, transparent);
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  background: color-mix(in srgb, var(--accent) 7.5%, transparent);
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.eael_liquid_glass-effect4::before {
  position: absolute;
  content: "";
  z-index: -99;
  height: 100%;
  width: 100%;
  left: 0;
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  -webkit-filter: url(#eael-glass-distortion1);
          filter: url(#eael-glass-distortion1);
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.eael_liquid_glass-effect5 {
  overflow: hidden;
  border: solid 1px color-mix(in srgb, var(--accent) 30%, transparent);
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  background: color-mix(in srgb, var(--accent) 7.5%, transparent);
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.eael_liquid_glass-effect5::before {
  position: absolute;
  content: "";
  z-index: -99;
  height: 100%;
  width: 100%;
  left: 0;
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  -webkit-filter: url(#eael-glass-distortion2);
          filter: url(#eael-glass-distortion2);
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.eael_liquid_glass-effect6 {
  overflow: hidden;
  border: solid 1px color-mix(in srgb, var(--accent) 30%, transparent);
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  background: color-mix(in srgb, var(--accent) 7.5%, transparent);
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.eael_liquid_glass-effect6::before {
  position: absolute;
  content: "";
  z-index: -99;
  height: 100%;
  width: 100%;
  left: 0;
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  -webkit-filter: url(#eael-glass-distortion3);
          filter: url(#eael-glass-distortion3);
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.elementor-edit-area-active .eael_liquid_glass_shadow-effect1.elementor-widget.elementor-element-editable {
  box-shadow: -1px 9px 28px 2px rgba(0, 0, 0, 0.78);
  -webkit-box-shadow: -1px 9px 28px 2px rgba(0, 0, 0, 0.78);
  -moz-box-shadow: -1px 9px 28px 2px rgba(0, 0, 0, 0.78);
}

.eael_liquid_glass_shadow-effect1 {
  box-shadow: -1px 9px 28px 2px rgba(0, 0, 0, 0.78);
  -webkit-box-shadow: -1px 9px 28px 2px rgba(0, 0, 0, 0.78);
  -moz-box-shadow: -1px 9px 28px 2px rgba(0, 0, 0, 0.78);
}

.elementor-edit-area-active .eael_liquid_glass_shadow-effect2.elementor-widget.elementor-element-editable {
  box-shadow: -1px 9px 28px 2px rgba(0, 0, 0, 0.78) inset;
  -webkit-box-shadow: -1px 9px 28px 2px rgba(0, 0, 0, 0.78) inset;
  -moz-box-shadow: -1px 9px 28px 2px rgba(0, 0, 0, 0.78) inset;
}

.eael_liquid_glass_shadow-effect2 {
  box-shadow: -1px 9px 28px 2px rgba(0, 0, 0, 0.78) inset;
  -webkit-box-shadow: -1px 9px 28px 2px rgba(0, 0, 0, 0.78) inset;
  -moz-box-shadow: -1px 9px 28px 2px rgba(0, 0, 0, 0.78) inset;
}

.elementor-edit-area-active .eael_liquid_glass_shadow-effect3.elementor-widget.elementor-element-editable {
  -webkit-box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
          box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.eael_liquid_glass_shadow-effect3 {
  -webkit-box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
          box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.elementor-edit-area-active .eael_liquid_glass_shadow-effect4.elementor-widget.elementor-element-editable {
  border: 2px solid rgb(206, 206, 206);
  -webkit-box-shadow: inset 10px 10px 20px rgba(153, 192, 255, 0.1), inset 2px 2px 5px rgba(195, 218, 255, 0.2), inset -10px -10px 20px rgba(229, 253, 190, 0.1), inset -2px -2px 30px rgba(247, 255, 226, 0.2);
          box-shadow: inset 10px 10px 20px rgba(153, 192, 255, 0.1), inset 2px 2px 5px rgba(195, 218, 255, 0.2), inset -10px -10px 20px rgba(229, 253, 190, 0.1), inset -2px -2px 30px rgba(247, 255, 226, 0.2);
}

.eael_liquid_glass_shadow-effect4 {
  border: 2px solid rgb(206, 206, 206);
  -webkit-box-shadow: inset 10px 10px 20px rgba(153, 192, 255, 0.1), inset 2px 2px 5px rgba(195, 218, 255, 0.2), inset -10px -10px 20px rgba(229, 253, 190, 0.1), inset -2px -2px 30px rgba(247, 255, 226, 0.2);
          box-shadow: inset 10px 10px 20px rgba(153, 192, 255, 0.1), inset 2px 2px 5px rgba(195, 218, 255, 0.2), inset -10px -10px 20px rgba(229, 253, 190, 0.1), inset -2px -2px 30px rgba(247, 255, 226, 0.2);
}
