@-webkit-keyframes loaderSpin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes loaderSpin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.eael-button-wrap,
.eael-load-more-button-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.eael-button,
.eael-load-more-button {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em 2em;
  border: 0px solid;
  font-size: 16px;
  overflow: hidden;
}
.eael-button > span,
.eael-load-more-button > span {
  margin-left: -20px;
}
.eael-button .eael-btn-loader,
.eael-load-more-button .eael-btn-loader {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 10px;
  position: relative;
  top: auto;
  left: -200%;
  border-top: 4px solid rgba(255, 255, 255, 0.2);
  border-right: 4px solid rgba(255, 255, 255, 0.2);
  border-bottom: 4px solid rgba(255, 255, 255, 0.2);
  border-left: 4px solid #ffffff;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-animation: loaderSpin 1.1s infinite linear;
          animation: loaderSpin 1.1s infinite linear;
  margin-right: 5px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.eael-button .eael-btn-loader:after,
.eael-load-more-button .eael-btn-loader:after {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.eael-button:focus,
.eael-load-more-button:focus {
  outline: none;
}
.eael-button.button--loading > span,
.eael-load-more-button.button--loading > span {
  margin-left: 0;
}
.eael-button.button--loading .eael-btn-loader,
.eael-load-more-button.button--loading .eael-btn-loader {
  left: 0;
}
.rtl .eael-load-more-button-wrap {
  direction: ltr;
}
