.eael-mega-menu-container {
  position: relative;
}
.eael-mega-menu-container .eael-mega-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: var(--eael-mm-justify, flex-start);
      -ms-flex-pack: var(--eael-mm-justify, flex-start);
          justify-content: var(--eael-mm-justify, flex-start);
  margin: 0;
  padding: 0;
  list-style: none;
}
.eael-mega-menu-container .eael-mega-menu__item {
  position: relative;
  -webkit-box-flex: var(--eael-mm-item-grow, 0);
      -ms-flex-positive: var(--eael-mm-item-grow, 0);
          flex-grow: var(--eael-mm-item-grow, 0);
  margin: 0;
  list-style: none;
}
.eael-mega-menu-container .eael-mega-menu__item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
}
.eael-mega-menu-container .eael-mega-menu__item-link:hover, .eael-mega-menu-container .eael-mega-menu__item-link:focus {
  text-decoration: none;
}
.eael-mega-menu-container .eael-mega-menu__item-text {
  display: inline-block;
}
.eael-mega-menu-container.eael-mega-menu--horizontal .eael-mega-menu {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.eael-mega-menu-container.eael-mega-menu--vertical .eael-mega-menu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.eael-mega-menu-notice {
  padding: 15px;
  border: 1px dashed #d5d8dc;
  color: #6d7882;
  font-size: 13px;
  text-align: center;
}
.rtl .eael-mega-menu-container .eael-mega-menu__item-link {
  text-align: right;
}
