.eael-custom-css-wrapper {
  /* Bulma Grid */
}
.eael-custom-css-wrapper .column {
  display: block;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  padding: 0.75rem;
}
.eael-custom-css-wrapper .columns.is-mobile > .column.is-narrow {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: unset;
}
.eael-custom-css-wrapper .columns.is-mobile > .column.is-full {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 100%;
}
.eael-custom-css-wrapper .columns.is-mobile > .column.is-three-quarters {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 75%;
}
.eael-custom-css-wrapper .columns.is-mobile > .column.is-two-thirds {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 66.6666%;
}
.eael-custom-css-wrapper .columns.is-mobile > .column.is-half {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 50%;
}
.eael-custom-css-wrapper .columns.is-mobile > .column.is-one-third {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 33.3333%;
}
.eael-custom-css-wrapper .columns.is-mobile > .column.is-one-quarter {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 25%;
}
.eael-custom-css-wrapper .columns.is-mobile > .column.is-one-fifth {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 20%;
}
.eael-custom-css-wrapper .columns.is-mobile > .column.is-two-fifths {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 40%;
}
.eael-custom-css-wrapper .columns.is-mobile > .column.is-three-fifths {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 60%;
}
.eael-custom-css-wrapper .columns.is-mobile > .column.is-four-fifths {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 80%;
}
.eael-custom-css-wrapper .columns.is-mobile > .column.is-offset-three-quarters {
  margin-left: 75%;
}
.eael-custom-css-wrapper .columns.is-mobile > .column.is-offset-two-thirds {
  margin-left: 66.6666%;
}
.eael-custom-css-wrapper .columns.is-mobile > .column.is-offset-half {
  margin-left: 50%;
}
.eael-custom-css-wrapper .columns.is-mobile > .column.is-offset-one-third {
  margin-left: 33.3333%;
}
.eael-custom-css-wrapper .columns.is-mobile > .column.is-offset-one-quarter {
  margin-left: 25%;
}
.eael-custom-css-wrapper .columns.is-mobile > .column.is-offset-one-fifth {
  margin-left: 20%;
}
.eael-custom-css-wrapper .columns.is-mobile > .column.is-offset-two-fifths {
  margin-left: 40%;
}
.eael-custom-css-wrapper .columns.is-mobile > .column.is-offset-three-fifths {
  margin-left: 60%;
}
.eael-custom-css-wrapper .columns.is-mobile > .column.is-offset-four-fifths {
  margin-left: 80%;
}
.eael-custom-css-wrapper .columns.is-mobile > .column.is-0 {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 0%;
}
.eael-custom-css-wrapper .columns.is-mobile > .column.is-offset-0 {
  margin-left: 0%;
}
.eael-custom-css-wrapper .columns.is-mobile > .column.is-1 {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 8.33333%;
}
.eael-custom-css-wrapper .columns.is-mobile > .column.is-offset-1 {
  margin-left: 8.33333%;
}
.eael-custom-css-wrapper .columns.is-mobile > .column.is-2 {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 16.66667%;
}
.eael-custom-css-wrapper .columns.is-mobile > .column.is-offset-2 {
  margin-left: 16.66667%;
}
.eael-custom-css-wrapper .columns.is-mobile > .column.is-3 {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 25%;
}
.eael-custom-css-wrapper .columns.is-mobile > .column.is-offset-3 {
  margin-left: 25%;
}
.eael-custom-css-wrapper .columns.is-mobile > .column.is-4 {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 33.33333%;
}
.eael-custom-css-wrapper .columns.is-mobile > .column.is-offset-4 {
  margin-left: 33.33333%;
}
.eael-custom-css-wrapper .columns.is-mobile > .column.is-5 {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 41.66667%;
}
.eael-custom-css-wrapper .columns.is-mobile > .column.is-offset-5 {
  margin-left: 41.66667%;
}
.eael-custom-css-wrapper .columns.is-mobile > .column.is-6 {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 50%;
}
.eael-custom-css-wrapper .columns.is-mobile > .column.is-offset-6 {
  margin-left: 50%;
}
.eael-custom-css-wrapper .columns.is-mobile > .column.is-7 {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 58.33333%;
}
.eael-custom-css-wrapper .columns.is-mobile > .column.is-offset-7 {
  margin-left: 58.33333%;
}
.eael-custom-css-wrapper .columns.is-mobile > .column.is-8 {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 66.66667%;
}
.eael-custom-css-wrapper .columns.is-mobile > .column.is-offset-8 {
  margin-left: 66.66667%;
}
.eael-custom-css-wrapper .columns.is-mobile > .column.is-9 {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 75%;
}
.eael-custom-css-wrapper .columns.is-mobile > .column.is-offset-9 {
  margin-left: 75%;
}
.eael-custom-css-wrapper .columns.is-mobile > .column.is-10 {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 83.33333%;
}
.eael-custom-css-wrapper .columns.is-mobile > .column.is-offset-10 {
  margin-left: 83.33333%;
}
.eael-custom-css-wrapper .columns.is-mobile > .column.is-11 {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 91.66667%;
}
.eael-custom-css-wrapper .columns.is-mobile > .column.is-offset-11 {
  margin-left: 91.66667%;
}
.eael-custom-css-wrapper .columns.is-mobile > .column.is-12 {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 100%;
}
.eael-custom-css-wrapper .columns.is-mobile > .column.is-offset-12 {
  margin-left: 100%;
}
@media screen and (max-width: 768px) {
  .eael-custom-css-wrapper .column.is-narrow-mobile {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: unset;
  }
  .eael-custom-css-wrapper .column.is-full-mobile {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 100%;
  }
  .eael-custom-css-wrapper .column.is-three-quarters-mobile {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 75%;
  }
  .eael-custom-css-wrapper .column.is-two-thirds-mobile {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 66.6666%;
  }
  .eael-custom-css-wrapper .column.is-half-mobile {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 50%;
  }
  .eael-custom-css-wrapper .column.is-one-third-mobile {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 33.3333%;
  }
  .eael-custom-css-wrapper .column.is-one-quarter-mobile {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 25%;
  }
  .eael-custom-css-wrapper .column.is-one-fifth-mobile {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 20%;
  }
  .eael-custom-css-wrapper .column.is-two-fifths-mobile {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 40%;
  }
  .eael-custom-css-wrapper .column.is-three-fifths-mobile {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 60%;
  }
  .eael-custom-css-wrapper .column.is-four-fifths-mobile {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 80%;
  }
  .eael-custom-css-wrapper .column.is-offset-three-quarters-mobile {
    margin-left: 75%;
  }
  .eael-custom-css-wrapper .column.is-offset-two-thirds-mobile {
    margin-left: 66.6666%;
  }
  .eael-custom-css-wrapper .column.is-offset-half-mobile {
    margin-left: 50%;
  }
  .eael-custom-css-wrapper .column.is-offset-one-third-mobile {
    margin-left: 33.3333%;
  }
  .eael-custom-css-wrapper .column.is-offset-one-quarter-mobile {
    margin-left: 25%;
  }
  .eael-custom-css-wrapper .column.is-offset-one-fifth-mobile {
    margin-left: 20%;
  }
  .eael-custom-css-wrapper .column.is-offset-two-fifths-mobile {
    margin-left: 40%;
  }
  .eael-custom-css-wrapper .column.is-offset-three-fifths-mobile {
    margin-left: 60%;
  }
  .eael-custom-css-wrapper .column.is-offset-four-fifths-mobile {
    margin-left: 80%;
  }
  .eael-custom-css-wrapper .column.is-0-mobile {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 0%;
  }
  .eael-custom-css-wrapper .column.is-offset-0-mobile {
    margin-left: 0%;
  }
  .eael-custom-css-wrapper .column.is-1-mobile {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 8.33333%;
  }
  .eael-custom-css-wrapper .column.is-offset-1-mobile {
    margin-left: 8.33333%;
  }
  .eael-custom-css-wrapper .column.is-2-mobile {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 16.66667%;
  }
  .eael-custom-css-wrapper .column.is-offset-2-mobile {
    margin-left: 16.66667%;
  }
  .eael-custom-css-wrapper .column.is-3-mobile {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 25%;
  }
  .eael-custom-css-wrapper .column.is-offset-3-mobile {
    margin-left: 25%;
  }
  .eael-custom-css-wrapper .column.is-4-mobile {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 33.33333%;
  }
  .eael-custom-css-wrapper .column.is-offset-4-mobile {
    margin-left: 33.33333%;
  }
  .eael-custom-css-wrapper .column.is-5-mobile {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 41.66667%;
  }
  .eael-custom-css-wrapper .column.is-offset-5-mobile {
    margin-left: 41.66667%;
  }
  .eael-custom-css-wrapper .column.is-6-mobile {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 50%;
  }
  .eael-custom-css-wrapper .column.is-offset-6-mobile {
    margin-left: 50%;
  }
  .eael-custom-css-wrapper .column.is-7-mobile {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 58.33333%;
  }
  .eael-custom-css-wrapper .column.is-offset-7-mobile {
    margin-left: 58.33333%;
  }
  .eael-custom-css-wrapper .column.is-8-mobile {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 66.66667%;
  }
  .eael-custom-css-wrapper .column.is-offset-8-mobile {
    margin-left: 66.66667%;
  }
  .eael-custom-css-wrapper .column.is-9-mobile {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 75%;
  }
  .eael-custom-css-wrapper .column.is-offset-9-mobile {
    margin-left: 75%;
  }
  .eael-custom-css-wrapper .column.is-10-mobile {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 83.33333%;
  }
  .eael-custom-css-wrapper .column.is-offset-10-mobile {
    margin-left: 83.33333%;
  }
  .eael-custom-css-wrapper .column.is-11-mobile {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 91.66667%;
  }
  .eael-custom-css-wrapper .column.is-offset-11-mobile {
    margin-left: 91.66667%;
  }
  .eael-custom-css-wrapper .column.is-12-mobile {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 100%;
  }
  .eael-custom-css-wrapper .column.is-offset-12-mobile {
    margin-left: 100%;
  }
}
@media screen and (min-width: 769px), print {
  .eael-custom-css-wrapper .column.is-narrow,
.eael-custom-css-wrapper .column.is-narrow-tablet {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: unset;
  }
  .eael-custom-css-wrapper .column.is-full,
.eael-custom-css-wrapper .column.is-full-tablet {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 100%;
  }
  .eael-custom-css-wrapper .column.is-three-quarters,
.eael-custom-css-wrapper .column.is-three-quarters-tablet {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 75%;
  }
  .eael-custom-css-wrapper .column.is-two-thirds,
.eael-custom-css-wrapper .column.is-two-thirds-tablet {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 66.6666%;
  }
  .eael-custom-css-wrapper .column.is-half,
.eael-custom-css-wrapper .column.is-half-tablet {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 50%;
  }
  .eael-custom-css-wrapper .column.is-one-third,
.eael-custom-css-wrapper .column.is-one-third-tablet {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 33.3333%;
  }
  .eael-custom-css-wrapper .column.is-one-quarter,
.eael-custom-css-wrapper .column.is-one-quarter-tablet {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 25%;
  }
  .eael-custom-css-wrapper .column.is-one-fifth,
.eael-custom-css-wrapper .column.is-one-fifth-tablet {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 20%;
  }
  .eael-custom-css-wrapper .column.is-two-fifths,
.eael-custom-css-wrapper .column.is-two-fifths-tablet {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 40%;
  }
  .eael-custom-css-wrapper .column.is-three-fifths,
.eael-custom-css-wrapper .column.is-three-fifths-tablet {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 60%;
  }
  .eael-custom-css-wrapper .column.is-four-fifths,
.eael-custom-css-wrapper .column.is-four-fifths-tablet {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 80%;
  }
  .eael-custom-css-wrapper .column.is-offset-three-quarters,
.eael-custom-css-wrapper .column.is-offset-three-quarters-tablet {
    margin-left: 75%;
  }
  .eael-custom-css-wrapper .column.is-offset-two-thirds,
.eael-custom-css-wrapper .column.is-offset-two-thirds-tablet {
    margin-left: 66.6666%;
  }
  .eael-custom-css-wrapper .column.is-offset-half,
.eael-custom-css-wrapper .column.is-offset-half-tablet {
    margin-left: 50%;
  }
  .eael-custom-css-wrapper .column.is-offset-one-third,
.eael-custom-css-wrapper .column.is-offset-one-third-tablet {
    margin-left: 33.3333%;
  }
  .eael-custom-css-wrapper .column.is-offset-one-quarter,
.eael-custom-css-wrapper .column.is-offset-one-quarter-tablet {
    margin-left: 25%;
  }
  .eael-custom-css-wrapper .column.is-offset-one-fifth,
.eael-custom-css-wrapper .column.is-offset-one-fifth-tablet {
    margin-left: 20%;
  }
  .eael-custom-css-wrapper .column.is-offset-two-fifths,
.eael-custom-css-wrapper .column.is-offset-two-fifths-tablet {
    margin-left: 40%;
  }
  .eael-custom-css-wrapper .column.is-offset-three-fifths,
.eael-custom-css-wrapper .column.is-offset-three-fifths-tablet {
    margin-left: 60%;
  }
  .eael-custom-css-wrapper .column.is-offset-four-fifths,
.eael-custom-css-wrapper .column.is-offset-four-fifths-tablet {
    margin-left: 80%;
  }
  .eael-custom-css-wrapper .column.is-0,
.eael-custom-css-wrapper .column.is-0-tablet {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 0%;
  }
  .eael-custom-css-wrapper .column.is-offset-0,
.eael-custom-css-wrapper .column.is-offset-0-tablet {
    margin-left: 0%;
  }
  .eael-custom-css-wrapper .column.is-1,
.eael-custom-css-wrapper .column.is-1-tablet {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 8.33333%;
  }
  .eael-custom-css-wrapper .column.is-offset-1,
.eael-custom-css-wrapper .column.is-offset-1-tablet {
    margin-left: 8.33333%;
  }
  .eael-custom-css-wrapper .column.is-2,
.eael-custom-css-wrapper .column.is-2-tablet {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 16.66667%;
  }
  .eael-custom-css-wrapper .column.is-offset-2,
.eael-custom-css-wrapper .column.is-offset-2-tablet {
    margin-left: 16.66667%;
  }
  .eael-custom-css-wrapper .column.is-3,
.eael-custom-css-wrapper .column.is-3-tablet {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 25%;
  }
  .eael-custom-css-wrapper .column.is-offset-3,
.eael-custom-css-wrapper .column.is-offset-3-tablet {
    margin-left: 25%;
  }
  .eael-custom-css-wrapper .column.is-4,
.eael-custom-css-wrapper .column.is-4-tablet {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 33.33333%;
  }
  .eael-custom-css-wrapper .column.is-offset-4,
.eael-custom-css-wrapper .column.is-offset-4-tablet {
    margin-left: 33.33333%;
  }
  .eael-custom-css-wrapper .column.is-5,
.eael-custom-css-wrapper .column.is-5-tablet {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 41.66667%;
  }
  .eael-custom-css-wrapper .column.is-offset-5,
.eael-custom-css-wrapper .column.is-offset-5-tablet {
    margin-left: 41.66667%;
  }
  .eael-custom-css-wrapper .column.is-6,
.eael-custom-css-wrapper .column.is-6-tablet {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 50%;
  }
  .eael-custom-css-wrapper .column.is-offset-6,
.eael-custom-css-wrapper .column.is-offset-6-tablet {
    margin-left: 50%;
  }
  .eael-custom-css-wrapper .column.is-7,
.eael-custom-css-wrapper .column.is-7-tablet {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 58.33333%;
  }
  .eael-custom-css-wrapper .column.is-offset-7,
.eael-custom-css-wrapper .column.is-offset-7-tablet {
    margin-left: 58.33333%;
  }
  .eael-custom-css-wrapper .column.is-8,
.eael-custom-css-wrapper .column.is-8-tablet {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 66.66667%;
  }
  .eael-custom-css-wrapper .column.is-offset-8,
.eael-custom-css-wrapper .column.is-offset-8-tablet {
    margin-left: 66.66667%;
  }
  .eael-custom-css-wrapper .column.is-9,
.eael-custom-css-wrapper .column.is-9-tablet {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 75%;
  }
  .eael-custom-css-wrapper .column.is-offset-9,
.eael-custom-css-wrapper .column.is-offset-9-tablet {
    margin-left: 75%;
  }
  .eael-custom-css-wrapper .column.is-10,
.eael-custom-css-wrapper .column.is-10-tablet {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 83.33333%;
  }
  .eael-custom-css-wrapper .column.is-offset-10,
.eael-custom-css-wrapper .column.is-offset-10-tablet {
    margin-left: 83.33333%;
  }
  .eael-custom-css-wrapper .column.is-11,
.eael-custom-css-wrapper .column.is-11-tablet {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 91.66667%;
  }
  .eael-custom-css-wrapper .column.is-offset-11,
.eael-custom-css-wrapper .column.is-offset-11-tablet {
    margin-left: 91.66667%;
  }
  .eael-custom-css-wrapper .column.is-12,
.eael-custom-css-wrapper .column.is-12-tablet {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 100%;
  }
  .eael-custom-css-wrapper .column.is-offset-12,
.eael-custom-css-wrapper .column.is-offset-12-tablet {
    margin-left: 100%;
  }
}
.eael-custom-css-wrapper .columns {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-top: -0.75rem;
}
.eael-custom-css-wrapper .columns:last-child {
  margin-bottom: -0.75rem;
}
.eael-custom-css-wrapper .columns:not(:last-child) {
  margin-bottom: 0.75rem;
}
.eael-custom-css-wrapper .columns.is-centered {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.eael-custom-css-wrapper .columns.is-gapless {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}
.eael-custom-css-wrapper .columns.is-gapless > .column {
  margin: 0;
  padding: 0 !important;
}
.eael-custom-css-wrapper .columns.is-gapless:not(:last-child) {
  margin-bottom: 1.5rem;
}
.eael-custom-css-wrapper .columns.is-gapless:last-child {
  margin-bottom: 0;
}
.eael-custom-css-wrapper .columns.is-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.eael-custom-css-wrapper .columns.is-multiline {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.eael-custom-css-wrapper .columns.is-vcentered {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 769px), print {
  .eael-custom-css-wrapper .columns:not(.is-desktop) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 1024px) {
  .eael-custom-css-wrapper .columns.is-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.eael-custom-css-wrapper .is-hidden {
  display: none !important;
}
.eael-nft-gallery-wrapper {
  padding: 15px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.eael-nft-gallery-wrapper .eael-nft-item {
  position: relative;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.09);
          box-shadow: 0 4px 15px rgba(0, 0, 0, 0.09);
  overflow: hidden;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.eael-nft-gallery-wrapper .eael-nft-item .eael-nft-thumbnail {
  line-height: 0;
  text-align: center;
  margin: 0 0 15px;
  border-radius: 5px;
}
.eael-nft-gallery-wrapper .eael-nft-item .eael-nft-thumbnail img {
  border-radius: 5px;
}
.eael-nft-gallery-wrapper .eael-nft-item .eael-nft-content .eael-nft-title {
  font-size: 22px;
  margin: 0 0 15px;
}
.eael-nft-gallery-wrapper .eael-nft-item .eael-nft-content .eael-nft-creator-wrapper,
.eael-nft-gallery-wrapper .eael-nft-item .eael-nft-content .eael-nft-owner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 20px;
}
.eael-nft-gallery-wrapper .eael-nft-item .eael-nft-content .eael-nft-creator-wrapper img,
.eael-nft-gallery-wrapper .eael-nft-item .eael-nft-content .eael-nft-owner-wrapper img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
.eael-nft-gallery-wrapper .eael-nft-item .eael-nft-content .eael-nft-creator-wrapper span,
.eael-nft-gallery-wrapper .eael-nft-item .eael-nft-content .eael-nft-owner-wrapper span {
  color: #333333;
  font-size: 14px;
}
.eael-nft-gallery-wrapper .eael-nft-item .eael-nft-content .eael-nft-creator-wrapper a,
.eael-nft-gallery-wrapper .eael-nft-item .eael-nft-content .eael-nft-owner-wrapper a {
  color: #7967ff;
  font-size: 14px;
}
.eael-nft-gallery-wrapper .eael-nft-item .eael-nft-button button {
  background-color: transparent;
  border: 0;
  -webkit-box-shadow: unset;
          box-shadow: unset;
  display: block;
  padding: 0;
  margin: 0;
}
.eael-nft-gallery-wrapper .eael-nft-item .eael-nft-button button a {
  display: block;
  text-decoration: none;
  background-color: #7967ff;
  color: #ffffff;
  font-size: 14px;
  padding: 15px 20px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  text-align: center;
}
.eael-nft-gallery-wrapper .eael-nft-item:hover {
  -webkit-box-shadow: 0 4px 15px #d6d6d6;
          box-shadow: 0 4px 15px #d6d6d6;
}
.eael-nft-gallery-wrapper .eael-nft-item:hover .eael-nft-button {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}
.eael-nft-gallery-wrapper .preset-1 .eael-nft-price-wrapper {
  min-height: 20px;
}
.eael-nft-gallery-wrapper .preset-1 .eael-nft-button {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  -webkit-transform: translateY(30px);
      -ms-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  visibility: hidden;
  width: 100%;
}
.eael-nft-gallery-wrapper .preset-1 .eael-nft-button button {
  width: 100%;
}
.eael-nft-gallery-wrapper .preset-1 .eael-nft-item:hover .eael-nft-button {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}
.eael-nft-gallery-wrapper .preset-2 .eael-nft-price-wrapper {
  margin-bottom: 15px;
}
.eael-nft-gallery-wrapper .preset-2 .eael-nft-button button a {
  border-radius: 4px;
}
.eael-nft-gallery-wrapper .preset-2 .eael-nft-button button:hover a {
  background-color: #5c4bd9;
  color: #ffffff;
}
.eael-nft-gallery-wrapper .preset-3 .eael-nft-item {
  padding: 0 !important;
}
.eael-nft-gallery-wrapper .preset-3 .eael-nft-item .eael-nft-main-content {
  background-color: rgba(237, 236, 246, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  padding: 15px;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  visibility: hidden;
  z-index: 999;
}
.eael-nft-gallery-wrapper .preset-3 .eael-nft-item:hover .eael-nft-main-content {
  opacity: 1;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  visibility: visible;
}
.eael-nft-gallery-wrapper:hover {
  overflow: hidden;
  position: relative;
}
