@charset "UTF-8";
.eael-post-grid-container .eael-post-grid {
  margin: 0 -10px;
}
.eael-post-grid-container .eael-post-grid .eael-grid-post {
  float: left;
  padding: 10px;
}
.eael-post-carousel .eael-grid-post {
  float: none;
  padding: 0;
}
.eael-grid-post-holder {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.eael-grid-post-holder-inner {
  height: 100%;
}
.eael-entry-media {
  position: relative;
}
.eael-entry-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  -webkit-transition: opacity 0.2s ease-in-out, -webkit-transform 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  transition: opacity 0.2s ease-in-out, -webkit-transform 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: opacity 0.2s ease-in-out, transform 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  transition: opacity 0.2s ease-in-out, transform 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  transition: opacity 0.2s ease-in-out, transform 0.25s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.25s cubic-bezier(0.19, 1, 0.22, 1);
}
.eael-entry-overlay > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.eael-entry-title {
  margin: 10px 0 5px;
  font-size: 1.2em;
}
.eael-entry-thumbnail img {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
}
.eael-entry-thumbnail > img {
  height: 100%;
}
.eael-entry-footer .eael-author-avatar {
  width: 50px;
}
.eael-entry-footer .eael-author-avatar .avatar {
  border-radius: 50%;
}
.eael-post-grid .eael-entry-footer .eael-entry-meta {
  padding-left: 8px;
  text-align: left;
}
.eael-grid-post .eael-entry-meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  white-space: nowrap;
}
.eael-grid-post .eael-entry-footer .eael-entry-meta {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.eael-entry-meta > div {
  font-size: 12px;
  line-height: 1.2;
  padding-bottom: 5px;
}
.eael-grid-post-excerpt p {
  margin: 0;
  font-size: 14px;
}
.eael-entry-meta .eael-entry-footer .eael-posted-by {
  display: block;
}
.eael-grid-post .eael-entry-wrapper,
.eael-grid-post .eael-entry-footer {
  padding: 15px;
}
.eael-post-grid .eael-entry-wrapper > .eael-entry-meta span.eael-posted-on {
  padding-left: 5px;
}
.eael-post-grid .eael-entry-wrapper > .eael-entry-meta span.eael-posted-on::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  color: inherit;
  opacity: 0.4;
  font-size: 0.8em;
  padding-right: 7px;
}
/*--- Post Grid Thumbnail Hover Effects ---*/
.eael-entry-media {
  position: relative;
}
.eael-entry-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.eael-entry-overlay > i {
  color: #fff;
}
/*--- fade in ---*/
.eael-entry-overlay.fade-in {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}
.eael-entry-media:hover .eael-entry-overlay.fade-in {
  visibility: visible;
  opacity: 1;
}
.eael-entry-media:hover .eael-entry-overlay.fade-in > i {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  opacity: 1;
}
/*--- zoom in --- */
.eael-entry-overlay.zoom-in {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}
.eael-entry-media:hover .eael-entry-overlay.zoom-in {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
/*--- slide up ---*/
.eael-entry-overlay.slide-up {
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}
.eael-entry-media:hover .eael-entry-overlay.slide-up {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  visibility: visible;
  opacity: 1;
}
.eael-entry-media {
  overflow: hidden;
}
/*--- Post Grid & Carousel Hover Styles ---*/
.eael-entry-media.grid-hover-style-fade-in .eael-entry-overlay {
  opacity: 0;
}
.eael-entry-media.grid-hover-style-fade-in:hover .eael-entry-overlay {
  opacity: 1;
}
.eael-entry-media.grid-hover-style-none .eael-entry-overlay {
  display: none;
}
.eael-entry-overlay.none {
  opacity: 0;
}
.eael-entry-media.grid-hover-style-zoom-in .eael-entry-overlay {
  -webkit-transform: scale(0.4);
      -ms-transform: scale(0.4);
          transform: scale(0.4);
  opacity: 0;
}
.eael-entry-media.grid-hover-style-zoom-in:hover .eael-entry-overlay {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}
.eael-entry-media.grid-hover-style-animate-down .eael-entry-overlay {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}
.eael-entry-media.grid-hover-style-animate-down .eael-entry-overlay > i {
  -webkit-transform: translateY(-100px);
      -ms-transform: translateY(-100px);
          transform: translateY(-100px);
  -webkit-transition-delay: 100ms;
       -o-transition-delay: 100ms;
          transition-delay: 100ms;
  -webkit-transition-duration: 300ms;
       -o-transition-duration: 300ms;
          transition-duration: 300ms;
}
.eael-entry-media.grid-hover-style-animate-down:hover .eael-entry-overlay {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}
.eael-entry-media.grid-hover-style-animate-down:hover .eael-entry-overlay > i {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
.eael-entry-media.grid-hover-style-animate-up .eael-entry-overlay {
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  visibility: hidden;
  opacity: 0;
}
.eael-entry-media.grid-hover-style-animate-up .eael-entry-overlay > i {
  -webkit-transform: translateY(100px);
      -ms-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition-delay: 100ms;
       -o-transition-delay: 100ms;
          transition-delay: 100ms;
  -webkit-transition-duration: 300ms;
       -o-transition-duration: 300ms;
          transition-duration: 300ms;
}
.eael-entry-media.grid-hover-style-animate-up:hover .eael-entry-overlay {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  visibility: visible;
  opacity: 1;
}
.eael-entry-media.grid-hover-style-animate-up:hover .eael-entry-overlay > i {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
/*--- Gallery Column CSS ---*/
@media only screen and (min-width: 1025px) {
  /* For Desktop: */
  .elementor-element.elementor-grid-eael-col-1 {
    position: relative;
  }

  .elementor-element.elementor-grid-eael-col-1 .eael-grid-post {
    width: 100%;
    float: left;
  }

  .elementor-element.elementor-grid-eael-col-2 {
    position: relative;
  }

  .elementor-element.elementor-grid-eael-col-2 .eael-grid-post {
    width: 50%;
    float: left;
  }

  .elementor-element.elementor-grid-eael-col-2 .eael-grid-post:nth-of-type(2n) {
    margin-right: 0 !important;
  }

  .elementor-element.elementor-grid-eael-col-2 .eael-grid-post:nth-of-type(2n + 1) {
    clear: left;
  }

  .elementor-element.elementor-grid-eael-col-3 {
    position: relative;
  }

  .elementor-element.elementor-grid-eael-col-3 .eael-grid-post {
    width: 33.3333%;
    float: left;
  }

  .elementor-element.elementor-grid-eael-col-3 .eael-grid-post:nth-of-type(3n) {
    margin-right: 0 !important;
  }

  .elementor-element.elementor-grid-eael-col-3 .eael-grid-post:nth-of-type(3n + 1) {
    clear: left;
  }

  .elementor-element.elementor-grid-eael-col-4 {
    position: relative;
  }

  .elementor-element.elementor-grid-eael-col-4 .eael-grid-post {
    width: 25%;
    float: left;
  }

  .elementor-element.elementor-grid-eael-col-4 .eael-grid-post:nth-of-type(4n) {
    margin-right: 0 !important;
  }

  .elementor-element.elementor-grid-eael-col-4 .eael-grid-post:nth-of-type(4n + 1) {
    clear: left;
  }

  .elementor-element.elementor-grid-eael-col-5 {
    position: relative;
  }

  .elementor-element.elementor-grid-eael-col-5 .eael-grid-post {
    width: 20%;
    float: left;
  }

  .elementor-element.elementor-grid-eael-col-5 .eael-grid-post:nth-of-type(5n) {
    margin-right: 0 !important;
  }

  .elementor-element.elementor-grid-eael-col-5 .eael-grid-post:nth-of-type(5n + 1) {
    clear: left;
  }

  .elementor-element.elementor-grid-eael-col-6 {
    position: relative;
  }

  .elementor-element.elementor-grid-eael-col-6 .eael-grid-post {
    width: 16%;
    float: left;
  }

  .elementor-element.elementor-grid-eael-col-6 .eael-grid-post:nth-of-type(6n) {
    margin-right: 0 !important;
  }

  .elementor-element.elementor-grid-eael-col-6 .eael-grid-post:nth-of-type(6n + 1) {
    clear: left;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 766px) {
  /* For tablets: */
  .elementor-element.elementor-grid-tablet-eael-col-1 {
    position: relative;
  }

  .elementor-element.elementor-grid-tablet-eael-col-1 .eael-grid-post {
    width: 100%;
    float: left;
  }

  .elementor-element.elementor-grid-tablet-eael-col-2 {
    position: relative;
  }

  .elementor-element.elementor-grid-tablet-eael-col-2 .eael-grid-post {
    width: 50%;
    float: left;
  }

  .elementor-element.elementor-grid-tablet-eael-col-2 .eael-grid-post:nth-of-type(2n) {
    margin-right: 0 !important;
  }

  .elementor-element.elementor-grid-tablet-eael-col-2 .eael-grid-post:nth-of-type(2n + 1) {
    clear: left;
  }

  .elementor-element.elementor-grid-tablet-eael-col-3 {
    position: relative;
  }

  .elementor-element.elementor-grid-tablet-eael-col-3 .eael-grid-post {
    width: 33.3333%;
    float: left;
  }

  .elementor-element.elementor-grid-tablet-eael-col-3 .eael-grid-post:nth-of-type(3n) {
    margin-right: 0 !important;
  }

  .elementor-element.elementor-grid-tablet-eael-col-3 .eael-grid-post:nth-of-type(3n + 1) {
    clear: left;
  }

  .elementor-element.elementor-grid-tablet-eael-col-4 {
    position: relative;
  }

  .elementor-element.elementor-grid-tablet-eael-col-4 .eael-grid-post {
    width: 25%;
    float: left;
  }

  .elementor-element.elementor-grid-tablet-eael-col-4 .eael-grid-post:nth-of-type(4n) {
    margin-right: 0 !important;
  }

  .elementor-element.elementor-grid-tablet-eael-col-4 .eael-grid-post:nth-of-type(4n + 1) {
    clear: left;
  }

  .elementor-element.elementor-grid-tablet-eael-col-5 {
    position: relative;
  }

  .elementor-element.elementor-grid-tablet-eael-col-5 .eael-grid-post {
    width: 20%;
    float: left;
  }

  .elementor-element.elementor-grid-tablet-eael-col-5 .eael-grid-post:nth-of-type(5n) {
    margin-right: 0 !important;
  }

  .elementor-element.elementor-grid-tablet-eael-col-5 .eael-grid-post:nth-of-type(5n + 1) {
    clear: left;
  }

  .elementor-element.elementor-grid-tablet-eael-col-6 {
    position: relative;
  }

  .elementor-element.elementor-grid-tablet-eael-col-6 .eael-grid-post {
    width: 16%;
    float: left;
  }

  .elementor-element.elementor-grid-tablet-eael-col-6 .eael-grid-post:nth-of-type(6n) {
    margin-right: 0 !important;
  }

  .elementor-element.elementor-grid-tablet-eael-col-6 .eael-grid-post:nth-of-type(6n + 1) {
    clear: left;
  }
}
@media only screen and (max-width: 767px) {
  .elementor-element.elementor-grid-mobile-eael-col-1 {
    position: relative;
  }

  .elementor-element.elementor-grid-mobile-eael-col-1 .eael-grid-post {
    width: 100%;
    float: left;
  }

  .elementor-element.elementor-grid-mobile-eael-col-2 {
    position: relative;
  }

  .elementor-element.elementor-grid-mobile-eael-col-2 .eael-grid-post {
    width: 50%;
    float: left;
  }

  .elementor-element.elementor-grid-mobile-eael-col-2 .eael-grid-post:nth-of-type(2n) {
    margin-right: 0 !important;
  }

  .elementor-element.elementor-grid-mobile-eael-col-2 .eael-grid-post:nth-of-type(2n + 1) {
    clear: left;
  }

  .elementor-element.elementor-grid-mobile-eael-col-3 {
    position: relative;
  }

  .elementor-element.elementor-grid-mobile-eael-col-3 .eael-grid-post {
    width: 33.3333%;
    float: left;
  }

  .elementor-element.elementor-grid-mobile-eael-col-3 .eael-grid-post:nth-of-type(3n) {
    margin-right: 0 !important;
  }

  .elementor-element.elementor-grid-mobile-eael-col-3 .eael-grid-post:nth-of-type(3n + 1) {
    clear: left;
  }

  .elementor-element.elementor-grid-mobile-eael-col-4 {
    position: relative;
  }

  .elementor-element.elementor-grid-mobile-eael-col-4 .eael-grid-post {
    width: 25%;
    float: left;
  }

  .elementor-element.elementor-grid-mobile-eael-col-4 .eael-grid-post:nth-of-type(4n) {
    margin-right: 0 !important;
  }

  .elementor-element.elementor-grid-mobile-eael-col-4 .eael-grid-post:nth-of-type(4n + 1) {
    clear: left;
  }

  .elementor-element.elementor-grid-mobile-eael-col-5 {
    position: relative;
  }

  .elementor-element.elementor-grid-mobile-eael-col-5 .eael-grid-post {
    width: 20%;
    float: left;
  }

  .elementor-element.elementor-grid-mobile-eael-col-5 .eael-grid-post:nth-of-type(5n) {
    margin-right: 0 !important;
  }

  .elementor-element.elementor-grid-mobile-eael-col-5 .eael-grid-post:nth-of-type(5n + 1) {
    clear: left;
  }

  .elementor-element.elementor-grid-mobile-eael-col-6 {
    position: relative;
  }

  .elementor-element.elementor-grid-mobile-eael-col-6 .eael-grid-post {
    width: 16%;
    float: left;
  }

  .elementor-element.elementor-grid-mobile-eael-col-6 .eael-grid-post:nth-of-type(6n) {
    margin-right: 0 !important;
  }

  .elementor-element.elementor-grid-mobile-eael-col-6 .eael-grid-post:nth-of-type(6n + 1) {
    clear: left;
  }
}
.eael-author-avatar > a {
  display: block;
}
.eael-entry-footer {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.eael-entry-footer > div {
  display: inline-block;
  float: left;
}
.post-carousel-categories {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 11;
  width: 100%;
  margin: 0;
  padding: 15px;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}
.post-carousel-categories li {
  display: inline-block;
  text-transform: capitalize;
  margin-right: 5px;
  position: relative;
}
.post-carousel-categories li:after {
  content: ",";
  color: #ffffff;
}
.post-carousel-categories li:last-child:after {
  display: none;
}
.post-carousel-categories li a {
  color: #fff;
}
.eael-entry-media:hover .post-carousel-categories {
  visibility: visible;
  opacity: 1;
}
.eael-post-grid-style-three .eael-meta-posted-on {
  min-width: 60px;
  height: 50px;
  padding: 5px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 16px;
  line-height: 18px;
  margin-top: 12px;
  margin-left: 12px;
}
.eael-post-grid-style-three .eael-meta-posted-on span {
  display: block;
}
.eael-post-grid-style-two .eael-entry-meta {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.eael-post-grid-style-two .eael-entry-meta .eael-meta-posted-on {
  padding: 0;
  font-size: 12px;
  margin-right: 15px;
  color: #929292;
}
.eael-post-grid-style-two .eael-entry-meta .eael-meta-posted-on i {
  margin-right: 7px;
}
.eael-post-grid-style-two .eael-entry-meta .post-meta-categories {
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  margin: 0;
  padding-left: 0;
}
.eael-post-grid-style-two .eael-entry-meta .post-meta-categories li {
  font-size: 12px;
  margin-right: 7px;
  color: #929292;
}
.eael-post-grid-style-two .eael-entry-meta .post-meta-categories li:last-child {
  margin-right: 0;
}
.eael-post-grid-style-two .eael-entry-meta .post-meta-categories li a {
  color: #929292;
}
.rtl .eael-grid-post .eael-entry-footer {
  direction: ltr;
}
.eael-post-grid-template-card-classic .eael-grid-post-holder {
  border: none;
}
.eael-post-grid-template-card-classic .eael-grid-post-holder-inner {
  padding: 0 15px 0 15px;
  position: relative;
  z-index: 1;
  width: 100%;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.eael-post-grid-template-card-classic .eael-grid-post-holder-inner:after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70%;
  content: "";
  background: #fff;
  z-index: -1;
  border-radius: 5px;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
  -webkit-box-shadow: rgba(0, 6, 55, 0.1) 0px 8px 25px 0px;
          box-shadow: rgba(0, 6, 55, 0.1) 0px 8px 25px 0px;
}
.eael-post-grid-template-card-modern .eael-grid-post-holder {
  border: none;
}
.eael-post-grid-template-card-modern .eael-entry-wrapper {
  margin: 0 15px;
  background: black;
  margin-top: -60px;
  position: relative;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.eael-post-grid-template-card-classic .terms-wrapper i,
.eael-post-grid-template-card-modern .terms-wrapper i {
  color: #8562f8;
}
.eael-post-grid-template-card-classic .post-carousel-categories,
.eael-post-grid-template-card-modern .post-carousel-categories {
  position: relative;
  opacity: 1;
  visibility: visible;
  padding: 0;
  line-height: 1.2em;
  display: inline-block;
}
.eael-post-grid-template-card-classic .post-carousel-categories li:last-child,
.eael-post-grid-template-card-modern .post-carousel-categories li:last-child {
  margin-right: 0;
}
.eael-post-grid-template-card-classic .post-carousel-categories a,
.eael-post-grid-template-card-modern .post-carousel-categories a {
  color: #8562f8;
  font-size: 12px;
  line-height: 1.2em;
}
.eael-post-grid-template-card-classic .eael-entry-meta,
.eael-post-grid-template-card-modern .eael-entry-meta {
  font-size: 14px;
  line-height: 1.2em;
  color: #6b6e7a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.eael-post-grid-template-card-classic .eael-entry-meta i,
.eael-post-grid-template-card-modern .eael-entry-meta i {
  margin-right: 4px;
}
.eael-post-grid-template-card-classic .eael-entry-meta .eael-posted-on,
.eael-post-grid-template-card-modern .eael-entry-meta .eael-posted-on {
  padding-left: 0 !important;
}
.eael-post-grid-template-card-classic .eael-entry-meta .eael-posted-on:before,
.eael-post-grid-template-card-modern .eael-entry-meta .eael-posted-on:before {
  content: none !important;
}
.eael-post-grid-template-card-classic .eael-entry-footer,
.eael-post-grid-template-card-modern .eael-entry-footer {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.eael-post-grid-template-overlap-classic .eael-entry-wrapper.vertical-align-top {
  top: 0;
}
.eael-post-grid-template-overlap-classic .eael-entry-wrapper.vertical-align-bottom {
  bottom: 0;
}
.eael-post-grid-template-overlap-classic .eael-entry-wrapper.vertical-align-center {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.eael-post-grid-template-overlap-modern .eael-entry-wrapper {
  background-color: #8562f8;
  left: 0;
  bottom: 0;
}
.eael-post-grid-template-overlap-modern .eael-entry-wrapper .eael-entry-content {
  max-height: 0;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  opacity: 0;
}
.eael-post-grid-template-overlap-modern .eael-grid-post-holder:hover .eael-entry-wrapper .eael-entry-content {
  max-height: 70px;
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}
.eael-post-grid-template-overlap-modern .eael-grid-post-holder,
.eael-post-grid-template-overlap-classic .eael-grid-post-holder {
  overflow: hidden;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.eael-post-grid-template-overlap-modern .eael-grid-post-holder .eael-grid-post-holder-inner,
.eael-post-grid-template-overlap-classic .eael-grid-post-holder .eael-grid-post-holder-inner {
  position: relative;
  height: 350px;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.eael-post-grid-template-overlap-modern .eael-grid-post-holder .eael-grid-post-holder-inner:hover .eael-entry-media,
.eael-post-grid-template-overlap-classic .eael-grid-post-holder .eael-grid-post-holder-inner:hover .eael-entry-media {
  -webkit-transform: scale(1.1, 1.1);
      -ms-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}
.eael-post-grid-template-overlap-modern .eael-entry-media,
.eael-post-grid-template-overlap-classic .eael-entry-media {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
          transform: scale(1, 1);
}
.eael-post-grid-template-overlap-modern .eael-entry-media,
.eael-post-grid-template-overlap-classic .eael-entry-media {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.eael-post-grid-template-overlap-modern .overlap-bg,
.eael-post-grid-template-overlap-classic .overlap-bg {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.eael-post-grid-template-overlap-modern .eael-entry-wrapper,
.eael-post-grid-template-overlap-classic .eael-entry-wrapper {
  position: absolute;
  z-index: 1;
  width: 100%;
}
.eael-post-grid-template-overlap-modern .eael-entry-title a,
.eael-post-grid-template-overlap-modern .eael-post-elements-readmore-btn,
.eael-post-grid-template-overlap-modern .eael-post-elements-readmore-btn,
.eael-post-grid-template-overlap-modern .eael-entry-content,
.eael-post-grid-template-overlap-classic .eael-entry-title a,
.eael-post-grid-template-overlap-classic .eael-post-elements-readmore-btn,
.eael-post-grid-template-overlap-classic .eael-post-elements-readmore-btn,
.eael-post-grid-template-overlap-classic .eael-entry-content {
  color: #fff;
}
.eael-post-grid-template-news-classic .eael-grid-post-holder {
  border-radius: 5px;
  -webkit-filter: drop-shadow(0px 8px 17.5px rgba(11, 65, 139, 0.1));
          filter: drop-shadow(0px 8px 17.5px rgba(11, 65, 139, 0.1));
  background-color: #ffffff;
  border: none;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.eael-post-grid-template-news-classic .eael-grid-post-holder-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.eael-post-grid-template-news-classic .eael-entry-media {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.eael-post-grid-template-news-classic .eael-entry-thumbnail img {
  border-radius: 5px;
}
.eael-post-grid-template-news-modern .eael-grid-post-holder-inner {
  display: grid;
  grid-template-columns: 45% auto;
}
.eael-post-grid-template-news-modern .eael-entry-thumbnail {
  height: 100%;
}
.eael-post-grid-template-news-modern .eael-entry-thumbnail img {
  height: 100%;
}
.eael-post-grid-template-news-modern .eael-grid-post-holder {
  border: none;
}
.eael-post-grid-template-news-modern .eael-entry-wrapper {
  margin: 15px 0 15px -40px;
  position: relative;
  -webkit-filter: drop-shadow(0px 8px 17.5px rgba(11, 65, 139, 0.1));
          filter: drop-shadow(0px 8px 17.5px rgba(11, 65, 139, 0.1));
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.eael-post-grid-template-news-modern .post-carousel-categories,
.eael-post-grid-template-news-classic .post-carousel-categories {
  position: relative;
  opacity: 1;
  visibility: visible;
  padding: 0;
  line-height: 1.2em;
  margin-bottom: 10px;
}
.eael-post-grid-template-news-modern .post-carousel-categories a,
.eael-post-grid-template-news-classic .post-carousel-categories a {
  color: #8562f8;
  font-size: 12px;
  line-height: 1.2em;
}
.eael-post-grid-template-news-modern .eael-entry-title,
.eael-post-grid-template-news-classic .eael-entry-title {
  margin-top: 0;
}
.eael-post-grid-template-news-modern .eael-entry-title a,
.eael-post-grid-template-news-classic .eael-entry-title a {
  font-size: 20px;
  color: #383838;
  font-weight: 500;
}
.eael-post-grid-template-news-modern .eael-entry-meta,
.eael-post-grid-template-news-classic .eael-entry-meta {
  font-size: 14px;
  line-height: 1.2em;
  color: #6b6e7a;
}
.eael-post-grid-template-news-modern .eael-entry-meta i,
.eael-post-grid-template-news-classic .eael-entry-meta i {
  margin-right: 4px;
}
.eael-post-grid-template-news-modern .eael-entry-meta .eael-posted-on:before,
.eael-post-grid-template-news-classic .eael-entry-meta .eael-posted-on:before {
  content: none !important;
}
.eael-post-grid-template-news-modern .eael-post-elements-readmore-btn,
.eael-post-grid-template-news-classic .eael-post-elements-readmore-btn {
  font-size: 14px;
}
