.eael-svg-draw-container.none path, .eael-svg-draw-container.none circle, .eael-svg-draw-container.none rect, .eael-svg-draw-container.none polygon {
  stroke-dasharray: none;
}
.eael-svg-draw-container svg {
  height: 200px;
  width: 200px;
  overflow: visible;
}
.eael-svg-draw-container svg path, .eael-svg-draw-container svg circle, .eael-svg-draw-container svg rect, .eael-svg-draw-container svg polygon {
  stroke: #c36;
  stroke-width: 3;
  fill: transparent;
  stroke-dasharray: 0, 9999px;
  fill-opacity: 0;
}
.eael-svg-draw-container.fill-svg svg path, .eael-svg-draw-container.fill-svg svg circle, .eael-svg-draw-container.fill-svg svg rect, .eael-svg-draw-container.fill-svg svg polygon {
  -webkit-animation-name: FillIn;
          animation-name: FillIn;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes FillIn {
  0% {
    fill-opacity: 0;
  }
  40% {
    fill-opacity: 1;
  }
  100% {
    fill-opacity: 1;
  }
}
@keyframes FillIn {
  0% {
    fill-opacity: 0;
  }
  40% {
    fill-opacity: 1;
  }
  100% {
    fill-opacity: 1;
  }
}
