.eael-svg-draw-container.none path, .eael-svg-draw-container.none circle, .eael-svg-draw-container.none rect, .eael-svg-draw-container.none polygon {
  stroke-dasharray: none;
}
.eael-svg-draw-container svg {
  height: 200px;
  width: 200px;
  overflow: visible;
}
.eael-svg-draw-container svg path, .eael-svg-draw-container svg circle, .eael-svg-draw-container svg rect, .eael-svg-draw-container svg polygon {
  fill: none;
  stroke: #2c3e50;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 4000000;
  stroke-dashoffset: 4000000;
}
.eael-svg-draw-container.fill-svg svg path, .eael-svg-draw-container.fill-svg svg circle, .eael-svg-draw-container.fill-svg svg rect, .eael-svg-draw-container.fill-svg svg polygon {
  -webkit-animation-name: eaelFillIn;
          animation-name: eaelFillIn;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes eaelFillIn {
  0% {
    fill-opacity: 0;
  }
  40% {
    fill-opacity: 1;
  }
  100% {
    fill-opacity: 1;
  }
}
@keyframes eaelFillIn {
  0% {
    fill-opacity: 0;
  }
  40% {
    fill-opacity: 1;
  }
  100% {
    fill-opacity: 1;
  }
}
