.eael-svg-draw-container svg {
  height: 200px;
  width: 200px;
}
.eael-svg-draw-container svg path {
  stroke: #c36;
  stroke-width: 3;
  fill: transparent;
  stroke-dashoffset: 0;
  stroke-dasharray: 0, 9999px;
}
