.eael-typeform {
  width: 100%;
  height: 700px;
}
.eael-typeform.eael-typeform-align-center {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.eael-typeform.eael-typeform-align-left {
  float: left;
}
.eael-typeform.eael-typeform-align-right {
  float: right;
}
