.eael_vto-vertical-lr .elementor-heading-title,
.eael_vto-vertical-rl .elementor-heading-title,
.eael_vto-vertical-lr .elementor-headline,
.eael_vto-vertical-rl .elementor-headline,
.eael_vto-vertical-lr .elementor-text-editor p,
.eael_vto-vertical-rl .elementor-text-editor p,
.eael_vto-vertical-lr.elementor-widget-text-editor p,
.eael_vto-vertical-rl.elementor-widget-text-editor p,
.eael_vto-vertical-lr .eael-dual-header,
.eael_vto-vertical-rl .eael-dual-header,
.eael_vto-vertical-lr .eael-fancy-text-container,
.eael_vto-vertical-rl .eael-fancy-text-container {
  line-height: inherit;
}

@-webkit-keyframes eaelAnimationVTO {
  0% {
    background-position: 0;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0;
  }
}

@keyframes eaelAnimationVTO {
  0% {
    background-position: 0;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0;
  }
}

@-webkit-keyframes eaelAnimationVertical {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@keyframes eaelAnimationVertical {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
