.eael-woo-cart .eael-woo-cart-wrapper {
  background: #f9fbff;
  padding: 100px 0;
}
.eael-woo-cart .eael-woo-cart-wrapper p {
  margin: 0;
}
.eael-woo-cart .eael-woo-cart-wrapper form.eael-woo-cart-form .eael-woo-cart-table {
  border-collapse: separate;
  border-spacing: 0 13px;
  margin: 0;
}
.eael-woo-cart .eael-woo-cart-wrapper form.eael-woo-cart-form .eael-woo-cart-table th,
.eael-woo-cart .eael-woo-cart-wrapper form.eael-woo-cart-form .eael-woo-cart-table td {
  border: none;
  color: #202B46;
}
.eael-woo-cart .eael-woo-cart-wrapper form.eael-woo-cart-form .eael-woo-cart-table th a,
.eael-woo-cart .eael-woo-cart-wrapper form.eael-woo-cart-form .eael-woo-cart-table td a {
  color: #202B46;
}
.eael-woo-cart .eael-woo-cart-wrapper form.eael-woo-cart-form .eael-woo-cart-table dl {
  display: block;
  margin-left: -5px;
  font-size: 16px;
  font-weight: 400;
  color: #737373;
}
.eael-woo-cart .eael-woo-cart-wrapper form.eael-woo-cart-form .eael-woo-cart-table dl dt {
  margin: 0 0 0 5px;
  text-transform: capitalize;
  display: inline-block;
}
.eael-woo-cart .eael-woo-cart-wrapper form.eael-woo-cart-form .eael-woo-cart-table dl dt::before {
  content: "|";
  margin: 0 5px 0 -5px;
}
.eael-woo-cart .eael-woo-cart-wrapper form.eael-woo-cart-form .eael-woo-cart-table dl dt:first-child::before {
  display: none;
}
.eael-woo-cart .eael-woo-cart-wrapper form.eael-woo-cart-form .eael-woo-cart-table dl dd {
  margin: 0 0 0 5px;
  display: inline-block;
}
.eael-woo-cart .eael-woo-cart-wrapper form.eael-woo-cart-form .eael-woo-cart-table .product-quantity .quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.eael-woo-cart .eael-woo-cart-wrapper form.eael-woo-cart-form .eael-woo-cart-table .product-quantity .quantity input::-webkit-outer-spin-button,
.eael-woo-cart .eael-woo-cart-wrapper form.eael-woo-cart-form .eael-woo-cart-table .product-quantity .quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.eael-woo-cart .eael-woo-cart-wrapper form.eael-woo-cart-form .eael-woo-cart-table .product-quantity .quantity input[type=number] {
  -moz-appearance: textfield;
  width: 50px;
  background: #F9FBFF;
  border: none;
  border-radius: 3px;
  padding: 10px;
  line-height: 30px;
  text-align: center;
  font-size: 20px;
  color: #202B46;
}
.eael-woo-cart .eael-woo-cart-wrapper form.eael-woo-cart-form .eael-woo-cart-table .product-quantity .quantity .eael-cart-qty-minus,
.eael-woo-cart .eael-woo-cart-wrapper form.eael-woo-cart-form .eael-woo-cart-table .product-quantity .quantity .eael-cart-qty-plus {
  line-height: 30px;
  padding: 10px 15px;
  color: #97A0B6;
  font-size: 20px;
  cursor: pointer;
}
.eael-woo-cart .eael-woo-cart-wrapper form.eael-woo-cart-form .eael-woo-cart-table thead tr th {
  border: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
}
.eael-woo-cart .eael-woo-cart-wrapper form.eael-woo-cart-form .eael-woo-cart-table thead tr th.product-thumbnail {
  text-align: left;
}
.eael-woo-cart .eael-woo-cart-wrapper form.eael-woo-cart-form .eael-woo-cart-table thead tr th.product-name {
  text-align: left;
}
.eael-woo-cart .eael-woo-cart-wrapper form.eael-woo-cart-form .eael-woo-cart-table tbody tr {
  position: relative;
  z-index: 2;
}
.eael-woo-cart .eael-woo-cart-wrapper form.eael-woo-cart-form .eael-woo-cart-table tbody tr::after {
  position: absolute;
  content: "";
  background: #fff;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  -webkit-box-shadow: 0 8px 18px 0 rgba(0, 1, 35, 0.05);
          box-shadow: 0 8px 18px 0 rgba(0, 1, 35, 0.05);
  border-radius: 5px;
}
.eael-woo-cart .eael-woo-cart-wrapper form.eael-woo-cart-form .eael-woo-cart-table tbody tr td {
  border: none;
  background: transparent;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
}
.eael-woo-cart .eael-woo-cart-wrapper form.eael-woo-cart-form .eael-woo-cart-table tbody tr td.product-remove {
  color: #BEC6D7;
}
.eael-woo-cart .eael-woo-cart-wrapper form.eael-woo-cart-form .eael-woo-cart-table tbody tr td.product-remove a {
  color: #BEC6D7;
}
.eael-woo-cart .eael-woo-cart-wrapper form.eael-woo-cart-form .eael-woo-cart-table tbody tr td.product-thumbnail {
  font-size: 0;
  text-align: left;
}
.eael-woo-cart .eael-woo-cart-wrapper form.eael-woo-cart-form .eael-woo-cart-table tbody tr td.product-thumbnail a {
  display: inline-block;
}
.eael-woo-cart .eael-woo-cart-wrapper form.eael-woo-cart-form .eael-woo-cart-table tbody tr td.product-thumbnail a img {
  display: block;
}
.eael-woo-cart .eael-woo-cart-wrapper form.eael-woo-cart-form .eael-woo-cart-table tbody tr td.product-thumbnail img {
  width: 62px;
  height: auto;
  border-radius: 50%;
  display: inline-block;
}
.eael-woo-cart .eael-woo-cart-wrapper form.eael-woo-cart-form .eael-woo-cart-table tbody tr td.product-name {
  text-align: left;
}
.eael-woo-cart .eael-woo-cart-wrapper form.eael-woo-cart-form .eael-woo-cart-table tbody tr td.product-price {
  color: #747C92;
}
.eael-woo-cart .eael-woo-cart-wrapper form.eael-woo-cart-form .eael-woo-cart-table tbody tr td.product-subtotal {
  font-weight: 500;
}
.eael-woo-cart .eael-woo-cart-wrapper .eael-cart-coupon-and-collaterals {
  overflow: hidden;
}
.eael-woo-cart .eael-woo-cart-wrapper .eael-cart-coupon-and-collaterals button,
.eael-woo-cart .eael-woo-cart-wrapper .eael-cart-coupon-and-collaterals .button {
  background: #6557FF;
  -webkit-box-shadow: 0 8px 18px rgba(0, 0, 0, 0.05);
          box-shadow: 0 8px 18px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  color: #fff;
  border: none;
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  padding: 10px 40px;
}
.eael-woo-cart .eael-woo-cart-wrapper .eael-cart-coupon-and-collaterals .eael-cart-coupon-wrapper {
  width: 50%;
  float: left;
  min-height: 1px;
}
.eael-woo-cart .eael-woo-cart-wrapper .eael-cart-coupon-and-collaterals .eael-cart-coupon-wrapper .coupon {
  border: 1px solid #D7DFEF;
  border-radius: 5px;
  max-width: 400px;
  padding: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.eael-woo-cart .eael-woo-cart-wrapper .eael-cart-coupon-and-collaterals .eael-cart-coupon-wrapper .coupon input {
  background: transparent;
  border: none;
  font-size: 18px;
  line-height: 30px;
}
.eael-woo-cart .eael-woo-cart-wrapper .eael-cart-coupon-and-collaterals .eael-cart-coupon-wrapper .coupon button {
  -webkit-box-shadow: 0 8px 18px rgba(56, 51, 117, 0.1);
          box-shadow: 0 8px 18px rgba(56, 51, 117, 0.1);
}
.eael-woo-cart .eael-woo-cart-wrapper .eael-cart-coupon-and-collaterals .eael-cart-coupon-wrapper .eael-woo-cart-back-to-shop {
  font-size: 16px;
  font-weight: 500;
  color: #202B46;
  margin-top: 25px;
  display: inline-block;
}
.eael-woo-cart .eael-woo-cart-wrapper .eael-cart-coupon-and-collaterals .cart-collaterals {
  width: 50%;
  float: left;
}
.eael-woo-cart .eael-woo-cart-wrapper .eael-cart-coupon-and-collaterals .cart-collaterals .eael-cart-update-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.eael-woo-cart .eael-woo-cart-wrapper .eael-cart-coupon-and-collaterals .cart-collaterals .eael-cart-update-btn button {
  max-width: 365px;
  width: 100%;
  margin-bottom: 13px;
}
.eael-woo-cart .eael-woo-cart-wrapper .eael-cart-coupon-and-collaterals .cart-collaterals .eael-cart-update-btn button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}
.eael-woo-cart .eael-woo-cart-wrapper .eael-cart-coupon-and-collaterals .cart-collaterals .cart_totals {
  max-width: 365px;
  width: 100%;
}
.eael-woo-cart .eael-woo-cart-wrapper .eael-cart-coupon-and-collaterals .cart-collaterals .cart_totals table {
  border-collapse: separate;
  border-spacing: 0 13px;
  margin: -13px 0;
}
.eael-woo-cart .eael-woo-cart-wrapper .eael-cart-coupon-and-collaterals .cart-collaterals .cart_totals table td,
.eael-woo-cart .eael-woo-cart-wrapper .eael-cart-coupon-and-collaterals .cart-collaterals .cart_totals table th {
  background: transparent;
  border: none;
  font-size: 18px;
  color: #737373;
  padding: 18px;
}
.eael-woo-cart .eael-woo-cart-wrapper .eael-cart-coupon-and-collaterals .cart-collaterals .cart_totals table tr {
  position: relative;
  z-index: 2;
}
.eael-woo-cart .eael-woo-cart-wrapper .eael-cart-coupon-and-collaterals .cart-collaterals .cart_totals table tr::after {
  position: absolute;
  content: "";
  background: #fff;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  -webkit-box-shadow: 0 8px 18px 0 rgba(0, 1, 35, 0.05);
          box-shadow: 0 8px 18px 0 rgba(0, 1, 35, 0.05);
  border-radius: 5px;
}
.eael-woo-cart .eael-woo-cart-wrapper .eael-cart-coupon-and-collaterals .cart-collaterals .cart_totals table tr th {
  color: #737373;
  font-weight: 500;
  text-align: left;
}
.eael-woo-cart .eael-woo-cart-wrapper .eael-cart-coupon-and-collaterals .cart-collaterals .cart_totals table tr td {
  border-spacing: 0;
  text-align: right;
}
.eael-woo-cart .eael-woo-cart-wrapper .eael-cart-coupon-and-collaterals .cart-collaterals .cart_totals table tr td a {
  color: #202B46;
}
.eael-woo-cart .eael-woo-cart-wrapper .eael-cart-coupon-and-collaterals .cart-collaterals .cart_totals table tr td .button {
  width: 100%;
}
.eael-woo-cart .eael-woo-cart-wrapper .eael-cart-coupon-and-collaterals .cart-collaterals .cart_totals table tr.cart-subtotal td, .eael-woo-cart .eael-woo-cart-wrapper .eael-cart-coupon-and-collaterals .cart-collaterals .cart_totals table tr.order-total td {
  font-size: 20px;
  font-weight: 500;
  color: #202B46;
}
.eael-woo-cart .eael-woo-cart-wrapper .eael-cart-coupon-and-collaterals .cart-collaterals .cart_totals table tr.cart-subtotal td strong, .eael-woo-cart .eael-woo-cart-wrapper .eael-cart-coupon-and-collaterals .cart-collaterals .cart_totals table tr.order-total td strong {
  font-weight: 500;
}
.eael-woo-cart .eael-woo-cart-wrapper .eael-cart-coupon-and-collaterals .cart-collaterals .cart_totals table + .wc-proceed-to-checkout {
  margin-top: 13px;
}
.eael-woo-cart .eael-woo-cart-wrapper .eael-cart-coupon-and-collaterals .cart-collaterals .cart_totals .wc-proceed-to-checkout {
  padding: 0;
}
.eael-woo-cart .eael-woo-cart-wrapper .eael-cart-coupon-and-collaterals .cart-collaterals .cart_totals .wc-proceed-to-checkout a.button {
  font-size: 20px;
  padding: 18px 0;
  margin: 0;
}
.eael-woo-cart .eael-woo-cart-wrapper.eael-woo-style-2 {
  background: #fff;
  padding: 0;
}
.eael-woo-cart .eael-woo-cart-wrapper.eael-woo-style-2.has-table-left-content.has-table-right-content {
  background: -webkit-gradient(linear, left top, right top, color-stop(45%, #FAFAFA), color-stop(0%, #FFF));
  background: -o-linear-gradient(left, #FAFAFA 45%, #FFF 0%);
  background: linear-gradient(to right, #FAFAFA 45%, #FFF 0%);
}
.eael-woo-cart .eael-woo-cart-wrapper.eael-woo-style-2:not(.has-table-right-content) {
  background: #FAFAFA;
}
.eael-woo-cart .eael-woo-cart-wrapper.eael-woo-style-2 form.eael-woo-cart-form .eael-woo-cart-table {
  min-height: 1px;
  margin-bottom: 13px;
}
.eael-woo-cart .eael-woo-cart-wrapper.eael-woo-style-2 form.eael-woo-cart-form .eael-woo-cart-table .eael-woo-cart-tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.eael-woo-cart .eael-woo-cart-wrapper.eael-woo-style-2 form.eael-woo-cart-form .eael-woo-cart-table .eael-woo-cart-tr .eael-woo-cart-tr-left {
  width: 45%;
  padding-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.eael-woo-cart .eael-woo-cart-wrapper.eael-woo-style-2 form.eael-woo-cart-form .eael-woo-cart-table .eael-woo-cart-tr .eael-woo-cart-tr-left > .product-thumbnail {
  width: 130px;
}
.eael-woo-cart .eael-woo-cart-wrapper.eael-woo-style-2 form.eael-woo-cart-form .eael-woo-cart-table .eael-woo-cart-tr .eael-woo-cart-tr-left > .product-name {
  width: calc(100% - 130px);
  padding-left: 28px;
  font-size: 20px;
  font-weight: 500;
}
.eael-woo-cart .eael-woo-cart-wrapper.eael-woo-style-2 form.eael-woo-cart-form .eael-woo-cart-table .eael-woo-cart-tr .eael-woo-cart-tr-left > .product-name .eael-woo-cart-sku {
  font-size: 16px;
  font-weight: 400;
  color: #737373;
}
.eael-woo-cart .eael-woo-cart-wrapper.eael-woo-style-2 form.eael-woo-cart-form .eael-woo-cart-table .eael-woo-cart-tr .eael-woo-cart-tr-right {
  width: 55%;
  padding-right: 50px;
  padding-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.eael-woo-cart .eael-woo-cart-wrapper.eael-woo-style-2 form.eael-woo-cart-form .eael-woo-cart-table .eael-woo-cart-tr .eael-woo-cart-tr-right::after {
  position: absolute;
  content: "";
  width: calc(100% - 80px);
  left: 30px;
  top: 100%;
  height: 1px;
  background: #EAEEF4;
}
.eael-woo-cart .eael-woo-cart-wrapper.eael-woo-style-2 form.eael-woo-cart-form .eael-woo-cart-table .eael-woo-cart-tr .eael-woo-cart-tr-right > .eael-woo-cart-td {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
  text-align: center;
}
.eael-woo-cart .eael-woo-cart-wrapper.eael-woo-style-2 form.eael-woo-cart-form .eael-woo-cart-table .eael-woo-cart-tr .eael-woo-cart-tr-right > .eael-woo-cart-td.product-quantity {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 35%;
          flex: 1 1 35%;
}
.eael-woo-cart .eael-woo-cart-wrapper.eael-woo-style-2 form.eael-woo-cart-form .eael-woo-cart-table .eael-woo-cart-tr .eael-woo-cart-tr-right > .eael-woo-cart-td.product-quantity input[type=number] {
  background: transparent;
}
.eael-woo-cart .eael-woo-cart-wrapper.eael-woo-style-2 form.eael-woo-cart-form .eael-woo-cart-table .eael-woo-cart-tr .eael-woo-cart-tr-right > .eael-woo-cart-td.product-subtotal {
  font-weight: 600;
}
.eael-woo-cart .eael-woo-cart-wrapper.eael-woo-style-2 form.eael-woo-cart-form .eael-woo-cart-table .eael-woo-cart-tr .eael-woo-cart-tr-right > .eael-woo-cart-td.product-remove {
  color: #BEC6D7;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
}
.eael-woo-cart .eael-woo-cart-wrapper.eael-woo-style-2 form.eael-woo-cart-form .eael-woo-cart-table .eael-woo-cart-tr .eael-woo-cart-tr-right > .eael-woo-cart-td.product-remove a {
  color: #BEC6D7;
}
.eael-woo-cart .eael-woo-cart-wrapper.eael-woo-style-2 form.eael-woo-cart-form .eael-woo-cart-table .eael-woo-cart-tr .eael-woo-cart-td {
  color: #202B46;
  font-size: 18px;
}
.eael-woo-cart .eael-woo-cart-wrapper.eael-woo-style-2 form.eael-woo-cart-form .eael-woo-cart-table .eael-woo-cart-tr .eael-woo-cart-td a {
  color: #202B46;
}
.eael-woo-cart .eael-woo-cart-wrapper.eael-woo-style-2 form.eael-woo-cart-form .eael-woo-cart-table .eael-woo-cart-thead .eael-woo-cart-tr .eael-woo-cart-td {
  color: #737373;
  font-size: 16px;
  font-weight: 500;
  padding: 45px 0 55px 0;
  text-transform: uppercase;
}
.eael-woo-cart .eael-woo-cart-wrapper.eael-woo-style-2 form.eael-woo-cart-form .eael-woo-cart-table .eael-woo-cart-tbody .eael-woo-cart-tr .eael-woo-cart-tr-left {
  padding-top: 10px;
  padding-bottom: 10px;
}
.eael-woo-cart .eael-woo-cart-wrapper.eael-woo-style-2 form.eael-woo-cart-form .eael-woo-cart-table .eael-woo-cart-tbody .eael-woo-cart-tr .eael-woo-cart-tr-left > .product-thumbnail {
  height: 130px;
  border-radius: 6px;
  overflow: hidden;
  background: #E5F6FC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.eael-woo-cart .eael-woo-cart-wrapper.eael-woo-style-2 form.eael-woo-cart-form .eael-woo-cart-table .eael-woo-cart-tbody .eael-woo-cart-tr .eael-woo-cart-tr-left > .product-thumbnail a {
  font-size: 0;
}
.eael-woo-cart .eael-woo-cart-wrapper.eael-woo-style-2 form.eael-woo-cart-form .eael-woo-cart-table .eael-woo-cart-tbody .eael-woo-cart-tr:first-child .eael-woo-cart-tr-left {
  padding-top: 0;
}
.eael-woo-cart .eael-woo-cart-wrapper.eael-woo-style-2 .eael-cart-coupon-and-collaterals button,
.eael-woo-cart .eael-woo-cart-wrapper.eael-woo-style-2 .eael-cart-coupon-and-collaterals .button {
  background: #312F4B;
  font-size: 15px;
  font-weight: 600;
  padding: 7px 40px;
}
.eael-woo-cart .eael-woo-cart-wrapper.eael-woo-style-2 .eael-cart-coupon-and-collaterals .eael-cart-coupon-wrapper {
  width: 45%;
  padding-left: 50px;
}
.eael-woo-cart .eael-woo-cart-wrapper.eael-woo-style-2 .eael-cart-coupon-and-collaterals .eael-cart-coupon-wrapper .coupon {
  padding: 3px;
  border-color: #CCD4E9;
}
.eael-woo-cart .eael-woo-cart-wrapper.eael-woo-style-2 .eael-cart-coupon-and-collaterals .eael-cart-coupon-wrapper .coupon input {
  font-size: 15px;
}
.eael-woo-cart .eael-woo-cart-wrapper.eael-woo-style-2 .eael-cart-coupon-and-collaterals .cart-collaterals {
  width: 55%;
  padding-right: 50px;
}
.eael-woo-cart .eael-woo-cart-wrapper.eael-woo-style-2 .eael-cart-coupon-and-collaterals .cart-collaterals .cart_totals {
  padding-bottom: 30px;
}
.eael-woo-cart .eael-woo-cart-wrapper.eael-woo-style-2 .eael-cart-coupon-and-collaterals .cart-collaterals .cart_totals table {
  border-spacing: initial;
  border-collapse: collapse;
}
.eael-woo-cart .eael-woo-cart-wrapper.eael-woo-style-2 .eael-cart-coupon-and-collaterals .cart-collaterals .cart_totals table tr {
  border-bottom: 1px solid #EFF2F7;
}
.eael-woo-cart .eael-woo-cart-wrapper.eael-woo-style-2 .eael-cart-coupon-and-collaterals .cart-collaterals .cart_totals table tr:last-child {
  border-bottom: none;
}
.eael-woo-cart .eael-woo-cart-wrapper.eael-woo-style-2 .eael-cart-coupon-and-collaterals .cart-collaterals .cart_totals table tr::after {
  content: none;
}
.eael-woo-cart .eael-woo-cart-wrapper.eael-woo-style-2 .eael-cart-coupon-and-collaterals .cart-collaterals .cart_totals table tr th,
.eael-woo-cart .eael-woo-cart-wrapper.eael-woo-style-2 .eael-cart-coupon-and-collaterals .cart-collaterals .cart_totals table tr td {
  padding: 20px 0;
}
.eael-woo-cart .eael-woo-cart-wrapper.eael-woo-style-2:not(.has-table-left-content) form.eael-woo-cart-form .eael-woo-cart-table .eael-woo-cart-tr .eael-woo-cart-tr-right {
  width: 100%;
}
.eael-woo-cart .eael-woo-cart-wrapper.eael-woo-style-2:not(.has-table-right-content) form.eael-woo-cart-form .eael-woo-cart-table .eael-woo-cart-tr .eael-woo-cart-tr-left {
  width: 100%;
}
