.eael-product-price-edit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}
.eael-product-price-edit .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  color: #434347;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
}
.eael-product-price-edit .price del {
  opacity: 0.5;
}
.eael-product-price-edit .price ins {
  text-decoration: none;
  font-weight: 600;
}
.eael-single-product-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.woocommerce:where(body:not(.woocommerce-uses-block-theme)) div.product .eael-single-product-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.woocommerce:where(body:not(.woocommerce-uses-block-theme)) div.product .eael-single-product-price p.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  color: #434347;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
}
.woocommerce:where(body:not(.woocommerce-uses-block-theme)) div.product .eael-single-product-price p.price del {
  opacity: 0.5;
}
.woocommerce:where(body:not(.woocommerce-uses-block-theme)) div.product .eael-single-product-price p.price ins {
  text-decoration: none;
  font-weight: 600;
}
