.eael-single-product-description ul {
  list-style: inherit;
  -webkit-padding-start: 40px;
          padding-inline-start: 40px;
}
.eael-single-product-description ol {
  list-style: auto;
  -webkit-padding-start: 40px;
          padding-inline-start: 40px;
}
.eael-single-product-description p:last-child {
  margin-bottom: 0;
}
.eael-single-product-description > *:last-child {
  margin-bottom: 0;
}
