/* Woo Product Compare */
.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}
.eael-wcpc-wrapper {
  --h-bg: #2d1e87;
  --h-text-clr: #fff;
  --h-border-clr: #b6aaff;
  --text-clr: #707070;
  --text-bold-clr: #252525;
}
.eael-wcpc-wrapper table {
  border-collapse: collapse;
  border-spacing: 0;
}
.eael-wcpc-wrapper table th {
  color: var(--text-bold-clr);
  font-weight: normal;
  max-width: 300px;
}
.eael-wcpc-wrapper table td {
  color: var(--text-clr);
}
.eael-wcpc-wrapper table th, .eael-wcpc-wrapper table td {
  padding: 20px;
  border: 1px solid var(--h-border-clr);
}
.eael-wcpc-wrapper table th {
  border-left-width: 2px;
}
.eael-wcpc-wrapper table th.first-th {
  border: 0;
}
.eael-wcpc-wrapper tbody tr:nth-child(2) {
  background: var(--h-bg);
  color: var(--h-text-clr);
}
.eael-wcpc-wrapper tbody tr:nth-child(2) th, .eael-wcpc-wrapper tbody tr:nth-child(2) td {
  font-size: 20px;
  color: inherit;
  border: none;
  border-left: 1px solid var(--h-border-clr);
  border-right: 1px solid var(--h-border-clr);
}
.eael-wcpc-wrapper tbody tr.image td {
  padding: 50px;
  background: #6b55ec;
  border: none;
  border-left: 1px solid var(--h-border-clr);
  border-right: 1px solid var(--h-border-clr);
}
