.eael-product-list-wrapper.preset-1 .eael-product-list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 60px;
}
.eael-product-list-wrapper.preset-1 .eael-product-list-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.eael-product-list-wrapper.preset-1 .eael-product-list-image-wrap {
  text-align: center;
  min-width: 30%;
  position: relative;
}
.eael-product-list-wrapper.preset-1 .eael-product-list-image-wrap .eael-product-list-sale-badge {
  height: 100px;
  width: 100px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: -30px;
  left: 0;
}
.eael-product-list-wrapper.preset-1 .eael-product-list-image-wrap .eael-product-list-sale-badge .eael-product-list-sale-badge-bg {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.eael-product-list-wrapper.preset-1 .eael-product-list-image-wrap .eael-product-list-sale-badge .eael-product-list-sale-badge-bg svg path {
  fill: #DBEC73;
}
.eael-product-list-wrapper.preset-1 .eael-product-list-image-wrap .eael-product-list-sale-badge p {
  color: #292929;
  font-family: Sora;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  text-transform: capitalize;
  text-align: center;
  margin: 0;
  position: relative;
  z-index: 1;
}
.eael-product-list-wrapper.preset-1 .eael-product-list-image-wrap .eael-product-list-sale-badge p span {
  font-size: 21px;
  font-weight: 600;
  display: block;
}
.eael-product-list-wrapper.preset-1 .eael-product-list-image-wrap a {
  display: inline-block;
}
.eael-product-list-wrapper.preset-1 .eael-product-list-image-wrap a img {
  max-width: 100%;
  width: 100%;
  max-height: 300px;
  -o-object-fit: contain;
     object-fit: contain;
}
.eael-product-list-wrapper.preset-1 .eael-product-list-image-wrap .eael-product-list-links {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: translateY(50px);
      -ms-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.eael-product-list-wrapper.preset-1 .eael-product-list-image-wrap .eael-product-list-links li {
  display: inline-block;
  padding: 0 4px;
}
.eael-product-list-wrapper.preset-1 .eael-product-list-image-wrap .eael-product-list-links li a {
  background: #fff;
  color: #343434;
  font-size: 20px;
  padding: 10px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.eael-product-list-wrapper.preset-1 .eael-product-list-image-wrap .eael-product-list-links li a:hover {
  color: #758F4D;
}
.eael-product-list-wrapper.preset-1 .eael-product-list-image-wrap:hover .eael-product-list-links {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
.eael-product-list-wrapper.preset-1 .eael-product-list-details-wrap {
  width: 70%;
  padding-left: 70px;
}
.eael-product-list-wrapper.preset-1 .eael-product-list-details-wrap .eael-product-list-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 16px;
}
.eael-product-list-wrapper.preset-1 .eael-product-list-details-wrap .eael-product-list-rating .eael-product-list-rating-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.eael-product-list-wrapper.preset-1 .eael-product-list-details-wrap .eael-product-list-rating .eael-product-list-rating-list li {
  display: inline-block;
  color: #FF9900;
  font-size: 17px;
}
.eael-product-list-wrapper.preset-1 .eael-product-list-details-wrap .eael-product-list-rating .eael-product-list-rating-list li.eael-product-list-rating-count {
  color: #5F6368;
  font-family: Sora;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.3;
}
.eael-product-list-wrapper.preset-1 .eael-product-list-details-wrap .eael-product-list-notice p {
  color: #515151;
  font-family: Sora;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
}
.eael-product-list-wrapper.preset-1 .eael-product-list-details-wrap .eael-product-list-notice p i {
  color: #758F4D;
  margin-right: 4px;
}
.eael-product-list-wrapper.preset-1 .eael-product-list-details-wrap .eael-product-list-notice.eael-product-list-notice-shiping-free p {
  color: #758F4D;
}
.eael-product-list-wrapper.preset-1 .eael-product-list-details-wrap .eael-product-list-details .eael-product-list-title {
  margin-bottom: 15px;
}
.eael-product-list-wrapper.preset-1 .eael-product-list-details-wrap .eael-product-list-details .eael-product-list-title,
.eael-product-list-wrapper.preset-1 .eael-product-list-details-wrap .eael-product-list-details .eael-product-list-title a {
  color: #343434;
  font-family: Sora;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  text-transform: capitalize;
  text-decoration: none;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.eael-product-list-wrapper.preset-1 .eael-product-list-details-wrap .eael-product-list-details .eael-product-list-title a:hover {
  color: #758F4D;
}
.eael-product-list-wrapper.preset-1 .eael-product-list-details-wrap .eael-product-list-details .eael-product-list-rating-count {
  color: #878A8D;
  font-family: Sora;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 15px;
}
.eael-product-list-wrapper.preset-1 .eael-product-list-details-wrap .eael-product-list-details .eael-product-list-rating-count i {
  color: #FF9900;
  font-size: 18px;
}
.eael-product-list-wrapper.preset-1 .eael-product-list-details-wrap .eael-product-list-details .eael-product-list-rating-count .rating {
  color: #5F6368;
  font-weight: 500;
}
.eael-product-list-wrapper.preset-1 .eael-product-list-details-wrap .eael-product-list-details .eael-product-list-features-list {
  padding: 0 0 0 18px;
  margin: 0 0 20px;
}
.eael-product-list-wrapper.preset-1 .eael-product-list-details-wrap .eael-product-list-details .eael-product-list-features-list li {
  color: #5F6368;
  font-family: Sora;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
}
.eael-product-list-wrapper.preset-1 .eael-product-list-details-wrap .eael-product-list-details .eael-product-list-features-list li:not(:last-child) {
  margin-bottom: 8px;
}
.eael-product-list-wrapper.preset-1 .eael-product-list-details-wrap .eael-product-list-details .eael-product-list-features {
  color: #5F6368;
  font-family: Sora;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  margin: 0 0 20px;
}
.eael-product-list-wrapper.preset-1 .eael-product-list-details-wrap .eael-product-list-details .eael-product-list-progress {
  margin-bottom: 30px;
}
.eael-product-list-wrapper.preset-1 .eael-product-list-details-wrap .eael-product-list-details .eael-product-list-progress .eael-product-list-progress-count {
  color: #343434;
  font-family: Sora;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4;
  margin: 0;
}
.eael-product-list-wrapper.preset-1 .eael-product-list-details-wrap .eael-product-list-details .eael-product-list-progress .eael-product-list-progress-bar-outer {
  width: 150px;
  height: 3px;
  background: #D9D9D9;
  border-radius: 100px;
}
.eael-product-list-wrapper.preset-1 .eael-product-list-details-wrap .eael-product-list-details .eael-product-list-progress .eael-product-list-progress-bar-outer .eael-product-list-progress-bar-inner {
  height: 3px;
  background: #758F4D;
  border-radius: 100px;
}
.eael-product-list-wrapper.preset-1 .eael-product-list-details-wrap .eael-product-list-details .eael-product-list-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 30px;
}
.eael-product-list-wrapper.preset-1 .eael-product-list-details-wrap .eael-product-list-details .eael-product-list-price .eael-product-list-sale-price {
  color: #343434;
  font-family: Sora;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
  margin-right: 16px;
}
.eael-product-list-wrapper.preset-1 .eael-product-list-details-wrap .eael-product-list-details .eael-product-list-price .eael-product-list-main-price {
  color: #757C86;
  font-family: Sora;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  -webkit-text-decoration-line: strikethrough;
          text-decoration-line: strikethrough;
}
.eael-product-list-wrapper.preset-1 .eael-product-list-details-wrap .eael-product-list-details .eael-product-list-buttons a {
  display: inline-block;
}
.eael-product-list-wrapper.preset-1 .eael-product-list-details-wrap .eael-product-list-details .eael-product-list-buttons .eael-product-list-action-cart {
  color: #FFF;
  font-family: Sora;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
  text-decoration: none;
  padding: 12px 16px;
  background: #758F4D;
  border-radius: 8px;
  margin: 0 15px 0 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.eael-product-list-wrapper.preset-1 .eael-product-list-details-wrap .eael-product-list-details .eael-product-list-buttons .eael-product-list-action-cart i {
  margin-right: 6px;
}
.eael-product-list-wrapper.preset-1 .eael-product-list-details-wrap .eael-product-list-details .eael-product-list-buttons .eael-product-list-action-cart:hover {
  background: #000;
}
.eael-product-list-wrapper.preset-1 .eael-product-list-details-wrap .eael-product-list-details .eael-product-list-buttons .eael-product-list-action-view {
  color: #515151;
  font-family: Sora;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.eael-product-list-wrapper.preset-1 .eael-product-list-details-wrap .eael-product-list-details .eael-product-list-buttons .eael-product-list-action-view:hover {
  color: #758F4D;
}
