.woocommerce div.product .eael-single-product-add-to-cart form.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
}
.woocommerce div.product .eael-single-product-add-to-cart form.cart .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
.eael-add-to-cart--layout-column.eael-add-to-cart--align-flex-start .cart {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.eael-add-to-cart--layout-column.eael-add-to-cart--align-center .cart {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.eael-add-to-cart--layout-column.eael-add-to-cart--align-end .cart {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.eael-add-to-cart--align-flex-start form.cart:not(.grouped_form):not(.variations_form),
.eael-add-to-cart--align-flex-start form.cart.variations_form .woocommerce-variation-add-to-cart {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.eael-add-to-cart--align-center form.cart:not(.grouped_form):not(.variations_form),
.eael-add-to-cart--align-center form.cart.variations_form .woocommerce-variation-add-to-cart {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.eael-add-to-cart--align-end form.cart:not(.grouped_form):not(.variations_form),
.eael-add-to-cart--align-end form.cart.variations_form .woocommerce-variation-add-to-cart {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
