.eael-single-product-images .product_image_slider {
  width: 100%;
  max-width: 620px;
}
.eael-single-product-images .product_image_slider__thumbs {
  width: 100%;
  padding: 0;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.eael-single-product-images .product_image_slider__thumbs__image {
  width: 100%;
  height: auto;
}
.eael-single-product-images .product_image_slider__thumbs .swiper-slide {
  width: 100px;
  height: 100px;
  text-align: center;
  overflow: hidden;
  opacity: 0.5;
}
.eael-single-product-images .product_image_slider__thumbs .swiper-slide-thumb-active {
  opacity: 1;
}
.eael-single-product-images .product_image_slider__thumbs .swiper-slide img {
  width: auto;
  height: 100%;
}
.eael-single-product-images .product_image_slider__prev {
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  height: 100%;
  position: absolute;
  z-index: 2;
  padding: 3px;
  background-color: #979a9e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 0;
}
.eael-single-product-images .product_image_slider__prev svg {
  width: 20px;
}
.eael-single-product-images .product_image_slider__next {
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  height: 100%;
  position: absolute;
  z-index: 2;
  padding: 3px;
  background-color: #979a9e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 0;
}
.eael-single-product-images .product_image_slider__next svg {
  width: 20px;
}
.eael-single-product-images .product_image_slider__container {
  width: 100%;
  height: auto;
  margin: 0 0 10px 0;
}
.eael-single-product-images .product_image_slider__container .swiper-slide {
  width: auto;
  height: 400px;
}
.eael-single-product-images .product_image_slider__container .swiper-slide .image_slider__image {
  width: 100%;
  height: 100%;
}
.eael-single-product-images .product_image_slider__container .swiper-slide img {
  display: block;
  width: auto;
  height: 100%;
  margin: 0 auto;
}
