.eael-single-product-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.eael-single-product-price .price-icon svg {
  height: 40px;
  width: 40px;
}
.eael-single-product-price .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.eael-single-product-price .price ins {
  text-decoration: none;
}
