.woocommerce div.product .eael-single-product-rating .woocommerce-product-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
  gap: 8px;
  line-height: 0;
}
.woocommerce div.product .eael-single-product-rating .woocommerce-product-rating .star-rating {
  margin: 0;
}
.eael-product-rating--align-left .woocommerce-product-rating {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.eael-product-rating--align-center .woocommerce-product-rating {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.eael-product-rating--align-right .woocommerce-product-rating {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.eael-single-product-rating .woocommerce-product-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
  gap: 8px;
  line-height: 0;
}
.eael-single-product-rating .woocommerce-product-rating .eael-product-rating-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
}
.eael-single-product-rating .woocommerce-product-rating .eael-product-rating-wrap .eael-product-rating {
  line-height: 0;
}
.eael-single-product-rating .woocommerce-product-rating .eael-product-rating-wrap .eael-product-rating.filled svg {
  fill: #434347;
}
.eael-single-product-rating .woocommerce-product-rating .eael-product-rating-wrap .eael-product-rating svg {
  height: 20px;
  width: 20px;
  fill: #bdbdbd;
}
.eael-single-product-rating .woocommerce-review-link {
  color: #434347;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}
