/*--------------------------------*/
/* 11. Contact Form 7 Styles
/*--------------------------------*/
.eael-contact-form.eael-contact-form-align-center,
.eael-contact-form-7.eael-contact-form-btn-align-center input.wpcf7-submit {
  margin-left: auto !important;
  margin-right: auto !important;
  display: block;
  float: none;
}

.eael-contact-form.eael-contact-form-align-left,
.eael-contact-form-7.eael-contact-form-btn-align-left input.wpcf7-submit {
  float: left;
  width: auto;
}

.eael-contact-form.eael-contact-form-align-right,
.eael-contact-form-7.eael-contact-form-btn-align-right input.wpcf7-submit {
  float: right;
  width: auto;
}

.eael-contact-form-7 textarea,
.eael-contact-form-7 input[type="text"],
.eael-contact-form-7 input[type="password"],
.eael-contact-form-7 input[type="datetime"],
.eael-contact-form-7 input[type="datetime-local"],
.eael-contact-form-7 input[type="date"],
.eael-contact-form-7 input[type="month"],
.eael-contact-form-7 input[type="time"],
.eael-contact-form-7 input[type="week"],
.eael-contact-form-7 input[type="number"],
.eael-contact-form-7 input[type="email"],
.eael-contact-form-7 input[type="url"],
.eael-contact-form-7 input[type="search"],
.eael-contact-form-7 input[type="tel"],
.eael-contact-form-7 input[type="color"],
.eael-contact-form-7 .uneditable-input {
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-transition: border linear 0.2s, -webkit-box-shadow linear 0.2s;
  transition: border linear 0.2s, -webkit-box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s, -webkit-box-shadow linear 0.2s;
}

.eael-contact-form-7 .wpcf7-form::before,
.eael-contact-form-7 .wpcf7-form::after {
  content: " ";
  clear: both;
  display: table;
}

.eael-contact-form-7 .wpcf7-form:after {
  clear: both;
  content: "";
  font-size: 0;
  height: 0;
  display: block;
  visibility: hidden;
}

.eael-contact-form-7 .wpcf7-form label,
.eael-contact-form-7 .wpcf7-form .wpcf7-form-control-wrap {
  display: block;
}

.eael-contact-form-7 .wpcf7-form p {
  margin-bottom: 0;
}

.eael-contact-form-7.labels-hide .wpcf7-form label {
  display: none;
}

.eael-contact-form-7-title {
  margin-bottom: 10px;
}

.eael-contact-form-7-description {
  margin-bottom: 20px;
}

.eael-contact-form-7-button-full-width .wpcf7-form-control.wpcf7-submit {
  width: 100%;
}

.eael-contact-form-7-wrapper .eael-contact-form-align-center form {
  margin: 0 auto;
}
