/**
 *=============================================================
 * Essential Addons Elementor Admin Settings Page Styles
 *=============================================================
 */

/* General Style */
.eael-settings-wrap {
    padding: 15px;
}

.eael-header-bar {
    height: auto;
    padding: 10px;
    background: #fff;
    -webkit-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 5px;
    -webkit-box-shadow: 0px 8px 21px 0px rgba(36, 39, 50, 0.08);
    box-shadow: 0px 8px 21px 0px rgba(36, 39, 50, 0.08);
}

.eael-settings-wrap .eael-header-left {
    display: flex;
    align-content: center;
    align-items: center;
}
.eael-header-bar .eael-admin-logo-inline {
    width: 40px;
    padding: 5px 15px;
    margin-right: 25px;
}
.eael-header-bar .eael-admin-logo-inline img {
    width: 100%;
}
.eael-header-bar .title {
    font-size: 22px;
    color: #3f3f3f;
    font-weight: 500;
    margin: 0px;
    line-height: 2.5;
}

.eael-header-left,
.eael-header-right {
    -webkit-flex-grow: 1;
    flex-grow: 1;
}
.eael-header-right {
    text-align: right;
}
.eael-settings-tabs {
    padding-top: 10px;
}

.eael-settings-tab h4 {
    font-size: 22px;
}

.eael-settings-tab p {
    font-size: 13px;
    color: #707070;
    margin: 0px 0 20px 0;
    line-height: 21px;
}

.eael-settings-tabs ul {
    width: 100%;
    height: auto;
    margin: 25px 0px 0px 0px;
}

.eael-settings-tabs ul li {
    display: inline-block;
    margin-bottom: 0;
}

.eael-settings-tabs ul li a {
    padding: 19px 22px;
    background: #f8fafb;
    color: #252525;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    margin-right: 5px;
    display: block;
    border-radius: 4px 4px 0 0;
}

.eael-settings-tabs ul li a img {
    opacity: 0.6;
}

.eael-settings-tabs ul li a.active img {
    opacity: 1;
}

.eael-settings-tabs ul li a:focus {
    outline: none;
    box-shadow: none;
}
.eael-settings-tabs ul li a img {
    width: 18px;
    margin: 0 15px -3px 0;
}
.eael-settings-tab {
    background: #fff;
    padding: 15px 25px;
    border-top: none;
    position: relative;
}
.eael-settings-tabs ul li.ui-tabs-active a {
    background: #fff;
    outline: none;
    box-shadow: none;
    color: #343434;
}
p.eael-el-title {
    font-size: 15px;
    font-weight: 600;
    color: #333;
    margin: 0.5em;
}
.eael-settings-tab p.eael-elements-control-notice {
    color: #444;
    font-size: 16px;
    font-style: italic;
    padding: 10px;
}
.eael-form-control {
    width: 100%;
}
textarea.eael-form-control {
    padding: 15px;
    font-size: 14px;
    font-weight: 600;
    color: #5d5d5d;
}
.row {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-start;
    padding: 15px 0px;
}
.col-full {
    width: 100%;
    height: auto;
}
.col-half {
    width: 49%;
    height: auto;
}
.col-one-third {
    width: 32%;
    height: auto;
}

/* Checkbox Style */
.eael-checkbox-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.eael-checkbox {
    display: flex;
    flex-basis: 330px;
    flex-flow: row-reverse;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    margin: 10px;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 18px 0px rgba(0, 4, 32, 0.08);
}

.eael-checkbox.checkbox-toggle-all {
    border-radius: 100px;
    padding: 12px 25px;
    flex-basis: 270px;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.15);
}
.eael-checkbox input[type="checkbox"] {
    visibility: hidden;
    display: none;
}
.eael-checkbox label {
    width: 2em;
    height: 1em;
    position: relative;
    cursor: pointer;
    display: block;
}
.eael-checkbox label:before {
    content: "";
    position: absolute;
    width: 2em;
    height: 1em;
    left: 0.1em;
    transition: background 0.1s 0.1s ease;
    background: #cbcfd0;
    border: 1px solid #cbcfd0;
    border-radius: 50px;
}
.eael-checkbox label:after {
    content: "";
    position: absolute;
    width: 0.8em;
    height: 0.8em;
    border-radius: 100%;
    left: 0.2em;
    top: 0.14em;
    transition: all 0.2s ease;
    box-shadow: 0 0 0 5px #fcfff4 inset;
    background: #cbcfd0;
    z-index: 2;
    animation: switch-off 0.3s ease-out;
}
.eael-checkbox input[type="checkbox"]:checked + label::before {
    background: #2ddaa3;
    border: 1px solid #2ddaa3;
}
.eael-checkbox input[type="checkbox"]:checked + label::after {
    left: 1.2em;
    background: #ffffff;
    animation: switch-on 0.3s ease-out;
}

@keyframes switch-on {
    50% {
        transform: scaleX(1.3);
    }
}

@keyframes switch-off {
    50% {
        transform: scaleX(1.3);
    }
}

/* Eael Tab Toggles */
.eael-settings-tab {
    display: none;
}
.eael-settings-tab.active {
    display: block;
}
.eael-tabs li a.active {
    background-color: #fff;
    color: #724fb6;
}

/* Footer Style */
.eael-settings-footer {
    padding: 20px 25px 15px 25px;
    background: #fff;
    margin-top: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.eael-settings-footer .submit {
    padding: 0px;
}
.eael-settings-footer p.submit {
    margin-top: 0px;
}

.eael-settings-tab img {
    max-width: 100%;
}
.button.eael-btn {
    background-color: #0099cc;
    color: #fff;
    padding: 6px 20px;
    border: none;
    box-shadow: none;
    font-size: 14px;
    height: auto;
    text-transform: uppercase;
    text-shadow: none;
    letter-spacing: 0.05em;
}

.button.eael-btn:hover,
.button.eael-btn:focus {
    background-color: #1e96f1;
    color: #fff;
}

.eael-save-btn-wrap {
    margin: 30px 0 20px;
}

.eael-save-btn-wrap .eael-btn {
    background-color: #3ccd94;
    color: #fff;
    padding: 10px 20px;
}
.eael-save-btn-wrap .eael-btn:hover,
.eael-save-btn-wrap .eael-btn:focus {
    background-color: #02cc7b;
    color: #fff;
}

.eael-btn.eael-demo-btn {
    background-color: #42418e;
    color: #fff;
}
.eael-btn.eael-demo-btn:hover,
.eael-btn.eael-demo-btn:focus {
    background-color: #ff0188;
    color: #fff;
}

.eael-btn.eael-license-btn {
    background-color: #0dc9c3;
}
.eael-btn.eael-license-btn:hover,
.eael-btn.eael-license-btn:focus {
    background-color: #08d1ca;
}
.eael-btn.eael-demo-btn,
.eael-btn.eael-license-btn,
.eael-btn.eael-review-btn {
    padding: 10px;
    display: block;
    max-width: 250px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 13px;
}
#eael-spinner {
    width: 18px;
    display: inline-block;
    float: left;
    margin: 3px 5px 0 0;

    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1.2s;
    -webkit-animation-name: rotate;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;

    -moz-transition-property: -moz-transform;
    -moz-animation-name: rotate;
    -moz-animation-duration: 1.2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;

    transition-property: transform;
    animation-name: rotate;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes rotate {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.premium-elements-title {
    margin: 50px 0 30px;
}

.premium-elements-title img {
    width: 75px;
    float: left;
}

.premium-elements-title .section-title {
    color: #157efb;
    margin: 35px 5px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px;
    border-bottom: 6px double #157efb;
    padding-bottom: 10px;
    display: inline-block;
}

.go-premium .eael-btn.eael-license-btn {
    background: linear-gradient(-30deg, #4d18ff, #9a7cff);
    margin-top: 30px;
    transition: all 0.3s ease;
}
.go-premium .eael-btn.eael-license-btn:hover {
    opacity: 0.85;
}

.go-premium img {
    width: 100%;
    max-width: 400px;
    display: block;
    float: right;
}
.eael-notice {
    background-color: #f7f6d4;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
    max-width: 90%;
    color: #9a7223;
}

.eael-notice h5 {
    font-size: 1.2em;
    font-weight: bold;
}

.essential-addons-community-link {
    background-color: #475a96;
    margin: 15px 0;
    display: inline-block;
    border-radius: 3px;
}

.essential-addons-community-link:hover {
    background-color: #3351b2;
}

.essential-addons-community-link a {
    color: #fff;
    text-decoration: none;
    padding: 15px 20px;
    font-size: 1.4em;
    display: flex;
    align-items: center;
    align-content: center;
}

.eael-elements-list h4 {
    font-size: 20px;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: #724fb6;
    margin: 2em 10px 1em;
    font-weight: 500;
}

/* Header Button */
.eael-header-bar .eael-btn,
.eael-save-btn-wrap .eael-btn {
    border-radius: 3px;
    background-image: -moz-linear-gradient(
        -169deg,
        rgb(146, 113, 255) 0%,
        rgb(87, 37, 255) 100%
    );
    background-image: -webkit-linear-gradient(
        -169deg,
        rgb(146, 113, 255) 0%,
        rgb(87, 37, 255) 100%
    );
    background-image: -ms-linear-gradient(
        -169deg,
        rgb(146, 113, 255) 0%,
        rgb(87, 37, 255) 100%
    );
    width: 160px;
    height: 50px;
    transition: all 300ms ease-in-out;
}
.eael-header-bar .eael-btn:hover,
.eael-header-bar .eael-btn:focus {
    background-color: #02cc7b;
}
.eael-save-btn-wrap .eael-btn.save-now,
.eael-header-bar .eael-btn.save-now,
.eael-fb-feed-btn.save-now {
    background: #e74c3c;
}
.eael-save-btn-wrap .eael-btn.save-now:hover,
.eael-header-bar .eael-btn.save-now:hover,
.eael-fb-feed-btn.save-now:hover {
    background: #ff5544;
}

.eael-admin-block-content .ea-button {
    font-size: 13px;
    border-radius: 3px;
    background-image: -webkit-linear-gradient(
        -169deg,
        rgb(146, 113, 255) 0%,
        rgb(87, 37, 255) 100%
    );
    background-image: -ms-linear-gradient(
        -169deg,
        rgb(146, 113, 255) 0%,
        rgb(87, 37, 255) 100%
    );
    -webkit-box-shadow: 0px 14px 15px 0px rgba(0, 5, 41, 0.08);
    box-shadow: 0px 14px 15px 0px rgba(0, 5, 41, 0.08);
    box-shadow: 0px 14px 15px 0px rgba(0, 5, 41, 0.08);
    color: #fff;
    display: inline-block;
    padding: 12px 22px 14px;
    text-decoration: none;
    line-height: 1;
    transition: all 0.3s;
}

.ea-button:hover {
    opacity: 0.85;
}

/* Admin Blocks */
.eael-admin-general-wrapper {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
}
.eael-admin-general-wrapper .eael-admin-general-inner {
    max-width: 70em;
    height: auto;
    flex: 1 1 70%;
}
.eael-admin-general-wrapper .eael-sidebar {
    flex: 1 1 200px;
    padding: 20px;
}
.eael-admin-block-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: -10px;
}

.eael-admin-block-wrapper .eael-admin-block {
    background-color: #fff;
    flex: 1 1 auto;
    min-width: 250px;
    width: 300px;
    margin: 10px 10px 25px 10px;
    box-shadow: 0px 8px 38px 0px rgba(16, 16, 16, 0.07);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.eael-admin-block-large,
.eael-sidebar-widget {
    background: #fff;
    margin-bottom: 25px;
    padding: 1em;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}
.eael-admin-block-wrapper .eael-admin-block.eael-admin-block-banner {
    padding: 8px;
}
.eael-admin-block-header {
    display: flex;
    align-content: center;
    align-items: center;
    padding: 30px 0 0 25px;
}
.eael-admin-block-header-icon {
    height: 40px;
    width: 40px;
    background: #f3edff;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 50%;
}
.eael-admin-block-header-icon svg {
    /* width: 80%;
    display: block;
    margin: 0 auto; */
}
.eael-admin-block-review .eael-admin-block-header-icon svg {
    /* width: 100%; */
}
.eael-admin-block-support .eael-admin-block-header-icon {
    /* width: 30px; */
}
.eael-settings-tab .eael-admin-title {
    margin: 0.7em 0 1em;
    padding: 0 1.26582em;
    font-size: 15px;
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #333333;
}
.eael-admin-block-content {
    overflow: hidden;
    position: relative;
    padding: 1em 1.5em 1.5em;
    background-color: #fff;
    padding-left: 85px;
    padding-bottom: 30px;
    padding-top: 0px;
}

.eael-preview-img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    object-fit: cover;
    transition: all 0.3s;
}
.eael-preview-img:hover {
    opacity: 0.9;
}

.eael-admin-sidebar {
    flex: 1 1 200px;
    padding: 20px;
}
.eael-sidebar-block {
    margin: calc(10% + 1.5em) auto;
}
.eael-sidebar-block .eael-admin-sidebar-logo {
    max-width: 150px;
    display: block;
    margin: 0 auto;
}
.eael-sidebar-block .eael-admin-sidebar-logo > img,
.eael-sidebar-block .eael-admin-sidebar-logo > svg {
    width: 100%;
    display: block;
    margin: 10px auto;
}
.eael-admin-sidebar-cta {
    text-align: center;
}

.eael-admin-sidebar-cta a {
    font-size: 16px;
    font-weight: 600;
    color: #333333;
    text-decoration: none;
    text-align: center;
    margin: 20px auto;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 0px 5px 23px 0px rgba(5, 9, 54, 0.12);
    background: #ffffff;
    padding: 15px 35px;
    outline: none;
    transition: all 0.3s;
}

/* Facebook Settings CSS */
#social-networks input {
    padding: 10px;
}
#eaelFBbtn,
#eaelFBbtnOwnApp {
    cursor: pointer;
    display: none;
    /* color: red; */
}

.page-list-with-access > ul {
    list-style: none;
}
.page-list-with-access > ul > li {
    display: block;
    cursor: pointer;
    padding: 5px 0px;
}
.eael-fb-own-app-settings {
    display: none;
}
.eael-fb-own-app-settings.eael-active,
#eaelFBbtn.eael-active,
#eaelFBbtnOwnApp.eael-active {
    display: block;
}

.warning {
    margin: 10px 0;
    padding: 10px;
    border-radius: 3px 3px 3px 3px;
    color: #d8000c;
    background-color: #ffbaba;
    overflow: hidden;
}

.warning > * {
    float: left;
}
#eael_plugins_versions {
    height: 36px;
}
.eael-notice-text {
    padding-left: 10px;
}
.eael-el-title {
    position: relative;
}
.eael-checkbox {
    overflow: hidden;
}

label.eael-get-pro + .eael-el-title {
    padding-left: 25px;
}

.pro-label {
    font-size: 11px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    position: absolute;
    top: -14px;
    left: -45px;
    width: 80px;
    background-image: -moz-linear-gradient(
        -122deg,
        rgb(146, 113, 255) 0%,
        rgb(87, 37, 255) 100%
    );
    background-image: -webkit-linear-gradient(
        -122deg,
        rgb(146, 113, 255) 0%,
        rgb(87, 37, 255) 100%
    );
    background-image: -ms-linear-gradient(
        -122deg,
        rgb(146, 113, 255) 0%,
        rgb(87, 37, 255) 100%
    );
    box-shadow: 0px 3px 7px 0px rgba(0, 5, 41, 0.1);
    color: #fff;
}
#toplevel_page_eael-settings.current .wp-menu-image img {
    opacity: 1;
}

.eael-admin-block-content a {
    color: #5725ff;
}

.elements-global-control-wrap {
    text-align: center;
}

.eael-checkbox-container.elements-global-control-wrap
    .eael-checkbox.checkbox-toggle-all {
    display: inline-block;
    margin: 0 auto;
}

.eael-checkbox-container.elements-global-control-wrap
    .eael-checkbox
    label:after {
    width: 1.8em;
    height: 1.8em;
}

.eael-checkbox-container.elements-global-control-wrap
    .eael-checkbox
    input[type="checkbox"]:checked
    + label::after {
    left: 2.2em;
}

.eael-checkbox-container.elements-global-control-wrap .eael-checkbox label,
.eael-checkbox-container.elements-global-control-wrap
    .eael-checkbox
    label:before {
    width: 100px;
    height: 2em;
}

.eael-checkbox-container.elements-global-control-wrap
    .eael-checkbox.checkbox-toggle-all {
    flex-basis: 150px;
    padding: 10px 20px 5px;
}

.elements-global-control-wrap h4 {
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    color: #333333;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.elements-controls-wrap.elements-global-control-wrap p {
    font-size: 14px;
    color: #707070;
}

button.eael-btn.eael-global-control-enable {
    background: #0099cc;
}

button.eael-btn.eael-global-control-disable {
    background: #dc4444;
}

.eael-btn-group button {
    border: 0px solid;
    color: #fff;
    padding: 13px 25px;
    border-radius: 3px;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 0 3px;
    cursor: pointer;
    transition: 300ms;
}

button.eael-btn.eael-global-control-enable:hover {
    background: #46c1ea;
}

button.eael-btn.eael-global-control-disable:hover {
    background: #d01111;
}
