#eael-eb-button {
    background: #2673FF;
}

#eael-eb-button img {
    margin-right: 5px;
}

.eael-gb-eb-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 312px;
    height: 80vh;
    max-height: 575px;
    background: #fff;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .25);
    overflow: hidden;
    transform: translate(-50%, -50%);
    border-radius: 3px;
}

.eael-gb-eb-popup img {
    max-width: 100%;
    display: block;
}

.eael-gb-eb-popup .eael-gb-eb-popup-content {
    height: 100%;
    overflow: auto;
}

.eael-gb-eb-popup .eael-gb-eb-header {
    position: absolute;
    top: 5px;
    right: 5px;
}

.eael-gb-eb-popup .eael-gb-eb-header img {
    cursor: pointer;
}

.eael-gb-eb-popup .eael-gb-eb-content-image {
    background: linear-gradient(206.26deg, #A181F7 -16.35%, #1C3AA7 102.55%);
    display: flex;
    align-items: center;
    height: 240px;
    padding: 0 35px;
}

.eael-gb-eb-popup .eael-gb-eb-content-pagination {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.eael-gb-eb-popup .eael-gb-eb-content-pagination span {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #2673FF;
    cursor: pointer;
    opacity: .4;
    margin: 0 5px;
}

.eael-gb-eb-popup .eael-gb-eb-content-pagination span.active {
    opacity: 1;
}

.eael-gb-eb-popup .eael-gb-eb-content-info {
    padding: 0 32px;
}

.eael-gb-eb-popup .eael-gb-eb-content-info h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.4;
}

.eael-gb-eb-popup .eael-gb-eb-content-info p {
    font-size: 13px;
    line-height: 1.4;
}