.elementor-add-new-section {
	background-color: #5d4fff;
	background-image: url(../admin/images/templately/logo-icon.svg);
	background-repeat: no-repeat;
	background-position: center center;
	margin-left: 5px;
}
