.elementor-add-new-section .elementor-add-templately-promo-button{
	background-color: red;
	background-image: url(../images/templately/logo-icon.svg);
	background-repeat: no-repeat;
	background-position: center center;
	margin-left: 5px;
}


