html {
    scroll-behavior: smooth;
}
.eael-toc {
    position: fixed;
    z-index: 9999;
    width: 300px!important;
    top:30%;

    &.eael-toc-disable {
        display: none;
    }
    &.eael-sticky {
        position: fixed;
        top: 50px;
        background: none;
    }
    &.expanded {
        width: unset !important;
        .eael-toc-header,
        .eael-toc-body,
        .eael-toc-close  {
            display: none;
        }
        .eael-toc-button {
            display: inline-block;
            transform: translate(21px,1px) rotate(90deg);
            background: #ff7d50;
            color: #fff;
            font-weight: 400;
            text-align: center;
            cursor: pointer;
            padding: 10px 20px;
            border-radius: 3px;
            text-decoration: none;
            text-transform: none;
            transform-origin: left;
            i {
                margin-right: 10px;
                transform: rotate(-90deg);
            }
        }
    }

    .eael-toc-header {
        background: #ff7d50;
        padding: 12px 32px;
        .eael-toc-title {
            font-size: 18px;
            margin: 0;
            color: #fff;
            font-weight: 400;
            letter-spacing: 0.1px;
            &:before{
                content: none;
            }
        }
    }
    .eael-toc-body {
        padding: 12px 20px;
        background: #fff6f3;
        //overflow-y: auto;
        min-height: 20vh;
        ul.eael-toc-list {
            margin-left: -5px;
            margin-bottom: 0;
            margin-top: 0;
            padding-left: 0;
            > li {

                padding: 8px 0;
                border-top: .5px dashed #c6c4cf;
                list-style-position: inside !important;
                color: #c6c4cf;
                //style 1
                &:before{
                    content: '\00b7';
                    font-size: 50px;
                    line-height: 0;
                    vertical-align: middle;
                    margin-right: 5px;
                    margin-left: -5px;
                    font-weight: 600;
                    bottom: 3px;
                    position: relative;
                }
                > ul {
                    display: none;
                    margin-left: 25px !important;
                    margin-top: 5px !important;
                }
                ul {
                    margin: 0;
                    padding: 0;
                    li{
                        margin: 5px 0;
                    }
                }
                &:first-child{
                    border: none;
                }
                &.active ul{
                    display: block;
                }
            }

            li {
                font-size: 15px;
                list-style: none;
                margin: 0 20px 0 20px;

                &.active{
                    color: #ff7d50;
                    > a {
                        color: #ff7d50;
                    }
                }
                &.eael-highlight {
                    color: #ff7d50;
                    > a {
                        color: #ff7d50;
                    }
                    > ul {
                        display: block;
                    }

                }
                a {
                    text-decoration: none;
                    color: #707070;
                }
            }
            &.eael-toc-list-style_2,
            &.eael-toc-list-style_3 {
                > li {
                    &:before {
                        content: " ";
                    }
                }
            }
            &.eael-toc-list-style_2 {
                li {
                    &.active {
                        > a {
                            &:before {
                                position: absolute;
                                left: 0;
                                font-size: 15px;
                                z-index: 999999;
                                border-bottom: 10px solid #ff7d50;
                                border-left: 5px solid transparent;
                                border-right: 5px solid transparent;
                                -webkit-transform: rotate(90deg);
                                transform: rotate(90deg);
                                content: " ";
                                margin-top: 5px;
                            }
                        }
                    }
                }
            }

            &.eael-toc-list-style_3 {
                li {
                    &.active {
                        > a {
                            &:after{
                                position: absolute;
                                font-size: 15px;
                                z-index: 999999;
                                content: " ";
                                margin-top: -6px;
                                right: 0;
                                background: #ff7d50;
                                height: 31px;
                                width: 2px;
                            }
                        }
                    }
                }
            }
            &.eael-toc-collapse > li > ul {
                display: block !important;
            }

            &.eael-toc-number {
                li{
                    counter-increment: item;
                    &:before {
                        position: relative!important;
                        left: 3px;
                        content: counters(item,".")". ";
                        font-size: 16px;
                    }
                }
                > li {
                    ul {
                        counter-reset: item;
                    }
                }
            }
            &.eael-toc-word-wrap {
                li {
                    white-space: nowrap;
                    overflow: hidden;
                    -o-text-overflow: ellipsis;
                    text-overflow: ellipsis;
                }
            }
        }

    }
    .eael-toc-close {
        position: absolute;
        width: 29px;
        height: 29px;
        background: #fff;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
        right: -9px;
        top: -11px;
        line-height: 26px;
        text-align: center;
        border-radius: 20px;
        color: #ff7d50;
        font-weight: 500;
        cursor: pointer;
    }
    &.eael-toc-right {
        right: 0;
        &.expanded {
            width: inherit !important;
            &.eael-sticky {
                top:50%;
            }
        }
        .eael-toc-close  {
            left: -11px;
        }
        .eael-toc-button {
            transform: translate(-21px,100px) rotate(90deg);
            transform-origin: right;
        }
    }

    .eael-toc-button {
        display: none;
    }
}
//responsive

@media only screen and (max-width: 480px) {
    .eael-toc {
        .eael-toc-body {
            max-height: 40vh;
            overflow-y: auto;
        }
    }
}


