.eael-toc {
	position: absolute;
    z-index: 9999;
    background-color: #fff;
    padding-left: 20px;
    max-height: 70vh;
    overflow-y: scroll;
    width: 35vw !important;
    margin-left: 10px !important;
    padding-bottom: 20px;

    &.eael-sticky {
        position: fixed;
        top: 50px;
    }

    .eael-toc-header {
        .eael-toc-title {
            font-size: 18px;
        }
    }
    .eael-toc-body {
        ol {
            list-style-type: none;
            counter-reset: item;
            margin: 0;
        }
        .eael-toc-list {
            li {
                font-size: 15px;
                counter-increment: item;
                display: table;
                margin-left: 0;
                &:before {
                    content: counters(item, ".") ". ";
                    display: table-cell;
                    padding-right: 0.3em;
                }
            }
        }
    }
    .eael-toc-close {
        position: absolute;
        width: 29px;
        height: 29px;
        background: #d30c5c;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
        right: 0;
        top: 0px;
        line-height: 26px;
        text-align: center;
        z-index: 99999;
        border-radius: 20px;
        color: white;
        font-weight: 500;
        border: 1px solid black;
    }

}