.eael-sticky-video-wrapper {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
}

.eael-sticky-video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 0;
  line-height: 1;
}

.eael-sticky-video-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50%;
  cursor: pointer;
  text-align: center;
}

.eael-sticky-video-player img {
  display: block;
  width: 100%;
}

.owp-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.owp-play i {
  font-size: 100px;
  color: #fff;
  opacity: 0.8;
  text-shadow: 1px 0 6px rgba(0, 0, 0, 0.3);
  transition: all .5s;
}

.eael-sticky-video-player:hover .owp-play i {
  opacity: 1;
}
