<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="assets/style/style.css">
    <link href="assets/icons/style.css" rel="stylesheet">
    <link href="../Onboard/assets/icons/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
        rel="stylesheet">
    <title>General</title>
</head>

<body>
    <section id="ea__dashboard--wrapper" class="ea__dashboard--wrapper">
        <section class="ea__section-header">
            <div class="ea__section-wrapper ea__header-content">
                <img src="assets/images/logo.png" alt="logo">
                <span class="dark-icon pointer"><i class="ea-dash-icon ea-sun"></i></span>
            </div>
        </section>
        <section class="ea__section-wrapper ea__main-wrapper flex gap-4">
            <div class="ea__sidebar-nav-list">
                <div class="nav-sticky">
                    <div class="ea__sidebar-nav active">
                        <span class="ea__nav-icon">
                            <i class="ea-dash-icon ea-home"></i>
                        </span>
                        <span class="ea__nav-text">General</span>
                    </div>
                    <div class="ea__sidebar-nav">
                        <span class="ea__nav-icon">
                            <i class="ea-dash-icon ea-elements"></i>
                        </span>
                        <span class="ea__nav-text">Elements</span>
                    </div>
                    <div class="ea__sidebar-nav">
                        <span class="ea__nav-icon">
                            <i class="ea-dash-icon ea-extensions"></i>
                        </span>
                        <span class="ea__nav-text">Extensions</span>
                    </div>
                    <div class="ea__sidebar-nav">
                        <span class="ea__nav-icon">
                            <i class="ea-dash-icon ea-tool"></i>
                        </span>
                        <span class="ea__nav-text">Tools</span>
                    </div>
                    <div class="ea__sidebar-nav">
                        <span class="ea__nav-icon">
                            <i class="ea-dash-icon ea-plug"></i>
                        </span>
                        <span class="ea__nav-text">Integration</span>
                    </div>
                    <div class="ea__sidebar-nav">
                        <span class="ea__nav-icon">
                            <i class="ea-dash-icon ea-lock"></i>
                        </span>
                        <span class="ea__nav-text">Go Premium</span>
                    </div>
                </div>
                <div></div>
            </div>
            <div class="ea__main-content-wrapper flex gap-4">
                <div>
                    <div class="ea__general-content-item relative">
                        <div class="ea__unlock-license flex gap-4">
                            <div class="ea__others-icon eaicon-1">
                                <i class="ea-dash-icon ea-lock"></i>
                            </div>
                            <div class="max-w-454">
                                <h4>Unlock With Your License Key</h4>
                                <p>Enter your license key here, to activate BetterDocs Pro, and get automatic updates
                                    and premium support.</p>
                            </div>
                        </div>
                        <div class="ea__active-license flex gap-4">
                            <div class="ea__others-icon eaicon-active">
                                <i class="ea-dash-icon ea-lock"></i>
                            </div>
                            <div class="max-w-454">
                                <h4>Enjoy the pro features & Supports!</h4>
                                <p>You have already activated Essential Blocks Pro. You will able to update the plugin
                                    right from your WP dashboard.</p>
                                <span class="activated-btn"><i class="ea-dash-icon  ea-check"></i>Activated</span>
                            </div>
                        </div>
                        <div class="ea__license-wrapper">
                            <div class="ea__license-content">
                                <h5>
                                    How to get license key?
                                </h5>
                                <i class="ea-dash-icon ea-dropdown"></i>
                            </div>
                            <div class="ea__license-options-wrapper">
                                <div class="ea__license-step">
                                    <div class="ea__license-step-items flex items-center">
                                        <span class="step-count">1</span>
                                        <p>Log in to <span class="step-details-ex">your account</span> to get your
                                            license key.</p>
                                    </div>
                                    <div class="ea__license-step-items flex items-center">
                                        <span class="step-count">2</span>
                                        <p>If you don't yet have a license key, get <span
                                                class="step-details-ex">BetterDocs Pro</span>
                                            now.</p>
                                    </div>
                                    <div class="ea__license-step-items flex items-center">
                                        <span class="step-count">3</span>
                                        <p>Copy the license key from your account and paste it below.</p>
                                    </div>
                                    <div class="ea__license-step-items flex items-center">
                                        <span class="step-count">4</span>
                                        <p>Click on <span class="step-details-ex">"Activate License"</span> button.</p>
                                    </div>
                                </div>
                                <div class="ea__license-key">
                                    <div class="license-key-items flex items-center">
                                        <i class="ea-dash-icon  ea-key"></i>
                                        <input class="input-api" type="text"
                                            placeholder="Place Your License Key and Active">
                                        <button class="primary-btn install-btn">Active License</button>
                                    </div>
                                </div>
                                <div class="ea__license-verify">
                                    <p>Licence Verification Code has been sent to this
                                        <span>emo***@wpdeveloper.com</span> mail. Please check your
                                        email. copy the code
                                        and insert it bellow:
                                    </p>
                                    <div class="license-key-items flex items-center">
                                        <input class="input-api" type="text" placeholder="Enter Your Verification Code">
                                        <button class="primary-btn verify-btn">Verify</button>
                                    </div>
                                    <p class="resend-content">
                                        Haven’t receive email. Code has been sent to this mail.
                                        Please <br>
                                        <span class="resend-text">resend button</span>
                                        your email. copy the code and insert it meanutes.
                                        <i class="ea-dash-icon  ea-info">
                                            <span class="tooltip-api">
                                                Check out this <span class="color-ex">guide</span> to verify your
                                                license key. If you need any
                                                assistance with retrieving your License Verification Key, please <span
                                                    class="color-ex">contact support.</span>
                                            </span>
                                        </i>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ea__general-content-item templates flex justify-between items-center">
                        <div class="templates-content">
                            <h2>Unlock 5000+ Ready Templates</h2>
                            <div class="mb-6 flex flex-col gap-4">
                                <div class="ea__content-details flex gap-2 items-center">
                                    <span class="check-icon ea-dash-icon ea-check"></span>
                                    Stunning, Ready Website Templates
                                </div>
                                <div class="ea__content-details flex gap-2 items-center">
                                    <span class="check-icon ea-dash-icon ea-check"></span>
                                    Add Team Members & Collaborate
                                </div>
                                <div class="ea__content-details flex gap-2 items-center">
                                    <span class="check-icon ea-dash-icon ea-check"></span>
                                    Cloud With Templately WorkSpace
                                </div>
                            </div>
                            <a href="#">
                                <button class="primary-btn install-btn">
                                    <i class="ea-dash-icon ea-install"></i>
                                    Install templately
                                </button>
                            </a>
                        </div>
                        <div class="templates-img">
                            <img src="assets/images/img-2.png" alt="img">
                        </div>

                    </div>
                    <div class="ea__connect-others-wrapper flex gap-4">
                        <div class="ea__connect-others">
                            <div class="ea__others-icon eaicon-1">
                                <i class="ea-dash-icon ea-github"></i>
                            </div>
                            <h5>GitHub & Support</h5>
                            <p class="mb-6">Encountering a problem? Seek assistance through live chat or by submitting.
                            </p>
                            <a href="#">
                                <button>
                                    <span class="underline">Create Ticket</span>
                                    <i class="ea-dash-icon ea-right-arrow"></i>
                                </button>
                            </a>
                        </div>
                        <div class="ea__connect-others">
                            <div class="ea__others-icon eaicon-2">
                                <i class="ea-dash-icon ea-community"></i>
                            </div>
                            <h5>Join Community</h5>
                            <p class="mb-6">Encountering a problem? Seek assistance through live chat or by submitting.
                            </p>
                            <a href="#">
                                <button>
                                    <span class="underline">Join with us</span>
                                    <i class="ea-dash-icon ea-right-arrow"></i>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ea__sidebar-info">
                    <div class="ea__sidebar-content">
                        <h5>Unlimited Features</h5>
                        <p>Supercharge your content schedule and</p>
                        <div class="review-wrap">
                            <h6>Review from Real Users</h6>
                            <div class="flex items-center gap-1">
                                <i class="ea-dash-icon ea-star"></i>
                                <i class="ea-dash-icon ea-star"></i>
                                <i class="ea-dash-icon ea-star"></i>
                                <i class="ea-dash-icon ea-star"></i>
                                <i class="ea-dash-icon ea-star"></i>
                                <span class="reating-details">5/5</span>
                            </div>
                        </div>
                        <a href="#">
                            <button class="upgrade-button">
                                <i class="ea-dash-icon ea-crown-1"></i>
                                Upgrade to PRO
                            </button>
                        </a>
                    </div>

                    <div>
                        <div class="ea__connect-others">
                            <div class="ea__others-icon eaicon-3">
                                <i class="ea-dash-icon ea-docs"></i>
                            </div>
                            <h5>View knowledgebase</h5>
                            <p class="mb-6">Get started by spending some time with the documentation</p>
                            <a href="#">
                                <button>
                                    <span class="underline">View Docs</span>
                                    <i class="ea-dash-icon ea-right-arrow"></i>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>

</body>

</html>