<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="assets/style/style.css">
    <link href="assets/icons/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
        rel="stylesheet">
    <title>Extensions</title>
</head>

<body>
    <section id="ea__dashboard--wrapper" class="ea__dashboard--wrapper">
        <div class="ea__extension-main-wrap">
            <section class="ea__section-header">
                <div class="ea__section-wrapper ea__header-content">
                    <img src="assets/images/logo.png" alt="logo">
                    <span class="dark-icon pointer"><i class="ea-dash-icon ea-sun"></i></span>
                </div>
            </section>
            <section class="ea__section-wrapper ea__main-wrapper flex gap-4 mb-4">
                <div class="ea__sidebar-nav-list">
                    <div class="nav-sticky">
                        <div class="ea__sidebar-nav">
                            <span class="ea__nav-icon">
                                <i class="ea-dash-icon ea-home"></i>
                            </span>
                            <span class="ea__nav-text">General</span>
                        </div>
                        <div class="ea__sidebar-nav">
                            <span class="ea__nav-icon">
                                <i class="ea-dash-icon ea-elements"></i>
                            </span>
                            <span class="ea__nav-text">Elements</span>
                        </div>
                        <div class="ea__sidebar-nav active">
                            <span class="ea__nav-icon">
                                <i class="ea-dash-icon ea-extensions"></i>
                            </span>
                            <span class="ea__nav-text">Extensions</span>
                        </div>
                        <div class="ea__sidebar-nav">
                            <span class="ea__nav-icon">
                                <i class="ea-dash-icon ea-tool"></i>
                            </span>
                            <span class="ea__nav-text">Tools</span>
                        </div>
                        <div class="ea__sidebar-nav">
                            <span class="ea__nav-icon">
                                <i class="ea-dash-icon ea-plug"></i>
                            </span>
                            <span class="ea__nav-text">Integration</span>
                        </div>
                        <div class="ea__sidebar-nav">
                            <span class="ea__nav-icon">
                                <i class="ea-dash-icon ea-lock"></i>
                            </span>
                            <span class="ea__nav-text">Go Premium</span>
                        </div>
                    </div>
                    <div></div>
                </div>
                <div class="ea__elements-nav-content">

                    <div class="ea__premimu-extensions-wrapper">
                        <div class="ea__contents mb-4">
                            <div class="flex items-center gap-2 justify-between mb-4">
                                <h3 class="ea__content-title title">Premium Extensions</h3>
                                <div class="ea__enable-elements">
                                    <div class="toggle-wrapper flex items-center gap-2">
                                        <h5>Enable all</h5>
                                        <label class="toggle-wrap">
                                            <input type="checkbox" checked="checked">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="ea__content-wrapper">
                                <div class="ea__content-items">
                                    <div class="ea__content-head">
                                        <h5 class="toggle-label">Parallax</h5>
                                        <label class="toggle-wrap">
                                            <input type="checkbox" checked="checked">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                    <div class="ea__content-footer">
                                        <span class="content-btn"></span>
                                        <div class="content-icons">
                                            <a href="#"><i class="ea-dash-icon ea-docs"></i></a>
                                            <a href="#"><i class="ea-dash-icon ea-link-2"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="ea__content-items">
                                    <div class="ea__content-head">
                                        <h5 class="toggle-label">Particles</h5>
                                        <label class="toggle-wrap">
                                            <input type="checkbox" checked="checked">
                                            <span class="slider pro"></span>
                                        </label>
                                    </div>
                                    <div class="ea__content-footer">
                                        <span class="content-btn popular">popular</span>
                                        <div class="content-icons">
                                            <a href="#"><i class="ea-dash-icon ea-docs"></i></a>
                                            <a href="#"><i class="ea-dash-icon ea-link-2"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="ea__content-items">
                                    <div class="ea__content-head">
                                        <h5 class="toggle-label">Advanced Tooltip</h5>
                                        <label class="toggle-wrap">
                                            <input type="checkbox" checked="checked">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                    <div class="ea__content-footer">
                                        <span class="content-btn"></span>
                                        <div class="content-icons">
                                            <a href="#"><i class="ea-dash-icon ea-docs"></i></a>
                                            <a href="#"><i class="ea-dash-icon ea-link-2"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="ea__content-items">
                                    <div class="ea__content-head">
                                        <h5 class="toggle-label">Content Protection</h5>
                                        <label class="toggle-wrap">
                                            <input type="checkbox" checked="checked">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                    <div class="ea__content-footer">
                                        <span class="content-btn popular">popular</span>
                                        <div class="content-icons">
                                            <a href="#"><i class="ea-dash-icon ea-docs"></i></a>
                                            <a href="#"><i class="ea-dash-icon ea-link-2"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="ea__content-items">
                                    <div class="ea__content-head">
                                        <h5 class="toggle-label">Duplicator</h5>
                                        <label class="toggle-wrap">
                                            <input type="checkbox" checked="checked">
                                            <span class="slider pro"></span>
                                        </label>
                                    </div>
                                    <div class="ea__content-footer">
                                        <span class="content-btn"></span>
                                        <div class="content-icons">
                                            <a href="#"><i class="ea-dash-icon ea-docs"></i></a>
                                            <a href="#"><i class="ea-dash-icon ea-link-2"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="ea__content-items">
                                    <div class="ea__content-head">
                                        <h5 class="toggle-label">Custom JS</h5>
                                        <label class="toggle-wrap">
                                            <input type="checkbox" checked="checked">
                                            <span class="slider pro"></span>
                                        </label>
                                    </div>
                                    <div class="ea__content-footer">
                                        <span class="content-btn popular">popular</span>
                                        <div class="content-icons">
                                            <i class="ea-dash-icon ea-docs"></i>
                                            <i class="ea-dash-icon ea-link-2"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="ea__content-items">
                                    <div class="ea__content-head">
                                        <h5 class="toggle-label">Cross-Domain Copy Paste</h5>
                                        <label class="toggle-wrap">
                                            <input type="checkbox" checked="checked">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                    <div class="ea__content-footer">
                                        <span class="content-btn new">new</span>
                                        <div class="content-icons">
                                            <i class="ea-dash-icon ea-docs"></i>
                                            <i class="ea-dash-icon ea-link-2"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="ea__content-items">
                                    <div class="ea__content-head">
                                        <h5 class="toggle-label">Scroll to Top</h5>
                                        <label class="toggle-wrap">
                                            <input type="checkbox" checked="checked">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                    <div class="ea__content-footer">
                                        <span class="content-btn new">new</span>
                                        <div class="content-icons">
                                            <i class="ea-dash-icon ea-docs"></i>
                                            <i class="ea-dash-icon ea-link-2"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="ea__content-items">
                                    <div class="ea__content-head">
                                        <h5 class="toggle-label">Conditional Display</h5>
                                        <label class="toggle-wrap">
                                            <input type="checkbox" checked="checked">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                    <div class="ea__content-footer">
                                        <span class="content-btn new">new</span>
                                        <div class="content-icons">
                                            <a href="#"><i class="ea-dash-icon ea-docs"></i></a>
                                            <a href="#"><i class="ea-dash-icon ea-link-2"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="ea__content-items">
                                    <div class="ea__content-head">
                                        <h5 class="toggle-label">Wrapper Link</h5>
                                        <label class="toggle-wrap">
                                            <input type="checkbox" checked="checked">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                    <div class="ea__content-footer">
                                        <span class="content-btn new">new</span>
                                        <div class="content-icons">
                                            <a href="#"><i class="ea-dash-icon ea-docs"></i></a>
                                            <a href="#"><i class="ea-dash-icon ea-link-2"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ea__section-wrapper flex flex-end mb-5">
                            <button class="primary-btn install-btn flex flex-end mb-6">Save Settings</button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>

</body>

</html>