<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="assets/style/style.css">
    <link href="assets/icons/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
        rel="stylesheet">
    <title>Extensions</title>
</head>

<body>
    <section id="ea__dashboard--wrapper" class="ea__dashboard--wrapper">
        <div class="ea__extension-main-wrap">
            <section class="ea__section-header">
                <div class="ea__section-wrapper ea__header-content">
                    <img src="assets/images/logo.png" alt="logo">
                    <span class="dark-icon pointer"><i class="eaicon ea-sun"></i></span>
                </div>
            </section>
            <section class="ea__section-wrapper ea__main-wrapper flex gap-4 mb-4">
                <div class="ea__sidebar-nav-list">
                    <div class="nav-sticky">
                        <div class="ea__sidebar-nav">
                            <span class="ea__nav-icon">
                                <i class="eaicon ea-home"></i>
                            </span>
                            <span class="ea__nav-text">General</span>
                        </div>
                        <div class="ea__sidebar-nav">
                            <span class="ea__nav-icon">
                                <i class="eaicon ea-elements"></i>
                            </span>
                            <span class="ea__nav-text">Elements</span>
                        </div>
                        <div class="ea__sidebar-nav active">
                            <span class="ea__nav-icon">
                                <i class="eaicon ea-extensions"></i>
                            </span>
                            <span class="ea__nav-text">Extensions</span>
                        </div>
                        <div class="ea__sidebar-nav">
                            <span class="ea__nav-icon">
                                <i class="eaicon ea-tool"></i>
                            </span>
                            <span class="ea__nav-text">Tools</span>
                        </div>
                        <div class="ea__sidebar-nav">
                            <span class="ea__nav-icon">
                                <i class="eaicon ea-plug"></i>
                            </span>
                            <span class="ea__nav-text">Integration</span>
                        </div>
                        <div class="ea__sidebar-nav">
                            <span class="ea__nav-icon">
                                <i class="eaicon ea-lock"></i>
                            </span>
                            <span class="ea__nav-text">Go Premium</span>
                        </div>
                    </div>
                    <div></div>
                </div>
                <div class="ea__elements-nav-content">

                    <div class="ea__premimu-extensions-wrapper">
                        <div class="ea__contents">
                            <h3 class="ea__content-title">Content Elements</h3>
                            <div class="ea__content-wrapper">
                                <div class="ea__content-items">
                                    <div class="ea__content-head">
                                        <h5 class="toggle-label">Creative Button</h5>
                                        <label class="toggle-wrap">
                                            <input type="checkbox" checked="checked">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                    <div class="ea__content-footer">
                                        <span class="content-btn"></span>
                                        <div class="content-icons">
                                            <i class="eaicon ea-docs"></i>
                                            <i class="eaicon ea-link-2"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="ea__content-items">
                                    <div class="ea__content-head">
                                        <h5 class="toggle-label">Team Member</h5>
                                        <label class="toggle-wrap">
                                            <input type="checkbox" checked="checked">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                    <div class="ea__content-footer">
                                        <span class="content-btn update">update</span>
                                        <div class="content-icons">
                                            <i class="eaicon ea-docs"></i>
                                            <i class="eaicon ea-link-2"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="ea__content-items">
                                    <div class="ea__content-head">
                                        <h5 class="toggle-label">Feature List</h5>
                                        <label class="toggle-wrap">
                                            <input type="checkbox" checked="checked">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                    <div class="ea__content-footer">
                                        <span class="content-btn popular">popular</span>
                                        <div class="content-icons">
                                            <i class="eaicon ea-docs"></i>
                                            <i class="eaicon ea-link-2"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="ea__content-items">
                                    <div class="ea__content-head">
                                        <h5 class="toggle-label">Advanced Menu</h5>
                                        <label class="toggle-wrap">
                                            <input type="checkbox" checked="checked">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                    <div class="ea__content-footer">
                                        <span class="content-btn new">new</span>
                                        <div class="content-icons">
                                            <i class="eaicon ea-docs"></i>
                                            <i class="eaicon ea-link-2"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="ea__content-items">
                                    <div class="ea__content-head">
                                        <h5 class="toggle-label">Team Member</h5>
                                        <label class="toggle-wrap">
                                            <input type="checkbox" checked="checked">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                    <div class="ea__content-footer">
                                        <span class="content-btn update">update</span>
                                        <div class="content-icons">
                                            <i class="eaicon ea-docs"></i>
                                            <i class="eaicon ea-link-2"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="ea__content-items">
                                    <div class="ea__content-head">
                                        <h5 class="toggle-label">Feature List</h5>
                                        <label class="toggle-wrap">
                                            <input type="checkbox" checked="checked">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                    <div class="ea__content-footer">
                                        <span class="content-btn popular">popular</span>
                                        <div class="content-icons">
                                            <i class="eaicon ea-docs"></i>
                                            <i class="eaicon ea-link-2"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="ea__content-items">
                                    <div class="ea__content-head">
                                        <h5 class="toggle-label">Advanced Menu</h5>
                                        <label class="toggle-wrap">
                                            <input type="checkbox" checked="checked">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                    <div class="ea__content-footer">
                                        <span class="content-btn new">new</span>
                                        <div class="content-icons">
                                            <i class="eaicon ea-docs"></i>
                                            <i class="eaicon ea-link-2"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="ea__section-wrapper flex flex-end mb-5">
                <button class="primary-btn install-btn flex flex-end mb-6">Save Settings</button>
            </div>
        </div>
    </section>

</body>

</html>