<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="assets/style/style.css">
    <link href="assets/icons/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
        rel="stylesheet">
    <title>Modal</title>
</head>

<body>
    <section id="ea__dashboard--wrapper" class="ea__dashboard--wrapper">
        <section class="ea__section-header">
            <div class="ea__section-wrapper  ea__header-content">
                <img src="assets/images/logo.png" alt="logo">
                <span class="dark-icon pointer"><i class="eaicon ea-sun"></i></span>
            </div>
        </section>
        <section class="ea__section-wrapper ea__main-wrapper flex">
            <div class="ea__sidebar-nav-list ea__elements-nav">
                <div class="nav-sticky">
                    <div class="ea__sidebar-nav">
                        <span class="ea__nav-icon">
                            <i class="eaicon ea-home"></i>
                        </span>
                        <span class="ea__nav-text">General</span>
                    </div>
                    <div class="ea__sidebar-nav active">
                        <span class="ea__nav-icon">
                            <i class="eaicon ea-elements"></i>
                        </span>
                        <span class="ea__nav-text">Elements</span>
                    </div>
                    <div class="ea__sidebar-nav">
                        <span class="ea__nav-icon">
                            <i class="eaicon ea-extensions"></i>
                        </span>
                        <span class="ea__nav-text">Extensions</span>
                    </div>
                    <div class="ea__sidebar-nav">
                        <span class="ea__nav-icon">
                            <i class="eaicon ea-tool"></i>
                        </span>
                        <span class="ea__nav-text">Tools</span>
                    </div>
                    <div class="ea__sidebar-nav">
                        <span class="ea__nav-icon">
                            <i class="eaicon ea-plug"></i>
                        </span>
                        <span class="ea__nav-text">Integration</span>
                    </div>
                    <div class="ea__sidebar-nav">
                        <span class="ea__nav-icon">
                            <i class="eaicon ea-lock"></i>
                        </span>
                        <span class="ea__nav-text">Go Premium</span>
                    </div>
                </div>
                <div></div>
            </div>
            <div class="ea__elements-nav-content">
                <div class="ea__content-header sticky">
                    <div class="ea__content-info flex justify-between items-center gap-2">
                        <div class="ea__widget-elements flex items-center">
                            <h4>Elements</h4>
                            <div class="search--widget flex">
                                <input class="input-name" type="search" placeholder="Search by name ">
                                <div class="select-option-wrapper">
                                    <select name="select" id="select-option" class="form-select">
                                        <option value="">All Widgets</option>
                                        <option value="1">Employees</option>
                                        <option value="2">Templates</option>
                                        <option value="3">Employees</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="ea__enable-elements">
                            <div class="toggle-wrapper flex items-center gap-2">
                                <h5>Enable all Elements</h5>
                                <label class="toggle-wrap">
                                    <input type="checkbox" checked="checked">
                                    <span class="slider"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="ea__content-icon flex">
                        <a class="ea__icon-wrapper" href="#Content">
                            <i class="eaicon ea-content">
                                <span class="ea__tooltip">Content Elements</span>
                            </i>
                        </a>
                        <a class="ea__icon-wrapper" href="#Dynamic">
                            <i class="eaicon ea-notes-2">
                                <span class="ea__tooltip">Dynamic Content Elements</span>
                            </i>
                        </a>
                        <a class="ea__icon-wrapper active" href="#Creative">
                            <i class="eaicon ea-light">
                                <span class="ea__tooltip">Creative Elements</span>
                            </i>
                        </a>
                        <a class="ea__icon-wrapper" href="#Marketing">
                            <i class="eaicon ea-marketing">
                                <span class="ea__tooltip">Marketing Elements</span>
                            </i>
                        </a>
                        <a class="ea__icon-wrapper" href="#Form">
                            <i class="eaicon ea-notes">
                                <span class="ea__tooltip">Form Styler Elements</span>
                            </i>
                        </a>
                        <a class="ea__icon-wrapper" href="#Social">
                            <i class="eaicon ea-share-fill">
                                <span class="ea__tooltip">Social Feed Elements</span>
                            </i>
                        </a>
                        <a class="ea__icon-wrapper" href="#LearnDash">
                            <i class="eaicon ea-leardash">
                                <span class="ea__tooltip">LearnDash Elements</span>
                            </i>
                        </a>
                        <a class="ea__icon-wrapper" href="#Documentation">
                            <i class="eaicon ea-docs-fill">
                                <span class="ea__tooltip">Documentation Elements</span>
                            </i>
                        </a>
                        <a class="ea__icon-wrapper" href="#WooCommerce">
                            <i class="eaicon ea-cart">
                                <span class="ea__tooltip">WooCommerce Elements</span>
                            </i>
                        </a>
                    </div>
                </div>
                <div class="ea__content-elements-wrapper">
                    <div id="Content" class="ea__contents">
                        <div class="flex items-center gap-2 justify-between mb-4">
                            <h3 class="ea__content-title">Content Elements</h3>
                            <div class="ea__enable-elements">
                                <div class="toggle-wrapper flex items-center gap-2">
                                    <h5>Enable all</h5>
                                    <label class="toggle-wrap">
                                        <input type="checkbox" checked="checked">
                                        <span class="slider"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="ea__content-wrapper">
                            <div class="ea__content-items">
                                <div class="ea__content-head">
                                    <h5 class="toggle-label">Creative Button</h5>
                                    <label class="toggle-wrap">
                                        <input type="checkbox" checked="checked">
                                        <span class="slider"></span>
                                    </label>
                                </div>
                                <div class="ea__content-footer">
                                    <span class="content-btn"></span>
                                    <div class="content-icons">
                                        <i class="eaicon ea-docs"></i>
                                        <i class="eaicon ea-link-2"></i>
                                        <i class="eaicon ea-settings"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="ea__content-items">
                                <div class="ea__content-head">
                                    <h5 class="toggle-label">Team Member</h5>
                                    <label class="toggle-wrap">
                                        <input type="checkbox" checked="checked">
                                        <span class="slider"></span>
                                    </label>
                                </div>
                                <div class="ea__content-footer">
                                    <span class="content-btn update">update</span>
                                    <div class="content-icons">
                                        <i class="eaicon ea-docs"></i>
                                        <i class="eaicon ea-link-2"></i>
                                        <i class="eaicon ea-settings"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="ea__content-items">
                                <div class="ea__content-head">
                                    <h5 class="toggle-label">Feature List</h5>
                                    <label class="toggle-wrap">
                                        <input type="checkbox" checked="checked">
                                        <span class="slider"></span>
                                    </label>
                                </div>
                                <div class="ea__content-footer">
                                    <span class="content-btn popular">popular</span>
                                    <div class="content-icons">
                                        <i class="eaicon ea-docs"></i>
                                        <i class="eaicon ea-link-2"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="ea__content-items">
                                <div class="ea__content-head">
                                    <h5 class="toggle-label">Advanced Menu</h5>
                                    <label class="toggle-wrap">
                                        <input type="checkbox" checked="checked">
                                        <span class="slider"></span>
                                    </label>
                                </div>
                                <div class="ea__content-footer">
                                    <span class="content-btn new">new</span>
                                    <div class="content-icons">
                                        <i class="eaicon ea-docs"></i>
                                        <i class="eaicon ea-link-2"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="Dynamic" class="ea__contents">
                        <div class="flex items-center gap-2 justify-between mb-4">
                            <h3 class="ea__content-title">Dynamic Content Elements</h3>
                            <div class="ea__enable-elements">
                                <div class="toggle-wrapper flex items-center gap-2">
                                    <h5>Enable all</h5>
                                    <label class="toggle-wrap">
                                        <input type="checkbox" checked="checked">
                                        <span class="slider"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="ea__content-wrapper">
                            <div class="ea__content-items">
                                <div class="ea__content-head">
                                    <h5 class="toggle-label">Creative Button</h5>
                                    <label class="toggle-wrap">
                                        <input type="checkbox" checked="checked">
                                        <span class="slider"></span>
                                    </label>
                                </div>
                                <div class="ea__content-footer">
                                    <span class="content-btn"></span>
                                    <div class="content-icons">
                                        <i class="eaicon ea-docs"></i>
                                        <i class="eaicon ea-link-2"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="ea__content-items">
                                <div class="ea__content-head">
                                    <h5 class="toggle-label">Team Member</h5>
                                    <label class="toggle-wrap">
                                        <input type="checkbox" checked="checked">
                                        <span class="slider"></span>
                                    </label>
                                </div>
                                <div class="ea__content-footer">
                                    <span class="content-btn update">update</span>
                                    <div class="content-icons">
                                        <i class="eaicon ea-docs"></i>
                                        <i class="eaicon ea-link-2"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="ea__content-items">
                                <div class="ea__content-head">
                                    <h5 class="toggle-label">Feature List</h5>
                                    <label class="toggle-wrap">
                                        <input type="checkbox" checked="checked">
                                        <span class="slider"></span>
                                    </label>
                                </div>
                                <div class="ea__content-footer">
                                    <span class="content-btn popular">popular</span>
                                    <div class="content-icons">
                                        <i class="eaicon ea-docs"></i>
                                        <i class="eaicon ea-link-2"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="ea__content-items">
                                <div class="ea__content-head">
                                    <h5 class="toggle-label">Advanced Menu</h5>
                                    <label class="toggle-wrap">
                                        <input type="checkbox" checked="checked">
                                        <span class="slider"></span>
                                    </label>
                                </div>
                                <div class="ea__content-footer">
                                    <span class="content-btn new">new</span>
                                    <div class="content-icons">
                                        <i class="eaicon ea-docs"></i>
                                        <i class="eaicon ea-link-2"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="Creative" class="ea__contents">
                        <div class="flex items-center gap-2 justify-between mb-4">
                            <h3 class="ea__content-title">Creative Elements</h3>
                            <div class="ea__enable-elements">
                                <div class="toggle-wrapper flex items-center gap-2">
                                    <h5>Enable all</h5>
                                    <label class="toggle-wrap">
                                        <input type="checkbox" checked="checked">
                                        <span class="slider"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="ea__content-wrapper">
                            <div class="ea__content-items">
                                <div class="ea__content-head">
                                    <h5 class="toggle-label">Creative Button</h5>
                                    <label class="toggle-wrap">
                                        <input type="checkbox" checked="checked">
                                        <span class="slider"></span>
                                    </label>
                                </div>
                                <div class="ea__content-footer">
                                    <span class="content-btn"></span>
                                    <div class="content-icons">
                                        <i class="eaicon ea-docs"></i>
                                        <i class="eaicon ea-link-2"></i>
                                        <i class="eaicon ea-settings"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="ea__content-items">
                                <div class="ea__content-head">
                                    <h5 class="toggle-label">Team Member</h5>
                                    <label class="toggle-wrap">
                                        <input type="checkbox" checked="checked">
                                        <span class="slider"></span>
                                    </label>
                                </div>
                                <div class="ea__content-footer">
                                    <span class="content-btn update">update</span>
                                    <div class="content-icons">
                                        <i class="eaicon ea-docs"></i>
                                        <i class="eaicon ea-link-2"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="ea__content-items">
                                <div class="ea__content-head">
                                    <h5 class="toggle-label">Feature List</h5>
                                    <label class="toggle-wrap">
                                        <input type="checkbox" checked="checked">
                                        <span class="slider"></span>
                                    </label>
                                </div>
                                <div class="ea__content-footer">
                                    <span class="content-btn popular">popular</span>
                                    <div class="content-icons">
                                        <i class="eaicon ea-docs"></i>
                                        <i class="eaicon ea-link-2"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="ea__content-items">
                                <div class="ea__content-head">
                                    <h5 class="toggle-label">Advanced Menu</h5>
                                    <label class="toggle-wrap">
                                        <input type="checkbox" checked="checked">
                                        <span class="slider"></span>
                                    </label>
                                </div>
                                <div class="ea__content-footer">
                                    <span class="content-btn new">new</span>
                                    <div class="content-icons">
                                        <i class="eaicon ea-docs"></i>
                                        <i class="eaicon ea-link-2"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="Marketing" class="ea__contents">
                        <div class="flex items-center gap-2 justify-between mb-4">
                            <h3 class="ea__content-title">Marketing Elements</h3>
                            <div class="ea__enable-elements">
                                <div class="toggle-wrapper flex items-center gap-2">
                                    <h5>Enable all</h5>
                                    <label class="toggle-wrap">
                                        <input type="checkbox" checked="checked">
                                        <span class="slider"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="ea__content-wrapper">
                            <div class="ea__content-items">
                                <div class="ea__content-head">
                                    <h5 class="toggle-label">Creative Button</h5>
                                    <label class="toggle-wrap">
                                        <input type="checkbox" checked="checked">
                                        <span class="slider"></span>
                                    </label>
                                </div>
                                <div class="ea__content-footer">
                                    <span class="content-btn"></span>
                                    <div class="content-icons">
                                        <i class="eaicon ea-docs"></i>
                                        <i class="eaicon ea-link-2"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="ea__content-items">
                                <div class="ea__content-head">
                                    <h5 class="toggle-label">Team Member</h5>
                                    <label class="toggle-wrap">
                                        <input type="checkbox" checked="checked">
                                        <span class="slider"></span>
                                    </label>
                                </div>
                                <div class="ea__content-footer">
                                    <span class="content-btn update">update</span>
                                    <div class="content-icons">
                                        <i class="eaicon ea-docs"></i>
                                        <i class="eaicon ea-link-2"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="ea__content-items">
                                <div class="ea__content-head">
                                    <h5 class="toggle-label">Feature List</h5>
                                    <label class="toggle-wrap">
                                        <input type="checkbox" checked="checked">
                                        <span class="slider"></span>
                                    </label>
                                </div>
                                <div class="ea__content-footer">
                                    <span class="content-btn popular">popular</span>
                                    <div class="content-icons">
                                        <i class="eaicon ea-docs"></i>
                                        <i class="eaicon ea-link-2"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="ea__content-items">
                                <div class="ea__content-head">
                                    <h5 class="toggle-label">Advanced Menu</h5>
                                    <label class="toggle-wrap">
                                        <input type="checkbox" checked="checked">
                                        <span class="slider"></span>
                                    </label>
                                </div>
                                <div class="ea__content-footer">
                                    <span class="content-btn new">new</span>
                                    <div class="content-icons">
                                        <i class="eaicon ea-docs"></i>
                                        <i class="eaicon ea-link-2"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="Form" class="ea__contents">
                        <div class="flex items-center gap-2 justify-between mb-4">
                            <h3 class="ea__content-title">Form Styler Elements</h3>
                            <div class="ea__enable-elements">
                                <div class="toggle-wrapper flex items-center gap-2">
                                    <h5>Enable all</h5>
                                    <label class="toggle-wrap">
                                        <input type="checkbox" checked="checked">
                                        <span class="slider"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="ea__content-wrapper">
                            <div class="ea__content-items">
                                <div class="ea__content-head">
                                    <h5 class="toggle-label">Creative Button</h5>
                                    <label class="toggle-wrap">
                                        <input type="checkbox" checked="checked">
                                        <span class="slider"></span>
                                    </label>
                                </div>
                                <div class="ea__content-footer">
                                    <span class="content-btn"></span>
                                    <div class="content-icons">
                                        <i class="eaicon ea-docs"></i>
                                        <i class="eaicon ea-link-2"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="ea__content-items">
                                <div class="ea__content-head">
                                    <h5 class="toggle-label">Team Member</h5>
                                    <label class="toggle-wrap">
                                        <input type="checkbox" checked="checked">
                                        <span class="slider"></span>
                                    </label>
                                </div>
                                <div class="ea__content-footer">
                                    <span class="content-btn update">update</span>
                                    <div class="content-icons">
                                        <i class="eaicon ea-docs"></i>
                                        <i class="eaicon ea-link-2"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="ea__content-items">
                                <div class="ea__content-head">
                                    <h5 class="toggle-label">Feature List</h5>
                                    <label class="toggle-wrap">
                                        <input type="checkbox" checked="checked">
                                        <span class="slider"></span>
                                    </label>
                                </div>
                                <div class="ea__content-footer">
                                    <span class="content-btn popular">popular</span>
                                    <div class="content-icons">
                                        <i class="eaicon ea-docs"></i>
                                        <i class="eaicon ea-link-2"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="ea__content-items">
                                <div class="ea__content-head">
                                    <h5 class="toggle-label">Advanced Menu</h5>
                                    <label class="toggle-wrap">
                                        <input type="checkbox" checked="checked">
                                        <span class="slider"></span>
                                    </label>
                                </div>
                                <div class="ea__content-footer">
                                    <span class="content-btn new">new</span>
                                    <div class="content-icons">
                                        <i class="eaicon ea-docs"></i>
                                        <i class="eaicon ea-link-2"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="Social" class="ea__contents">
                        <div class="flex items-center gap-2 justify-between mb-4">
                            <h3 class="ea__content-title">Social Feed Elements</h3>
                            <div class="ea__enable-elements">
                                <div class="toggle-wrapper flex items-center gap-2">
                                    <h5>Enable all</h5>
                                    <label class="toggle-wrap">
                                        <input type="checkbox" checked="checked">
                                        <span class="slider"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="ea__content-wrapper">
                            <div class="ea__content-items">
                                <div class="ea__content-head">
                                    <h5 class="toggle-label">Creative Button</h5>
                                    <label class="toggle-wrap">
                                        <input type="checkbox" checked="checked">
                                        <span class="slider"></span>
                                    </label>
                                </div>
                                <div class="ea__content-footer">
                                    <span class="content-btn"></span>
                                    <div class="content-icons">
                                        <i class="eaicon ea-docs"></i>
                                        <i class="eaicon ea-link-2"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="ea__content-items">
                                <div class="ea__content-head">
                                    <h5 class="toggle-label">Team Member</h5>
                                    <label class="toggle-wrap">
                                        <input type="checkbox" checked="checked">
                                        <span class="slider"></span>
                                    </label>
                                </div>
                                <div class="ea__content-footer">
                                    <span class="content-btn update">update</span>
                                    <div class="content-icons">
                                        <i class="eaicon ea-docs"></i>
                                        <i class="eaicon ea-link-2"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="ea__content-items">
                                <div class="ea__content-head">
                                    <h5 class="toggle-label">Feature List</h5>
                                    <label class="toggle-wrap">
                                        <input type="checkbox" checked="checked">
                                        <span class="slider"></span>
                                    </label>
                                </div>
                                <div class="ea__content-footer">
                                    <span class="content-btn popular">popular</span>
                                    <div class="content-icons">
                                        <i class="eaicon ea-docs"></i>
                                        <i class="eaicon ea-link-2"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="ea__content-items">
                                <div class="ea__content-head">
                                    <h5 class="toggle-label">Advanced Menu</h5>
                                    <label class="toggle-wrap">
                                        <input type="checkbox" checked="checked">
                                        <span class="slider"></span>
                                    </label>
                                </div>
                                <div class="ea__content-footer">
                                    <span class="content-btn new">new</span>
                                    <div class="content-icons">
                                        <i class="eaicon ea-docs"></i>
                                        <i class="eaicon ea-link-2"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="LearnDash" class="ea__contents">
                        <div class="flex items-center gap-2 justify-between mb-4">
                            <h3 class="ea__content-title">LearnDash Elements</h3>
                            <div class="ea__enable-elements">
                                <div class="toggle-wrapper flex items-center gap-2">
                                    <h5>Enable all</h5>
                                    <label class="toggle-wrap">
                                        <input type="checkbox" checked="checked">
                                        <span class="slider"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="ea__content-wrapper">
                            <div class="ea__content-items">
                                <div class="ea__content-head">
                                    <h5 class="toggle-label">Creative Button</h5>
                                    <label class="toggle-wrap">
                                        <input type="checkbox" checked="checked">
                                        <span class="slider"></span>
                                    </label>
                                </div>
                                <div class="ea__content-footer">
                                    <span class="content-btn"></span>
                                    <div class="content-icons">
                                        <i class="eaicon ea-docs"></i>
                                        <i class="eaicon ea-link-2"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="ea__content-items">
                                <div class="ea__content-head">
                                    <h5 class="toggle-label">Team Member</h5>
                                    <label class="toggle-wrap">
                                        <input type="checkbox" checked="checked">
                                        <span class="slider"></span>
                                    </label>
                                </div>
                                <div class="ea__content-footer">
                                    <span class="content-btn update">update</span>
                                    <div class="content-icons">
                                        <i class="eaicon ea-docs"></i>
                                        <i class="eaicon ea-link-2"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="ea__content-items">
                                <div class="ea__content-head">
                                    <h5 class="toggle-label">Feature List</h5>
                                    <label class="toggle-wrap">
                                        <input type="checkbox" checked="checked">
                                        <span class="slider"></span>
                                    </label>
                                </div>
                                <div class="ea__content-footer">
                                    <span class="content-btn popular">popular</span>
                                    <div class="content-icons">
                                        <i class="eaicon ea-docs"></i>
                                        <i class="eaicon ea-link-2"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="ea__content-items">
                                <div class="ea__content-head">
                                    <h5 class="toggle-label">Advanced Menu</h5>
                                    <label class="toggle-wrap">
                                        <input type="checkbox" checked="checked">
                                        <span class="slider"></span>
                                    </label>
                                </div>
                                <div class="ea__content-footer">
                                    <span class="content-btn new">new</span>
                                    <div class="content-icons">
                                        <i class="eaicon ea-docs"></i>
                                        <i class="eaicon ea-link-2"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="Documentation" class="ea__contents">
                        <div class="flex items-center gap-2 justify-between mb-4">
                            <h3 class="ea__content-title">Documentation Elements</h3>
                            <div class="ea__enable-elements">
                                <div class="toggle-wrapper flex items-center gap-2">
                                    <h5>Enable all</h5>
                                    <label class="toggle-wrap">
                                        <input type="checkbox" checked="checked">
                                        <span class="slider"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="ea__content-wrapper">
                            <div class="ea__content-items">
                                <div class="ea__content-head">
                                    <h5 class="toggle-label">Creative Button</h5>
                                    <label class="toggle-wrap">
                                        <input type="checkbox" checked="checked">
                                        <span class="slider"></span>
                                    </label>
                                </div>
                                <div class="ea__content-footer">
                                    <span class="content-btn"></span>
                                    <div class="content-icons">
                                        <i class="eaicon ea-docs"></i>
                                        <i class="eaicon ea-link-2"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="ea__content-items">
                                <div class="ea__content-head">
                                    <h5 class="toggle-label">Team Member</h5>
                                    <label class="toggle-wrap">
                                        <input type="checkbox" checked="checked">
                                        <span class="slider"></span>
                                    </label>
                                </div>
                                <div class="ea__content-footer">
                                    <span class="content-btn update">update</span>
                                    <div class="content-icons">
                                        <i class="eaicon ea-docs"></i>
                                        <i class="eaicon ea-link-2"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="ea__content-items">
                                <div class="ea__content-head">
                                    <h5 class="toggle-label">Feature List</h5>
                                    <label class="toggle-wrap">
                                        <input type="checkbox" checked="checked">
                                        <span class="slider"></span>
                                    </label>
                                </div>
                                <div class="ea__content-footer">
                                    <span class="content-btn popular">popular</span>
                                    <div class="content-icons">
                                        <i class="eaicon ea-docs"></i>
                                        <i class="eaicon ea-link-2"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="ea__content-items">
                                <div class="ea__content-head">
                                    <h5 class="toggle-label">Advanced Menu</h5>
                                    <label class="toggle-wrap">
                                        <input type="checkbox" checked="checked">
                                        <span class="slider"></span>
                                    </label>
                                </div>
                                <div class="ea__content-footer">
                                    <span class="content-btn new">new</span>
                                    <div class="content-icons">
                                        <i class="eaicon ea-docs"></i>
                                        <i class="eaicon ea-link-2"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="WooCommerce" class="ea__contents">
                        <div class="flex items-center gap-2 justify-between mb-4">
                            <h3 class="ea__content-title">WooCommerce Elements</h3>
                            <div class="ea__enable-elements">
                                <div class="toggle-wrapper flex items-center gap-2">
                                    <h5>Enable all</h5>
                                    <label class="toggle-wrap">
                                        <input type="checkbox" checked="checked">
                                        <span class="slider"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="ea__content-wrapper">
                            <div class="ea__content-items">
                                <div class="ea__content-head">
                                    <h5 class="toggle-label">Creative Button</h5>
                                    <label class="toggle-wrap">
                                        <input type="checkbox" checked="checked">
                                        <span class="slider"></span>
                                    </label>
                                </div>
                                <div class="ea__content-footer">
                                    <span class="content-btn"></span>
                                    <div class="content-icons">
                                        <i class="eaicon ea-docs"></i>
                                        <i class="eaicon ea-link-2"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="ea__content-items">
                                <div class="ea__content-head">
                                    <h5 class="toggle-label">Team Member</h5>
                                    <label class="toggle-wrap">
                                        <input type="checkbox" checked="checked">
                                        <span class="slider"></span>
                                    </label>
                                </div>
                                <div class="ea__content-footer">
                                    <span class="content-btn update">update</span>
                                    <div class="content-icons">
                                        <i class="eaicon ea-docs"></i>
                                        <i class="eaicon ea-link-2"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="ea__content-items">
                                <div class="ea__content-head">
                                    <h5 class="toggle-label">Feature List</h5>
                                    <label class="toggle-wrap">
                                        <input type="checkbox" checked="checked">
                                        <span class="slider"></span>
                                    </label>
                                </div>
                                <div class="ea__content-footer">
                                    <span class="content-btn popular">popular</span>
                                    <div class="content-icons">
                                        <i class="eaicon ea-docs"></i>
                                        <i class="eaicon ea-link-2"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="ea__content-items">
                                <div class="ea__content-head">
                                    <h5 class="toggle-label">Advanced Menu</h5>
                                    <label class="toggle-wrap">
                                        <input type="checkbox" checked="checked">
                                        <span class="slider"></span>
                                    </label>
                                </div>
                                <div class="ea__content-footer">
                                    <span class="content-btn new">new</span>
                                    <div class="content-icons">
                                        <i class="eaicon ea-docs"></i>
                                        <i class="eaicon ea-link-2"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-end mb-6">
                        <button class="primary-btn install-btn">Save Settings</button>
                    </div>
                </div>
            </div>
        </section>
        <section class="ea__modal-wrapper">
            <div class="ea__modal-content-wrapper">
                <div class="ea__modal-header">
                    <h5>Advanced Google Map</h5>
                </div>
                <div class="ea__modal-body">
                    <div class="flex items-center gap-2">
                        <img src="assets/images/map.svg" alt="mapLogo">
                        <h4>Google Map API Key</h4>
                    </div>
                    <div>
                        <label class="mb-2">Set API Key</label>
                        <input class="input-name" type="text" placeholder="API Key">
                        <a class="ea__api-link" href="#">To configure the API Keys, check out this doc</a>
                    </div>
                    <img class="ea__modal-map-img" src="assets/images/map.png" alt="mapImg">
                    <div>
                        <h4 class="mb-4">Google Map API Key</h4>
                        <div class="select-option-wrapper">
                            <select name="select" id="select-option" class="form-select">
                                <option value="">Select team member</option>
                                <option value="1">All</option>
                                <option value="2">Post</option>
                                <option value="3">Page</option>
                                <option value="2">e-landing-page</option>
                                <option value="3">Products</option>
                                <option value="3">Docs</option>
                            </select>
                        </div>
                    </div>
                    <div class="ea__api-key-according">
                        <div class="ea__according-title">
                            <div class="flex justify-between items-center gap-2 mb-4">
                                <span class="flex gap-2 items-center">
                                    <img src="assets/images/recap.svg" alt="icon">
                                    <h4>reCAPTCHA v2</h4>
                                </span>
                                <i class="eaicon ea-dropdown"></i>
                            </div>
                        </div>
                        <div class="ea__according-content flex flex-col gap-2">
                            <div class="flex gap-4 items-center">
                                <label>Site Key:</label>
                                <input class="input-name" type="text" placeholder="Set Api Key">
                            </div>
                            <div class="flex gap-4 items-center">
                                <label>Site Secret:</label>
                                <input class="input-name" type="text" placeholder="Set Api Key">
                            </div>
                            <div class="flex gap-4 items-center">
                                <label>Language:</label>
                                <input class="input-name" type="text" placeholder="Set Api Key">
                            </div>
                        </div>

                    </div>
                </div>
                <div class="ea__modal-footer flex flex-end">
                    <button class="ea__modal-btn">Save API</button>
                </div>
                <div class="ea__modal-close-btn">
                    <i class="eaicon ea-close"></i>
                </div>
            </div>
        </section>
    </section>


</body>

</html>