<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="assets/style/style.css">
    <link href="assets/icons/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/swiper@11.1.0/swiper-bundle.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11.1.0/swiper-bundle.min.js"></script>
    <title>Premium</title>
</head>

<body>
    <section id="ea__dashboard--wrapper" class="ea__dashboard--wrapper">
        <div class="ea__extension-main-wrap">
            <section class="ea__section-header">
                <div class="ea__section-wrapper ea__header-content">
                    <img src="assets/images/logo.png" alt="logo">
                    <span class="dark-icon pointer"><i class="ea-dash-icon ea-sun"></i></span>
                </div>
            </section>
            <section class="ea__section-wrapper ea__main-wrapper flex gap-4">
                <div class="ea__sidebar-nav-list">
                    <div class="nav-sticky">
                        <div class="ea__sidebar-nav">
                            <span class="ea__nav-icon">
                                <i class="ea-dash-icon ea-home"></i>
                            </span>
                            <span class="ea__nav-text">General</span>
                        </div>
                        <div class="ea__sidebar-nav">
                            <span class="ea__nav-icon">
                                <i class="ea-dash-icon ea-elements"></i>
                            </span>
                            <span class="ea__nav-text">Elements</span>
                        </div>
                        <div class="ea__sidebar-nav">
                            <span class="ea__nav-icon">
                                <i class="ea-dash-icon ea-extensions"></i>
                            </span>
                            <span class="ea__nav-text">Extensions</span>
                        </div>
                        <div class="ea__sidebar-nav">
                            <span class="ea__nav-icon">
                                <i class="ea-dash-icon ea-tool"></i>
                            </span>
                            <span class="ea__nav-text">Tools</span>
                        </div>
                        <div class="ea__sidebar-nav">
                            <span class="ea__nav-icon">
                                <i class="ea-dash-icon ea-plug"></i>
                            </span>
                            <span class="ea__nav-text">Integration</span>
                        </div>
                        <div class="ea__sidebar-nav active">
                            <span class="ea__nav-icon">
                                <i class="ea-dash-icon ea-lock"></i>
                            </span>
                            <span class="ea__nav-text">Go Premium</span>
                        </div>
                    </div>
                    <div></div>
                </div>
                <div class="ea__elements-nav-content">
                    <div class="ea__premium-content-wrapper">
                        <div class="ea__pro-elements-content">
                            <div>
                                <h3>Enhance Your Elementor Experience By <br> <b>Unlocking</b> <span
                                        class="Advance-color">35+ Advanced PRO</span> <b>Elements</b></h5>
                            </div>
                            <div class="review-wrap-ex flex justify-between">
                                <div class="flex gap-2">
                                    <i class="ea-dash-icon ea-link-2"></i>
                                    <div>
                                        <h6>Review from Real Users</h6>
                                        <div class="icons flex items-center gap-1">
                                            <i class="ea-dash-icon ea-star"></i>
                                            <i class="ea-dash-icon ea-star"></i>
                                            <i class="ea-dash-icon ea-star"></i>
                                            <i class="ea-dash-icon ea-star"></i>
                                            <i class="ea-dash-icon ea-star"></i>
                                            <span class="reating-details">5/5</span>
                                        </div>
                                    </div>
                                </div>
                                <a href="#">
                                    <button class="upgrade-button">
                                        <i class="ea-dash-icon ea-crown-1"></i>
                                        Upgrade to PRO
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div class="ea__pro-features flex justify-between items-center">
                            <div class="ea__features-content">
                                <h2>Explore Premiere Pro features</h2>
                                <p class="mb-6">Learn all about the tools and techniques you can use to edit videos,
                                    animate titles,
                                    add effects, mix sound, and more.
                                </p>
                                <a href="#">
                                    <button class="primary-btn changelog-btn">
                                        View Changelog
                                        <i class="ea-dash-icon ea-link"></i>
                                    </button>
                                </a>
                            </div>
                            <div class="features-img">
                                <img src="assets/images/img-3.png" alt="img">
                            </div>
                        </div>
                        <div class="ea__slider-connect">
                            <div class="ea__connect-wrapper flex gap-4">
                                <div class="ea__premium-item">
                                    <div class="ea__premimu-item-header flex gap-2 items-center">
                                        <img src="assets/images/img-5.png" alt="img">
                                    </div>
                                    <div class="ea__premium-item-footer">
                                        <h5>Protected Content </h5>
                                        <p class="mb-2">Restrict access to important data of your
                                            website by setting up user
                                            permissions
                                        </p>
                                        <a href="#">
                                            <button class="underline">View Demo</button>
                                        </a>
                                    </div>
                                </div>
                                <div class="ea__premium-item">
                                    <div class="ea__premimu-item-header flex gap-2 items-center">
                                        <img src="assets/images/img-6.png" alt="img">
                                    </div>
                                    <div class="ea__premium-item-footer">
                                        <h5>Smart Post List</h5>
                                        <p class="mb-2">Restrict access to important data of your
                                            website by setting up user
                                            permissions
                                        </p>
                                        <a href="#">
                                            <button class="underline">View Demo</button>
                                        </a>
                                    </div>
                                </div>
                                <div class="ea__premium-item">
                                    <div class="ea__premimu-item-header flex gap-2 items-center">
                                        <img src="assets/images/img-5.png" alt="img">
                                    </div>
                                    <div class="ea__premium-item-footer">
                                        <h5>Woo Product Slider</h5>
                                        <p class="mb-2">Restrict access to important data of your
                                            website by setting up user
                                            permissions
                                        </p>
                                        <a href="#">
                                            <button class="underline">View Demo</button>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="ea__connect-others-wrapper flex gap-4">
                            <div class="ea__connect-others">
                                <div class="ea__others-icon eaicon-1">
                                    <i class="ea-dash-icon ea-support"></i>
                                </div>
                                <h5>Automatic Updates & Priority Support</h5>
                                <p>LoremGet access to automatic updates & keep your website up-to-date with
                                    constantly developing features. Having any trouble?
                                </p>
                                <a href="#">
                                    <button class="underline">
                                        Learn More
                                    </button>
                                </a>
                            </div>
                            <div class="ea__connect-others">
                                <div class="ea__others-icon eaicon-1">
                                    <i class="ea-dash-icon ea-docs"></i>
                                </div>
                                <h5>Automatic Updates & Priority Support</h5>
                                <p>LoremGet access to automatic updates & keep your website up-to-date with
                                    constantly developing features. Having any trouble?
                                </p>
                                <a href="#">
                                    <button class="underline">
                                        Learn More
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>


    <script src="https://cdn.jsdelivr.net/npm/swiper@11.1.0/swiper-bundle.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var mySwiper = new Swiper('.swiper-container', {
                direction: 'horizontal', // or 'vertical'
                loop: true,
                centeredSlides: true,

                // If we need pagination
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                    dynamicBullets: true,
                },

                // Navigation arrows
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },

                // Autoplay
                autoplay: {
                    delay: 5000,
                    disableOnInteraction: false,
                },

                // Use slide or fade transition effect
                speed: 2000,
                effect: 'fade',
                fadeEffect: {
                    crossFade: true,
                },
            });
        });
    </script>
</body>



</html>