<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="assets/style/style.css">
    <link href="assets/icons/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
        rel="stylesheet">
    <title>Tools</title>
</head>

<body>
    <section id="ea__dashboard--wrapper" class="ea__dashboard--wrapper">
        <div class="ea__extension-main-wrap">
            <section class="ea__section-header">
                <div class="ea__section-wrapper ea__header-content">
                    <img src="assets/images/logo.png" alt="logo">
                    <span class="dark-icon pointer"><i class="ea-dash-icon ea-sun"></i></span>
                </div>
            </section>
            <section class="ea__section-wrapper ea__main-wrapper flex gap-4">
                <div class="ea__sidebar-nav-list">
                    <div class="nav-sticky">
                        <div class="ea__sidebar-nav">
                            <span class="ea__nav-icon">
                                <i class="ea-dash-icon ea-home"></i>
                            </span>
                            <span class="ea__nav-text">General</span>
                        </div>
                        <div class="ea__sidebar-nav">
                            <span class="ea__nav-icon">
                                <i class="ea-dash-icon ea-elements"></i>
                            </span>
                            <span class="ea__nav-text">Elements</span>
                        </div>
                        <div class="ea__sidebar-nav">
                            <span class="ea__nav-icon">
                                <i class="ea-dash-icon ea-extensions"></i>
                            </span>
                            <span class="ea__nav-text">Extensions</span>
                        </div>
                        <div class="ea__sidebar-nav active">
                            <span class="ea__nav-icon">
                                <i class="ea-dash-icon ea-tool"></i>
                            </span>
                            <span class="ea__nav-text">Tools</span>
                        </div>
                        <div class="ea__sidebar-nav">
                            <span class="ea__nav-icon">
                                <i class="ea-dash-icon ea-plug"></i>
                            </span>
                            <span class="ea__nav-text">Integration</span>
                        </div>
                        <div class="ea__sidebar-nav">
                            <span class="ea__nav-icon">
                                <i class="ea-dash-icon ea-lock"></i>
                            </span>
                            <span class="ea__nav-text">Go Premium</span>
                        </div>
                    </div>
                    <div></div>
                </div>
                <div class="ea__elements-nav-content">
                    <div class="ea__tools-content-wrapper">
                        <div class="ea__connect-others flex gap-4 justify-between items-start">
                            <div class="flex gap-4 flex-1">
                                <div class="ea__others-icon eaicon-1">
                                    <i class="ea-dash-icon ea-regenerate"></i>
                                </div>
                                <div>
                                    <h5>Regenerate Assets</h5>
                                    <p>Essential Addons styles & scripts are saved in Uploads folder. This
                                        option will clear all those generated files.</p>
                                </div>
                            </div>
                            <button class="primary-btn changelog-btn">Regenerate Assets</button>
                        </div>
                        <div class="ea__connect-others flex gap-4 justify-between items-start">
                            <div class="flex gap-4 flex-1">
                                <div class="ea__others-icon eaicon-1">
                                    <i class="ea-dash-icon ea-settings"></i>
                                </div>
                                <div>
                                    <h5>Assets Embed Method</h5>
                                    <p>Configure the Essential Addons assets embed method. Keep it as default
                                        (recommended).</p>
                                </div>
                            </div>
                            <button class="primary-btn changelog-btn">CSS Print Method</button>
                        </div>
                        <div class="ea__connect-others flex gap-6 justify-between items-start">
                            <label>JS Print Method</label>
                            <div class="flex-1">
                                <div class="select-option-external">
                                    <select name="select" id="select-option" class="form-select">
                                        <option value="">External file</option>
                                        <option value="1">Employees</option>
                                        <option value="2">Templates</option>
                                        <option value="3">Employees</option>
                                    </select>
                                </div>
                                <span class="select-details">CSS Print Method is handled by Elementor Settings itself.
                                    Use External CSS Files for better
                                    performance (recommended).</span>
                            </div>
                        </div>
                        <div class="flex flex-end mb-5">
                            <button class="primary-btn install-btn flex flex-end mb-6">Save Settings</button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>

</body>

</html>