.controls {
  border: 5px solid #009900;
}

.eael-sticky-video-wrapper {
  position: relative;
  width: 100%;
  min-height: 10px;
  margin: 0px;
  padding: 0px;
  transition: 0.5s;
  text-align: left;
  overflow: hidden;
}

.eael-sticky-video-wrapper iframe,
.eael-sticky-video-wrapper video {
  position: relative;
  /*top: 0;
  left: 0;*/
  margin: 0px;
  padding: 0px;
  height: auto;
  border: 0;
  line-height: 1;
}

.eael-sticky-video-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50%;
  cursor: pointer;
  text-align: center;
}

.eael-sticky-video-player1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50%;
  cursor: pointer;
  text-align: center;
  background: #009900;
  z-index: 1000;
  opacity: 0.5;
}

/*
.eael-sticky-video-wrapper.out{
    position:fixed;
    bottom:20px;
    right:20px;
    width:300px;
    height:200px;
    z-index:999;
}
*/
.eael-sticky-video-player img {
  display: block;
  width: 100%;
}

.owp-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.owp-play i {
  font-size: 100px;
  color: #fff;
  opacity: 0.8;
  text-shadow: 1px 0 6px rgba(0, 0, 0, 0.3);
  transition: all .5s;
}

.eael-sticky-video-player:hover .owp-play i {
  opacity: 1;
}

.eaelsv-sticky-player {
  height: 200px;
  width: 300px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  border: 0px solid #009900;
  background-size: cover;
  z-index: 1000;
  background: transparent;
  display: none !important;
}

.eaelsv-sticky-player.eaelsv-display-player {
  display: block !important;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
