/* Overlay Styles */
.eaelsv-overlay {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 4;
  cursor: pointer;
  background-size: cover;
  background-position: 50%;
  text-align: center;
  overflow: hidden;
}

.eaelsv-overlay-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 90px;
  color: white;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* Plyr CSS Started  */
.plyr__controls button {
  box-shadow: none !important;
}

.plyr__controls button:hover {
  box-shadow: none !important;
}

.plyr--video {
  /*height:100%;*/
}

.plyr__video-embed {
  /*
  height:100%!important;
  padding-bottom:0px!important;
  */
}

.plyr__controls {
  display: none !important;
}

/* Plyr CSS Ended */
.eael-sticky-video-wrapper {
  position: relative;
  width: 100%;
  min-height: 200px;
  margin: 0px;
  padding: 0px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-align: left;
  overflow: hidden;
}

.eael-sticky-video-player2 {
  /*height:100%;*/
  min-height: 20px;
  overflow: visible;
}

/*
.eael-sticky-video-wrapper > .eael-sticky-video-player2 > iframe,
.eael-sticky-video-wrapper > .eael-sticky-video-player2 > video,
.eael-sticky-video-wrapper iframe,
.eael-sticky-video-wrapper video {
    position: relative;
    margin:0px; padding:0px;
    height:100%;
    border: 0;
    line-height: 1;
}

.eael-sticky-video-wrapper > .eael-sticky-video-player > video{
    z-index:99999;
}

.eael-sticky-video-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50%;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
}

.eael-sticky-video-player1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50%;
    cursor: pointer;
    text-align: center;
    background:#009900;
    z-index:1000;
    opacity:0.5;
}
*/
.eael-sticky-video-player2.out {
  position: fixed;
  z-index: 999;
  border: 0 !important;
  border-radius: 0px !important;
  height: 200px;
  width: 300px;
}

.eael-sticky-video-wrapper.out .eael-sticky-video-player2,
.eael-sticky-video-wrapper.out .eael-sticky-video-player {
  border-radius: 0px !important;
}

.eael-sticky-video-player2.in {
  position: relative;
  margin: 0px;
  padding: 0px;
  height: 100%;
  border: 0;
  line-height: 1;
}

/*
.eael-sticky-video-player img {
    display: block;
    width: 100%;
}
*/
.owp-play {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.owp-play i {
  font-size: 100px;
  color: #fff;
  opacity: 0.8;
  text-shadow: 1px 0 6px rgba(0, 0, 0, 0.3);
  -webkit-transition: all .5s;
  transition: all .5s;
}

.eael-sticky-video-player:hover .owp-play i {
  opacity: 1;
}

/*
.eaelsv-sticky-player {
    height: 200px;
    width: 300px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    border: 0px solid #009900;
    background-size: cover;
    z-index: 1000;
    background: transparent;
    display:none!important;
}
.eaelsv-sticky-player.eaelsv-display-player{
    display:block!important;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
*/
/* === Close Icon === */
.eaelsv-sticky-player-close {
  position: absolute;
  right: -25px;
  top: -36px;
  display: none;
  padding: 7px;
  font-size: 24px;
  z-index: 9999;
  cursor: pointer;
  box-sizing: content-box;
  overflow: visible;
}

.eaelsv-sticky-player-close:hover {
  color: #009900;
}

.eaelsv-sticky-player-close:before, .eaelsv-sticky-player-close:after {
  position: absolute;
  left: 15px;
  background-color: #333;
}

.eaelsv-sticky-player-close:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.eaelsv-sticky-player-close:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
